/*_______ SiteNav Tablet and Mobile _______*/
/* #region */
.sitenav {
  display: none;
  position: absolute;
  top: 0;
  // left: 0;
  right: 0;
  max-width: 860px;
  width: 100%;
  height: 100vh;
  padding-bottom: 40px;
  background-color: @white;
  // -webkit-overflow-scrolling: touch;
  // overflow-y: auto;
  // overflow: hidden auto;
  z-index: 8;
}
.sitenav-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  // padding: 40px 24px;
  padding: 26px 24px 0;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
}
.sitenav-closing {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  padding-bottom: 26px;
  border-bottom: 1px solid @light_grey;
}
.sitenav-close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin-left: auto;
  border-radius: 50%;
  background-color: @very_light_red;
  cursor: pointer;
}
.sitenav-close__ico {
  width: 14px;
  height: 14px;
}

// .sitenav-menu {
//   display: flex;
//   flex-direction: column;
//   align-items: flex-start;
// }
.sitenav-menu__module {
  margin-bottom: 20px;
}
.sitenav-menu__module-heading {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 12px 30px;
  font-weight: @fw-semibold;
  font-size: 30px;
  line-height: 1.2;
  text-decoration: none;
  background-color: @very_light_red;
  color: @black;
  cursor: pointer;
  .transition();
  &:hover {
    text-decoration: none;
    color: @red;
  }
}
.sitenav-menu__module-heading-control {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  // flex-shrink: 0;
  // margin-top: -10px;
  // margin-bottom: -10px;
  padding: 10px;
  margin-left: auto;
  margin-right: -10px;
}
.sitenav-menu__module-heading-ico {
  flex-shrink: 0;
  width: 16px;
  height: 11px;
  // margin-left: auto;
  // padding-left: 16px;
}
.sitenav-menu__module-heading--expanded {
  color: @red;
}
.sitenav-menu__module-heading--expanded .sitenav-menu__module-heading-ico {
  transform: rotate(180deg);
}
.sitenav-set {
  display: none;
  // background-color: @white;
}
.sitenav-set__item {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 12px 30px;
  border-right: 1px solid @light_grey;
  border-bottom: 1px solid @light_grey;
  border-left: 1px solid @light_grey;
  font-size: 20px;
  line-height: 1.2;
  text-decoration: none;
  color: @black;
  background-color: @white;
  &:hover {
    text-decoration: none;
    color: @black;
  }
}
.sitenav-set__item-ico {
  flex-shrink: 0;
  margin-left: auto;
}
.sitenav-menu__section {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  padding: 12px 30px;
  font-weight: @fw-semibold;
  font-size: 30px;
  line-height: 1.2;
  text-decoration: none;
  background-color: @very_light_red;
  color: @black;
  cursor: pointer;
  .transition();
  &:hover {
    text-decoration: none;
    color: @red;
  }
}

.sitenav-search {
  position: relative;
  width: 100%;
  z-index: 1;
}
.sitenav-search__input {
  position: relative;
  width: 100%;
  padding: 8px 30px 10px;
  border: 1px solid @stroke_dark;
  font-size: 30px;
  line-height: 1;
  color: @black;
  background-color: transparent;
}
.sitenav-search__ico {
  position: absolute;
  top: calc(50% - 12px);
  right: 30px;
  width: 24px;
  height: 24px;
  // cursor: pointer;
}
.sitenav-search__submit {
  position: absolute;
  right: 0;
  width: 64px;
  height: 100%;
  border: none;
  outline: 0;
  // font-size: 24px;
  // border: 1px solid @red;
  background-color: transparent;
  z-index: 1;
  // cursor: pointer;
}

.sitenav-contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 46px;
  border-bottom: 1px solid @stroke_dark;
}
.sitenav-contacts__title {
  margin-bottom: 32px;
  font-weight: @fw-semibold;
  font-size: 30px;
  line-height: 1;
}
.sitenav-contacts__item {
  margin-bottom: 28px;
  font-size: 20px;
  line-height: 1;
}
.sitenav-socnet {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 24px -15px;
}
.sitenav-socnet__item {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  margin-right: 15px;
  margin-left: 15px;
  &:last-child {
    margin-right: 0;
  }
  // &:hover {
  //   opacity: 0.5;
  // }
}
.sitenav-socnet__ico {
  width: 100%;
  height: 100%;
}

.sitenav-connect {
  display: flex;
  align-items: center;
  border-top: 1px solid @stroke_dark;
}
.sitenav-connect__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding-top: 36px;
  padding-bottom: 32px;
  font-size: 16px;
  line-height: 1.2;
  color: @black;
  cursor: pointer;
}
.sitenav-connect__ico {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  margin-right: 14px;
  border-radius: 50%;
  background-color: @very_light_red;
  // .transition();
}
.sitenav-connect__item-text {
  text-align: center;
}
.sitenav-connect__item-first {
  border-right: 1px solid @stroke_dark;
}

.sitenav-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: fadeout(@black, 70%);
  // overflow: hidden auto;
  z-index: 2;
}
.sitenav-overlay--active {
  display: block;
}
/* #endregion */

@media (max-width: 560px) {
  .sitenav-closing {
    margin-bottom: 24px;
    padding-bottom: 20px;
  }
  .sitenav-close {
    width: 40px;
    height: 40px;
  }
  .sitenav-close__ico {
    width: 12px;
    height: 12px;
  }

  .sitenav-menu__module-heading {
    padding: 10px 20px;
    font-size: 20px;
  }
  .sitenav-menu__module-heading-ico {
    width: 14px;
    height: 10px;
  }
  .sitenav-set__item {
    font-size: 16px;
    padding: 12px 20px;
  }
  .sitenav-menu__section {
    padding: 13px 20px;
    font-size: 20px;
  }

  .sitenav-search__input {
    padding: 8px 20px 10px;
    font-size: 20px;
  }
  .sitenav-search__submit {
    width: 50px;
  }
  .sitenav-search__ico {
    top: calc(50% - 10px);
    right: 20px;
    width: 20px;
    height: 20px;
  }

  .sitenav-contacts {
    padding-top: 28px;
    padding-bottom: 30px;
  }
  .sitenav-contacts__title {
    margin-bottom: 18px;
    font-size: 20px;
  }
  .sitenav-contacts__item {
    margin-bottom: 20px;
    font-size: 16px;
  }

  .sitenav-socnet {
    margin: 20px -15px;
  }
  .sitenav-socnet__item {
    width: 32px;
    height: 32px;
  }

  .sitenav-connect__item {
    padding-top: 20px;
    padding-bottom: 24px;
    font-size: 14px;
    flex-direction: column;
  }
  .sitenav-connect__ico {
    width: 50px;
    height: 50px;
    margin-right: 0;
    margin-bottom: 8px;
  }
  .sitenav-connect__item-text {
    width: 80px;
  }
}

@media (max-width: 420px) {
  .sitenav-wrapper {
    padding: 20px 12px 0;
  }

  .sitenav-menu__module {
    margin-bottom: 10px;
  }
  .sitenav-menu__module-heading {
    font-size: 16px;
  }
  .sitenav-menu__module-heading-ico {
    width: 11px;
    height: 7px;
  }
  .sitenav-set__item {
    padding: 10px 20px 12px;
    font-size: 14px;
  }
  .sitenav-set__item-ico {
    width: 7px;
    height: 11px;
  }
  .sitenav-menu__section {
    margin-bottom: 10px;
    padding: 14px 20px;
    font-size: 16px;
  }

  .sitenav-search__input {
    font-size: 16px;
  }
  .sitenav-search__ico {
    top: calc(50% - 8px);
    right: 20px;
    width: 16px;
    height: 16px;
  }

  .sitenav-contacts {
    padding-bottom: 10px;
    border-bottom: none;
  }
  .sitenav-contacts__title {
    margin-bottom: 20px;
    font-size: 14px;
  }
  .sitenav-contacts__item {
    margin-bottom: 20px;
    font-size: 14px;
  }

  .sitenav-socnet {
    margin: 20px -12px;
  }
  .sitenav-socnet__item {
    width: 30px;
    height: 30px;
    margin-right: 12px;
    margin-left: 12px;
  }

  .sitenav-connect__item {
    padding-top: 10px;
    padding-bottom: 16px;
  }
  .sitenav-connect__ico {
    width: 40px;
    height: 40px;
  }
  .sitenav-connect__item-ico .ico-svg {
    width: 16px;
  }
}
