<div id="sitenavMob" class="sitenav animated faster">
  <div class="sitenav-wrapper">
    <div class="sitenav-closing">
      <div class="sitenav-close js-sitenavClose">
        <img src="assets/cuptrade/img/ico/ico-cross.svg" alt="" class="sitenav-close__ico">
      </div>
    </div>
    <div class="sitenav-menu__module">
      <a href="" class="sitenav-menu__module-heading">Каталог<span class="sitenav-menu__module-heading-control js-sitenavSet_Toggle"><img src="assets/cuptrade/img/ico/ico-chevron_down.svg" alt="" class="sitenav-menu__module-heading-ico"></span></a>
      <div class="sitenav-set">
        <a href="" class="sitenav-set__item">Однослойные стаканы<img src="assets/cuptrade/img/ico/ico-chevron_right.svg" alt="" class="sitenav-set__item-ico"></a>
        <a href="" class="sitenav-set__item">Двухслойные стаканы<img src="assets/cuptrade/img/ico/ico-chevron_right.svg" alt="" class="sitenav-set__item-ico"></a>
        <a href="" class="sitenav-set__item">Крышки<img src="assets/cuptrade/img/ico/ico-chevron_right.svg" alt="" class="sitenav-set__item-ico"></a>
        <a href="" class="sitenav-set__item">Сопутствующие товары<img src="assets/cuptrade/img/ico/ico-chevron_right.svg" alt="" class="sitenav-set__item-ico"></a>
        <a href="" class="sitenav-set__item">Пластиковые стаканы и крышки<img src="assets/cuptrade/img/ico/ico-chevron_right.svg" alt="" class="sitenav-set__item-ico"></a>
        <a href="" class="sitenav-set__item">Упаковка из бумаги<img src="assets/cuptrade/img/ico/ico-chevron_right.svg" alt="" class="sitenav-set__item-ico"></a>
        <a href="" class="sitenav-set__item">Индивидуальный дизайн<img src="assets/cuptrade/img/ico/ico-chevron_right.svg" alt="" class="sitenav-set__item-ico"></a>
      </div>
    </div>
    <div class="sitenav-menu__module">
      <div class="sitenav-menu__module-heading">О нас<span class="sitenav-menu__module-heading-control js-sitenavSet_Toggle"><img src="assets/cuptrade/img/ico/ico-chevron_down.svg" alt="" class="sitenav-menu__module-heading-ico"></span></div>
      <div class="sitenav-set">
        <a href="" class="sitenav-set__item">О компании<img src="assets/cuptrade/img/ico/ico-chevron_right.svg" alt="" class="sitenav-set__item-ico"></a>
        <a href="" class="sitenav-set__item">Доставка и оплата<img src="assets/cuptrade/img/ico/ico-chevron_right.svg" alt="" class="sitenav-set__item-ico"></a>
        <a href="" class="sitenav-set__item">Контакты<img src="assets/cuptrade/img/ico/ico-chevron_right.svg" alt="" class="sitenav-set__item-ico"></a>
      </div>
    </div>
    <a href="" class="sitenav-menu__section">Производство</a>
    <a href="" class="sitenav-menu__section">Ваш дизайн</a>
    <a href="" class="sitenav-menu__section">Ваш логотип</a>
    <form action="" method="POST" class="sitenav-search">
      <input type="search" name="search_query" id="sitenavSearchField" class="sitenav-search__input" placeholder="Я ищу...">
      <input type="submit" name="sitenavSearch_submit" id="sitenavSearchButton" class="sitenav-search__submit" value="">
      <img src="assets/cuptrade/img/ico/ico-search.svg" alt="" class="sitenav-search__ico">
    </form>
    <div class="sitenav-contacts">
      <div class="sitenav-contacts__title">Контакты</div>
      <div class="sitenav-contacts__item">г. Москва, ул. Свободы 35, с10</div>
      <a href="tel:+75242572578" class="sitenav-contacts__item">+7 (524) 257-25-78</a>
      <a href="mailto:hey@cuptrade.ru" class="sitenav-contacts__item">hey@cuptrade.ru</a>
      <button class="button button-primary sitenav__button js-modalCall_Mob" data-modal-called="modalCallback">Заказать звонок</button>
    </div>
    <div class="sitenav-socnet">
      <a href="" class="sitenav-socnet__item">
        <img src="assets/cuptrade/img/ico/ico-inst-gradient.svg" alt="" class="sitenav-socnet__ico">
      </a>
      <a href="" class="sitenav-socnet__item">
        <img src="assets/cuptrade/img/ico/ico-whatsapp-green.svg" alt="" class="sitenav-socnet__ico">
      </a>
      <a href="" class="sitenav-socnet__item">
        <img src="assets/cuptrade/img/ico/ico-telegram-color.svg" alt="" class="sitenav-socnet__ico">
      </a>
    </div>
    <div class="sitenav-connect">
      <div class="sitenav-connect__item sitenav-connect__item-first js-modalCall_Mob" data-modal-called="modalGetExample">
        <span class="sitenav-connect__ico">
          <svg width="19" height="20" viewbox="0 0 19 20" fill="#000100" xmlns="http://www.w3.org/2000/svg" class="ico-svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M.333 3.42A3 3 0 013.303 0h12.391a3 3 0 012.97 3.424l-.174 1.217-1.98-.282.174-1.218A1 1 0 0015.694 2H3.304a1 1 0 00-.99 1.14l1.983 14a1 1 0 00.99.86h8.496a1 1 0 00.984-.82l.25-1.36 1.967.36-.25 1.361A3 3 0 0113.784 20H5.286a3 3 0 01-2.97-2.58l-1.984-14z" /><path fill-rule="evenodd" clip-rule="evenodd" d="M15 13V7h2v6h-2z" /> <path fill-rule="evenodd" clip-rule="evenodd" d="M13 9h6v2h-6V9z" /></svg>
        </span>
        <span class="sitenav-connect__item-text">
          Получить образцы
        </span>
      </div>
      <div class="sitenav-connect__item js-modalCall_Mob" data-modal-called="modalGetOptprice">
        <span class="sitenav-connect__ico">
          <svg width="20" height="14" viewbox="0 0 20 14" fill="#000100" xmlns="http://www.w3.org/2000/svg" class="ico-svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M2 6.8v4a1 1 0 001 1h14a1 1 0 001-1v-4h2v4a3 3 0 01-3 3H3a3 3 0 01-3-3v-4h2z" /><path fill-rule="evenodd" clip-rule="evenodd" d="M4.307 1.721L5.693.28 10 4.414 14.307.279l1.386 1.442L10 7.186 4.307 1.721z" /></svg>
        </span>
        <span class="sitenav-connect__item-text">
          Оптовый прайс-лист
        </span>
      </div>
    </div>
  </div>
</div>

<div id="sitenavOverlay" class="sitenav-overlay"></div>
