/*_______ delivery _______*/
/* #region */
.delivery-promo-section {
  position: relative;
  margin-bottom: 110px;
  background: url("../img/delivery_promo.jpg") 50% 50% no-repeat;
  background-size: cover;
  // overflow-y: hidden;
  z-index: 0;
}
.delivery-promo__shape {
  position: absolute;
  transform: rotate(315deg);
  bottom: -160px;
  left: 70px;
  // border: 1px solid @red;
  z-index: -1;
}
.delivery-promo__shape2 {
  position: absolute;
  transform: rotate(315deg);
  top: -210px;
  left: calc(45% - 140px);
  // border: 1px solid @red;
  z-index: -1;
}
.delivery-promo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
  padding-bottom: 150px;
  color: @white;
}

.delivery-section {
  position: relative;
  padding-bottom: 110px;
  z-index: 0;
}
.delivery-section__shape {
  position: absolute;
  top: -210px;
  right: 120px;
  height: 150px;
  transform: rotate(42deg);
  z-index: -1;
}
.delivery-title {
  position: relative;
  display: flex;
  // align-items: center;
  width: 100%;
  // height: 16px;
  margin-bottom: 100px;
  font-weight: @fw-semibold;
  font-size: 40px;
  line-height: 1.2;
  z-index: 1;
}
.delivery-title::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  top: 60%;
  border-bottom: 1px solid @stroke_dark;
  z-index: -1;
}
.delivery-title__text {
  display: inline-block;
  padding-right: 28px;
  background-color: @white;
}
.delivery-wrap {
  display: flex;
  margin: 0 -15px;
}
.delivery-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: calc(33.33% - 30px);
  margin: 0 15px;
  padding: 0 30px 40px;
  background-color: @very_light_red;
}
.delivery-item__ico {
  // margin-top: -75px;
  margin-top: -84px;
  margin-bottom: 24px;
}
.delivery-item__title {
  margin-bottom: 20px;
  font-weight: @fw-semibold;
  font-size: 24px;
  line-height: 1.2;
  color: @black;
}
.delivery-item__text {
  font-size: 16px;
  line-height: 1.5;
  color: @black;
}
.delivery-item__note {
  margin-top: 28px;
  font-size: 14px;
  line-height: 1.2;
  color: @grey;
}
/* #endregion */

@media (max-width: 1030px) {
  .delivery-promo-section {
    margin-bottom: 80px;
  }
  .delivery-section {
    padding-bottom: 60px;
  }
}

@media (max-width: 860px) {
  .delivery-section__shape {
    top: -160px;
    right: 60px;
    height: 120px;
  }
  .delivery-title {
    margin-bottom: 32px;
    font-size: 34px;
  }
  .delivery-wrap {
    flex-direction: column;
    margin: 16px 0 0;
  }
  .delivery-item {
    flex-direction: row;
    width: 100%;
    margin: 0 0 30px 60px;
    padding: 30px 30px 30px 37px;
  }
  .delivery-item__info {
    padding-left: 32px;
  }
  .delivery-item__ico {
    width: 126px;
    height: 126px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: -75px;
  }
}

@media (max-width: 560px) {
  .delivery-promo-section {
    margin-bottom: 72px;
  }
  .delivery-promo__shape {
    bottom: -110px;
    left: -90px;
    height: 220px;
  }
  .delivery-promo__shape2 {
    display: none;
  }
  .delivery-section__shape {
    display: none;
    // right: -40px;
  }
  .delivery-section {
    padding-bottom: 16px;
  }
  .delivery-title {
    margin-bottom: 64px;
  }
  .delivery-item {
    flex-direction: column;
    margin: 0 0 60px 0;
    padding: 55px 20px 30px 20px;
  }
  .delivery-item__ico {
    width: 80px;
    height: 80px;
    margin-top: -96px;
    margin-bottom: 12px;
    margin-left: 0;
  }
  .delivery-item__info {
    padding-left: 0;
  }
  .delivery-item__title {
    margin-bottom: 10px;
    font-size: 20px;
  }
}
