<div class="delivery-promo-section section">
  <img src="assets/cuptrade/img/bg_lines_square_white.svg" alt="" class="delivery-promo__shape">
  <img src="assets/cuptrade/img/bg_lines_square_white.svg" alt="" class="delivery-promo__shape2">
  <div class="breadcrumbs breadcrumbs--white section">
    <div class="section-wrapper">
      <a href="" class="breadcrumbs__item">О нас<img src="assets/cuptrade/img/ico/ico-chevron_small-white.svg" alt="" class="breadcrumbs__pointer"></a>
      <span class="breadcrumbs__item breadcrumbs__item--current">Доставка и оплата</span>
    </div>
  </div>
  <div class="section-wrapper">
    <div class="delivery-promo">
      <h1 class="title promo-title">Доставка и оплата</h1>
      <div class="promo-subtitle">Мы доставляем нашу продукцию по Москве, МО и в регионы РФ.</div>
    </div>
  </div>
</div>

<div class="delivery-section section">
  <img src="assets/cuptrade/img/bg_linnes_red_about.svg" alt="" class="delivery-section__shape">
  <div class="section-wrapper">
    <div class="delivery-title"><span class="delivery-title__text">Доставка</span></div>
    <div class="delivery-wrap">
      <div class="delivery-item">
        <img src="assets/cuptrade/img/ico-concept/ico-tower.svg" alt="" class="delivery-item__ico">
        <div class="delivery-item__info">
          <div class="delivery-item__title">По Москве</div>
          <div class="delivery-item__text">Мы доставляем заказы по Москве и МО бесплатно на следующий день после совершения заказа (кроме выходных дней).</div>
          <div class="delivery-item__note">Стоимость доставки по Москве при сумме заказа менее 5000р. составляет 500р.</div>
        </div>
      </div>
      <div class="delivery-item">
        <img src="assets/cuptrade/img/ico-concept/ico-star_locate.svg" alt="" class="delivery-item__ico">
        <div class="delivery-item__info">
          <div class="delivery-item__title">По МО</div>
          <div class="delivery-item__text">Находитесь за МКАД? Не проблема! Доставим бесплатно в радиусе 5 км. от МКАД, далее – 30р. за 1 км.</div>
        </div>
      </div>
      <div class="delivery-item">
        <img src="assets/cuptrade/img/ico-concept/ico-pin_pack.svg" alt="" class="delivery-item__ico">
        <div class="delivery-item__info">
          <div class="delivery-item__title">В регионы РФ</div>
          <div class="delivery-item__text">Бесплатно доставим Ваш заказ до терминала выбранной Вами или предложенной нами транспортной компании.</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="delivery-section section">
  <div class="section-wrapper">
    <div class="delivery-title"><span class="delivery-title__text">Оплата</span></div>
    <div class="delivery-wrap">
      <div class="delivery-item">
        <img src="assets/cuptrade/img/ico-concept/ico-credit_card.svg" alt="" class="delivery-item__ico">
        <div class="delivery-item__info">
          <div class="delivery-item__title">Картой</div>
          <div class="delivery-item__text">Вы можете оплатить заказ банковской картой при получении заказа (доставка или самовывоз).</div>
        </div>
      </div>
      <div class="delivery-item">
        <img src="assets/cuptrade/img/ico-concept/ico-cash_rub.svg" alt="" class="delivery-item__ico">
        <div class="delivery-item__info">
          <div class="delivery-item__title">Наличными</div>
          <div class="delivery-item__text">Вы можете оплатить заказ наличными курьеру во время получения Вашего заказа или во время самовывоза со склада в Москве.</div>
        </div>
      </div>
      <div class="delivery-item">
        <img src="assets/cuptrade/img/ico-concept/ico-ticket.svg" alt="" class="delivery-item__ico">
        <div class="delivery-item__info">
          <div class="delivery-item__title">По безналу</div>
          <div class="delivery-item__text">Вы можете оплатить заказ путем перечисления денежных средств на наш банковский счет (для физических и юридических лиц).</div>
        </div>
      </div>
    </div>
  </div>
</div>
