/*_______ design _______*/
/* #region */
.design-promo-section {
  // overflow-y: hidden;
}
.design-promo {
  position: relative;
  display: flex;
  margin-top: 30px;
}
.design-promo__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 70%;
  // margin-right: -150px;
  padding-top: 70px;
  padding-bottom: 60px;
  z-index: 1;
}
.design-promo__title {
  margin-bottom: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.design-promo__text {
  margin-bottom: 32px;
  font-size: 18px;
  line-height: 1.5;
  color: @black;
}
.design-promo__image {
  width: calc(60% + 150px);
  // height: 350px;
  margin-top: 30px;
  margin-left: -150px;
  background-color: @very_light_red;
}
.design-promo__img {
  position: absolute;
  right: 0;
  bottom: 0;
}

.design-components-section {
  position: relative;
  margin-top: 90px;
  margin-bottom: 100px;
  border-bottom: 1px solid @stroke_dark;
}
.design-components {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px 40px;
  padding-top: 40px;
}
.design-component {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(50% - 30px);
  margin: 0 15px 80px;
  padding: 10px 70px 30px;
  background-color: @very_light_red;
}
.design-component__number {
  margin-top: -48px;
  margin-bottom: 24px;
  font-weight: @fw-light;
  font-size: 60px;
  line-height: 1;
  color: @red;
}
.design-component__title {
  font-weight: @fw-semibold;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  color: @black;
}

.design-price-section {
  margin-bottom: 90px;
  padding-bottom: 120px;
  border-bottom: 1px solid @stroke_dark;
}
.design-price__heading {
  display: flex;
  align-items: baseline;
  margin-bottom: 40px;
  padding-top: 16px;
}
.design-price__title {
  padding-right: 16px;
}
.design-price__note {
  margin-left: auto;
  font-size: 16px;
  line-height: 1.25;
  color: @red;
}
.design-price__table {
  margin-bottom: 50px;
}
.price-table thead tr,
.price-table th
{
  background-color: @very_light_red;
}
.price-table th,
.price-table td {
  text-align: right;
}
.price-table th:first-child,
.price-table td:first-child {
  max-width: 310px;
  width: 25%;
  text-align: left;
}
.price-table__head-accent {
  color: @red;
}
.price-table__calc {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  border: none;
  text-align: center;
  line-height: 1;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  .transition;
  &:hover {
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
}
.price-table__calc-ico {
  flex-shrink: 0;
  // width: 32px;
  height: 32px;
}

.design-portfolio-section {
  margin-bottom: 60px;
  padding-bottom: 120px;
  border-bottom: 1px solid @stroke_dark;
}
.design-portfolio-section .gallery-section {
  margin-bottom: 30px;
}

.design-section {
  position: relative;
  margin-bottom: 60px;
}
.design-section__shape {
  position: absolute;
  top: -110px;
  left: -40px;
}
// .design-section h2,
// .design-section h3,
// .design-section h4,
// .design-section h5 {
//   padding-top: 10px;
// }
/* #endregion */

@media (max-width: 1030px) {
  .design-components-section {
    margin-top: 70px;
    margin-bottom: 70px;
  }
  .design-component {
    padding-right: 20px;
    padding-left: 20px;
  }

  .design-section__shape {
    display: none;
  }
}

@media (max-width: 860px) {
  .design-promo {
    margin-right: -30px;
  }
  .design-promo__content {
    // width: 50%;
  }
  .design-promo__title {
    font-size: 40px;
  }
  .design-promo__image {
    width: calc(50% + 230px);
    margin-left: -230px;
  }

  .design-components {
    margin: 0 -12px 30px;
    // padding-top: 20px;
  }
  .design-component {
    width: calc(50% - 24px);
    margin: 0 12px 56px;
  }

  .design-price-section {
    margin-bottom: 70px;
    padding-bottom: 80px;
  }
  .design-price__title {
    font-size: 40px;
  }
  .design-price__note {
    font-size: 14px;
  }

  .design-portfolio-section {
    margin-bottom: 40px;
    padding-bottom: 100px;
  }
  .design-portfolio-section .gallery-section {
    margin-bottom: 16px;
  }
  .design-section {
    margin-bottom: 40px;
  }
}

@media (max-width: 720px) {
  // .design-components-section {
  //   margin-top: 50px;
  //   margin-bottom: 50px;
  // }
  .design-components {
    margin: 0 -12px 16px;
    padding-top: 20px;
  }
  // .design-component {
  //   padding: 10px 40px 24px;
  // }
  .design-component__number {
    margin-top: -36px;
    margin-bottom: 12px;
    font-size: 40px;
  }
  .design-component__title {
    font-size: 16px;
  }

  .price-table th,
  .price-table td {
    min-width: 90px;
  }
  .price-table th:first-child,
  .price-table td:first-child {
    max-width: initial;
    min-width: 130px;
    text-align: left;
  }
}

@media (max-width: 640px) {
  .design-promo {
    flex-direction: column;
    margin-right: 0;
  }
  .design-promo__content {
    width: 100%;
    max-width: 520px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .design-promo__image {
    width: calc(100% + 60px);
    height: 250px;
    margin-left: -30px;
  }
  .design-promo__img {
    right: -30px;
    height: 290px;
  }

  .design-components-section {
    margin-bottom: 50px;
  }

  .design-price__heading {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 16px;
  }
  .design-price__title {
    margin-bottom: 8px;
  }
  .design-price__note {
    margin-left: 0;
  }
  // .price-table th,
  // .price-table td {
  //   min-width: 120px;
  // }
}

@media (max-width: 560px) {
  .design-component__number {
    margin-top: -32px;
  }
  .design-promo__title {
    font-size: 30px;
  }
  .design-promo__text {
    font-size: 16px;
  }

  .design-components {
    margin: 0 -8px 32px;
    padding-top: 20px;
  }
  .design-component {
    width: calc(50% - 16px);
    margin: 0 8px 50px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .design-component__number {
    font-size: 36px;
  }
  .design-component__title {
    font-size: 14px;
  }

  .design-price__table {
    margin-bottom: 30px;
  }

  .design-portfolio-section {
    padding-bottom: 80px;
  }
}

@media (max-width: 420px) {
  .design-promo__image {
    height: 210px;
  }
  .design-promo__img {
    // height: 230px;
    height: auto;
  }

  .design-components-section {
    margin-top: 40px;
  }
  .design-components {
    flex-direction: column;
    margin: 0 0 20px;
  }
  .design-component {
    width: 100%;
    margin: 0 0 50px;
    padding: 10px 8px 20px;
  }

  .design-component__number {
    margin-top: -34px;
    margin-bottom: 12px;
    font-size: 40px;
  }

  .price-table th:first-child,
  .price-table td:first-child {
    min-width: 100px;
  }
  .design-section__button {
    width: 100%;
  }
}

@media (max-width: 360px) {
  .design-promo__image {
    height: 180px;
  }
}
