<div class="design-promo-section section">
  <div class="section-wrapper">
    <div class="design-promo">
      <div class="design-promo__content">
        <!-- <h1 class="title design-promo__title">Ваш дизайн</h1> -->
        <h1 class="title design-promo__title">Двухслойные бумажные стаканы с логотипом</h1>
        <div class="design-promo__text">Более пяти лет производим и поставляем качественную одноразовую посуду.</div>
        <button class="button button-primary js-modalCall" data-modal-called="modalOrder">Получить расчет</button>
      </div>
      <div class="design-promo__image">
        <img src="assets/cuptrade/img/design_promo_img.png" alt="" class="design-promo__img">
      </div>
    </div>
  </div>
</div>

<div class="design-components-section section">
  <div class="section-wrapper">
    <div class="design-components">
      <div class="design-component">
        <div class="design-component__number">От 300 шт.</div>
        <div class="design-component__title">Минимальный тираж</div>
      </div>
      <div class="design-component">
        <div class="design-component__number">1–3 дня</div>
        <div class="design-component__title">Срок производства</div>
      </div>
      <div class="design-component">
        <div class="design-component__number">До 2</div>
        <div class="design-component__title">Количество цветов</div>
      </div>
      <div class="design-component">
        <div class="design-component__number">Бесплатно!</div>
        <div class="design-component__title">Доставка</div>
      </div>
    </div>
  </div>
</div>

<div class="design-price-section section">
  <div class="section-wrapper">
    <div class="design-price__heading">
      <div class="title design-price__title">Стоимость стаканов с вашим дизайном</div>
      <div class="design-price__note">Стоимость указана в рублях за одну единицу продукции. В стоимость включена полноцветная офсетная печать</div>
    </div>
    <div class="table-wrapper design-price__table">
      <table class="price-table">
        <thead>
          <tr>
            <th>Однослойные стаканы</th>
            <th class="price-table__head-accent">1 000 шт.</th>
            <th>5 000 шт.</th>
            <th class="price-table__head-accent">10 000 шт.</th>
            <th>25 000 шт.</th>
            <th class="price-table__head-accent">50 000 шт.</th>
            <th>&gt; 50 000 шт.</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Однослойный 100 мл</td>
            <td>15,20 ₽</td>
            <td>4,91 ₽</td>
            <td>3,63 ₽</td>
            <td>2,45 ₽</td>
            <td>2,15 ₽</td>
            <td><button class="price-table__calc js-modalCall" data-modal-called="modalOrder"><img src="assets/cuptrade/img/ico/ico-calc.svg" alt="" class="price-table__calc-ico"></button></td>
          </tr>
          <tr>
            <td>Однослойный 180 мл</td>
            <td>15,54 ₽</td>
            <td>5,38 ₽</td>
            <td>3,82 ₽</td>
            <td>2,89 ₽</td>
            <td>2,59 ₽</td>
            <td><button class="price-table__calc js-modalCall" data-modal-called="modalOrder"><img src="assets/cuptrade/img/ico/ico-calc.svg" alt="" class="price-table__calc-ico"></button></td>
          </tr>
          <tr>
            <td>Однослойный 250 мл</td>
            <td>16,91 ₽</td>
            <td>5,66 ₽</td>
            <td>4,00 ₽</td>
            <td>2,94 ₽</td>
            <td>2,61 ₽</td>
            <td><button class="price-table__calc js-modalCall" data-modal-called="modalOrder"><img src="assets/cuptrade/img/ico/ico-calc.svg" alt="" class="price-table__calc-ico"></button></td>
          </tr>
          <tr>
            <td>Однослойный 300 мл</td>
            <td>17,42 ₽</td>
            <td>6,99 ₽</td>
            <td>5,56 ₽</td>
            <td>4,66 ₽</td>
            <td>4,26 ₽</td>
            <td>-</td>
          </tr>
          <tr>
            <td>Однослойный 400 мл</td>
            <td>18,09 ₽</td>
            <td>7,35 ₽</td>
            <td>5,87 ₽</td>
            <td>4,92 ₽</td>
            <td>4,56 ₽</td>
            <td>-</td>
          </tr>
          <tr>
            <th>Двухслойные стаканы</th>
            <th class="price-table__head-accent">1 000 шт.</th>
            <th>5 000 шт.</th>
            <th class="price-table__head-accent">10 000 шт.</th>
            <th>25 000 шт.</th>
            <th class="price-table__head-accent">50 000 шт.</th>
            <th>&gt; 50 000 шт.</th>
          </tr>
          <tr>
            <td>Двухслойный 250 мл</td>
            <td>17,44 ₽</td>
            <td>6,74 ₽</td>
            <td>5,24 ₽</td>
            <td>4,29 ₽</td>
            <td>3,99 ₽</td>
            <td>-</td>
          </tr>
          <tr>
            <td>Двухслойный 300 мл</td>
            <td>18,92 ₽</td>
            <td>9,45 ₽</td>
            <td>8,15 ₽</td>
            <td>7,31 ₽</td>
            <td>6,95 ₽</td>
            <td>-</td>
          </tr>
          <tr>
            <td>Двухслойный 400 мл</td>
            <td>19,69 ₽</td>
            <td>10,01 ₽</td>
            <td>8,67 ₽</td>
            <td>7,82 ₽</td>
            <td>7,45 ₽</td>
            <td>-</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="flex-centered"><button class="button button-primary design-section__button js-modalCall" data-modal-called="modalOrder">Сделать заказ</button></div>
  </div>
</div>

<div class="design-portfolio-section section">
  <div class="section-wrapper">
    <div class="section-info">
      <div class="title section-info__title">Наши работы</div>
      <p>Чистая правда, куда бы вы не написали, оставили заявку  или позвонили – вам моментально ответит именно ваш личный менеджер. Каждого из нас поистине профессионал в области одноразовой упаковки. Бюрократии – бой, мы всегда сможем договориться, смело задавайте неудобные вопросы.</p>
    </div>
    @@include('./blocks/modules/gallery/gallery.html')
    <div class="flex-centered"><button class="button button-primary design-section__button js-galleryToggleHidden" data-modal-called="modalOrder">Показать ещё</button></div>
  </div>
</div>




<div class="design-section section">
  <img src="assets/cuptrade/img/bg_lines_waves.svg" alt="" class="design-section__shape">
  <div class="section-wrapper">
    <div class="section-info">
      <h2>Заголовок второго уровня заголовок заголовок второго уровня</h2>
      <p>Чистая правда, куда бы вы не написали, оставили заявку  или позвонили – вам моментально ответит именно ваш личный менеджер. Каждого из нас поистине профессионал в области одноразовой упаковки. Бюрократии – бой, мы всегда сможем договориться, смело задавайте неудобные вопросы.🎖️🎖️🎖️</p>
      <p>Чистая правда, куда бы вы не написали, оставили заявку  или позвонили – вам моментально ответит именно ваш личный менеджер. Каждого из нас поистине профессионал в области одноразовой упаковки. Бюрократии – бой, мы всегда сможем договориться, смело задавайте неудобные вопросы.</p>
      <h3>Заголовок третьего уровня 📃</h3>
      <p>Чистая правда, куда бы вы не написали, оставили заявку  или позвонили – вам моментально ответит именно ваш личный менеджер. Каждого из нас поистине профессионал в области одноразовой упаковки. Бюрократии – бой, мы всегда сможем договориться, смело задавайте неудобные вопросы.</p>
      <h4>Заголовок четвёртого уровня</h4>
      <p>Чистая правда, куда бы вы не написали, оставили заявку  или позвонили – вам моментально ответит именно ваш личный менеджер. Каждого из нас поистине профессионал в области одноразовой упаковки. Бюрократии – бой, мы всегда сможем договориться, смело задавайте неудобные вопросы.</p>
    </div>
  </div>
</div>
