/*_______ gallery _______*/
/* #region */
.gallery-section {
  margin-top: -14px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-right: -15px;
  margin-left: -15px;
}
.gallery-preview {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: calc(25% - 30px);
  // margin: 0 15px 30px;
  margin: 0 15px;
}
// .gallery-preview-02,
// .gallery-preview-04 {
//   margin-top: 70px;
// }
// .gallery-preview-05,
// .gallery-preview-07 {
//   margin-top: -70px;
// }
.gallery-preview:nth-child(2) {
  margin-top: 70px;
}
.gallery-preview:nth-child(4) {
  margin-top: 70px;
}
.gallery-preview:nth-child(2n + 5) {
  margin-top: -70px;
}
.gallery-preview__img {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
  object-fit: cover;
}
.gallery-preview__img-hidden {
  display: none;
  // opacity: 0;
}
/* #endregion */

@media (max-width: 1030px) {
  .gallery-preview:nth-child(2) {
    margin-top: 50px;
  }
  .gallery-preview:nth-child(4) {
    margin-top: 50px;
  }
  .gallery-preview:nth-child(2n + 5) {
    margin-top: -50px;
  }
}

@media (max-width: 860px) {
  .gallery {
    margin-right: -12px;
    margin-left: -12px;
  }
  .gallery-preview {
    width: calc(33.33% - 24px);
    // margin: 0 12px 24px;
    margin: 0 12px;
  }
  .gallery-preview__img {
    margin-bottom: 24px;
  }
  .gallery-preview:nth-child(2) {
    margin-top: 50px;
  }
  .gallery-preview:nth-child(4) {
    margin-top: -50px;
  }
  .gallery-preview:nth-child(2n + 5) {
    margin-top: 0;
  }
  .gallery-preview:nth-child(3n + 4) {
    margin-top: -50px;
  }
  .gallery-preview:nth-child(3n + 6) {
    margin-top: -50px;
  }
}

@media (max-width: 560px) {
  .gallery {
    margin-right: -10px;
    margin-left: -10px;
  }
  .gallery-preview {
    width: calc(50% - 20px);
    // margin: 0 10px 20px;
    margin: 0 10px;
  }
  .gallery-preview__img {
    margin-bottom: 20px;
  }

  .gallery-preview:nth-child(2) {
    margin-top: 30px;
  }
  .gallery-preview:nth-child(4) {
    margin-top: 0;
  }
  .gallery-preview:nth-child(3n + 4) {
    margin-top: 0;
  }
  .gallery-preview:nth-child(3n + 6) {
    margin-top: 0;
  }
  .gallery-preview:nth-child(2n + 3) {
    margin-top: -30px;
  }
}
