<div class="pagination-section">
  <div class="section-wrapper">
    <div class="pagination">
      <div class="pagination__items">
        <a href="" class="pagination__control pagination__prev"><svg width="8" height="12" viewBox="0 0 8 12" fill="#000100" xmlns="http://www.w3.org/2000/svg" class="ico-svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M6.079 11.693l1.442-1.386L3.386 6l4.135-4.307L6.08.307.614 6l5.465 5.693z"/></svg></a>
        <a href="" class="pagination__item">1</a>
        <a href="" class="pagination__item">2</a>
        <span class="pagination__item pagination__item-current">3</span>
        <a href="" class="pagination__item">4</a>
        <a href="" class="pagination__item">5</a>
        <div class="pagination__dots">...</div>
        <a href="" class="pagination__item">50</a>
        <a href="" class="pagination__control pagination__next"><svg width="8" height="12" viewBox="0 0 8 12" fill="#fff" xmlns="http://www.w3.org/2000/svg" class="ico-svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M1.721 11.693L.28 10.307 4.414 6 .279 1.693 1.72.307 7.186 6l-5.465 5.693z"/></svg></a>
      </div>
      <form method="post" class="pagination-switch__form">
        <div class="pagination-switch__text">Перейти на страницу</div>
        <div class="pagination-switch__controls">
          <input type="text" name="form_pagination_switch" id="paginationForm_switch" onkeypress="return checkingNumberFormat(event);" maxlength="2" class="pagination-switch__input">
          <input type="submit" name="form_pagination_submit" id="paginationForm_submit" value="Перейти" class="pagination-switch__button">
        </div>
      </form>
    </div>
  </div>
</div>
