/*_______ Breadcrumbs _______*/
/* #region */
.pagination-section {
  padding-top: 30px;
}
.pagination {
  display: flex;
  align-items: center;
}
.pagination__items {
  display: flex;
  align-items: center;
}
.pagination__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-weight: @fw-semibold;
  font-size: 18px;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  color: @black;
  &:hover {
    text-decoration: none;
    color: @black;
    background-color: @very_light_red;
  }
}
.pagination__item-current {
  color: @white;
  background-color: @red;
  &:hover {
    color: @white;
    background-color: @red;
  }
}
.pagination__dots {
  margin-right: 5px;
  margin-left: 5px;
  font-weight: @fw-semibold;
}
.pagination__control {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.pagination__prev {
  margin-right: 16px;
  background-color: @very_light_red;
  // background-color: @red;
}
.pagination__prev:hover {
  background-color: @red;
}
.pagination__prev:hover .ico-svg {
  fill: @white;
}
.pagination__next {
  margin-left: 16px;
  background-color: @red;
}
.pagination__next:hover {
  background-color: @light_red;
}

.pagination-switch__form {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.pagination-switch__controls {
  display: flex;
  align-items: center;
}
.pagination-switch__text {
  width: 75px;
  margin-right: 20px;
  font-size: 14px;
  line-height: 1.2;
  text-align: right;
  color: @grey;
}
.pagination-switch__input {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  width: 120px;
  height: 46px;
  margin-right: -44px;
  padding-right: 60px;
  padding-left: 20px;
  border-radius: 40px;
  border: 1px solid @stroke_dark;
  font-weight: @fw-semibold;
  font-size: 18px;
  text-align: center;
  line-height: 1.2;
  outline: 0;
  appearance: textfield;
}
.pagination-switch__button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 12px 32px;
  border-radius: 80px;
  font-weight: @fw-semibold;
  font-size: 18px;
  text-align: center;
  line-height: 1.22;
  text-decoration: none;
  cursor: pointer;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  .transition;
  &:hover {
    text-decoration: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  // border: 1px solid @very_light_red;
  color: @black;
  background-color: @very_light_red;
  &:hover {
    color: @black;
    background-color: @very_light_red;
  }
}
/* #endregion */

@media (max-width: 1030px) {
  .pagination-section {
    padding-top: 20px;
  }
  .pagination {
    flex-direction: column;
  }
  .pagination-switch__form {
    flex-direction: column;
    margin-left: 0;
  }
  .pagination__items {
    margin-bottom: 30px;
  }
  .pagination-switch__text {
    order: 2;
    width: auto;
    margin-top: 10px;
    margin-right: 0;
    text-align: center;
  }
}
// @media (max-width: 860px) {
//   .pagination-section {
//     padding-top: 20px;
//   }
//   .pagination {
//     flex-direction: column;
//   }
//   .pagination-switch__form {
//     flex-direction: column;
//     margin-left: 0;
//   }
//   .pagination__items {
//     margin-bottom: 30px;
//   }
//   .pagination-switch__text {
//     order: 2;
//     width: auto;
//     margin-top: 10px;
//     margin-right: 0;
//     text-align: center;
//   }
// }

@media (max-width: 560px) {
  .pagination-section {
    padding-top: 16px;
  }
  .pagination__items {
    margin-bottom: 20px;
  }
  .pagination__item {
    width: 30px;
    height: 30px;
    font-size: 12px;
    margin-left: 2px;
    margin-right: 2px;
  }
  .pagination__dots {
    margin-right: 2px;
    margin-left: 2px;
  }
  .pagination__control {
    width: 36px;
    height: 36px;
  }
  .pagination__control .ico-svg {
    height: 9px;
  }
  .pagination__prev {
    margin-right: 2px;
  }
  .pagination__next {
    margin-left: 2px;
  }

  .pagination-switch__form {
    flex-direction: row;
  }
  .pagination-switch__text {
    order: 0;
    width: 70px;
    margin-top: 0;
    margin-right: 16px;
    font-size: 12px;
    text-align: left;
  }
  .pagination-switch__input {
    width: 105px;
    height: 41px;
    padding-right: 54px;
    padding-left: 14px;
    font-size: 12px;
  }
  .pagination-switch__button {
    padding: 12px 50px;
    font-size: 14px;
  }
}
