/*_______ Header Desktop _______*/
/* #region */
.header-section {
  position: relative;
  background-color: @white;
  z-index: 1;
}
.header {
  display: flex;
  // align-items: center;
  align-items: stretch;
  border-bottom: 1px solid @stroke_dark;
}
.header-logo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-shrink: 0;
  width: 280px;
  padding-top: 30px;
  // padding-right: 24px;
  padding-bottom: 30px;
  border-right: 1px solid @stroke_dark;
  &:hover {
    opacity: 0.6;
  }
}
.header-logo__img {
  margin-right: 16px;
}
.header-logo__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: @fw-semibold;
  font-size: 11px;
  line-height: 1;
  color: @grey;
}
.header-socnet {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 24px;
  padding-left: 24px;
  font-size: 14px;
  line-height: 1.2;
  border-right: 1px solid @stroke_dark;
}
.header-socnet .ico-svg {
  flex-shrink: 0;
}
.header-whatsapp {
  border-right: 1px solid @stroke_dark;
}
.header-whatsapp .ico-svg {
  margin-right: 10px;
}
.header-call {
  display: flex;
  align-items: center;
  padding-right: 24px;
  padding-left: 24px;
}
.header-phone {
  display: inline-flex;
  align-self: center;
  align-items: center;
  flex-shrink: 0;
  margin-right: 10px;
  padding: 11px 30px;
  font-size: 20px;
}
.header-phone__ico-mob {
  display: none;
}
// .header-phone__text {
// line-height: 1;
// color: @black;
// }
.header-callback {
  font-size: 14px;
  line-height: 1.2;
  color: @black;
  cursor: pointer;
  .transition();
  &:hover {
    color: @red;
  }
}
.header-connect__item {
  display: flex;
  align-items: center;
  border-left: 1px solid @stroke_dark;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 14px;
  line-height: 1.2;
  color: @black;
  cursor: pointer;
}
.header-connect__item-second {
  padding-right: 0;
}
.header-connect__ico {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 46px;
  height: 46px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: @very_light_red;
  // .transition();
}
.header-connect__item:hover .header-connect__ico {
  background-color: @red;
  .shadow_red_buttons();
}
.header-connect__item:hover .ico-svg {
  fill: @white;
}

.header-market-mob {
  display: none;
}
.header-burger {
  display: none;
  margin-left: auto
}
/* #endregion */

/*_______ Header Menu _______*/
/* #region */
.header-nav-section {
  position: relative;
  background-color: @white;
  // z-index: 1;
  z-index: 2;
}
.header-nav {
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: 1px solid @stroke_dark;
}
.header-nav-wrapper::-webkit-scrollbar {
  display: none; // Safari and Chrome
}
.header-nav__item {
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
  margin-right: 40px;
  padding: 24px 0;
  font-weight: @fw-semibold;
  font-size: 18px;
  line-height: 1;
  color: @black;
  &:last-child {
    margin-right: 0;
  }
}
.header-nav__item-control {
  margin-top: 4px;
  margin-left: 10px;
  .transition();
}
.header-nav__item-control--rotate {
  transform: rotate(180deg);
}
.header-nav__item:hover {
  color: @red;
}
.header-nav__item:hover .ico-svg {
  fill: @red;
}
.header-nav__item_active {
  color: @red;
}
.header-nav__catalog {
  position: relative;
  width: 280px;
  padding-right: 24px;
  border-right: 1px solid @stroke_dark;
  cursor: pointer;
}
.header-nav__catalog .header-nav__item-control {
  margin-left: auto;
}

.header-nav__item-dropdown {
  position: relative;
  cursor: pointer;
}
.header-nav-item__dropdown--active::after {
  content: "";
  position: absolute;
  height: 1px;
  top: calc(100% - 1px);
  left: 0;
  width: calc(100% - 20px);
  background-color: @light_grey;
}

.header-dropdown {
  display: none;
  position: absolute;
  padding: 22px 24px 30px;
  background-color: @white;
  // border: 1px solid @red;
  .shadow_white_card();
  // .shadow_light_red();
  z-index: 1;
}
.header-dropdown-about {
  top: 100%;
  left: -24px;
  width: 220px;
}
.header-dropdown-catalog {
  display: none;
  top: 100%;
  left: 0;
  width: 622px;
}
.header-dropdown-wide {
  display: flex;
  // overflow: hidden;
}
.header-dropdown__items {
  display: flex;
  flex-direction: column;
}
.header-dropdown__images {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-left: auto;
}
.header-dropdown__image-main {
  display: none;
  max-width: 280px;
  margin-left: auto;
  transform: rotate(325deg);
}
.header-dropdown__image {
  display: none;
  // max-height: 290px;
  height: 100%;
  margin-left: auto;
  transform: rotate(345deg);
}
.header-dropdown__image--active {
  display: block;
  position: absolute;
}
.header-dropdown__items {
  display: flex;
  flex-direction: column;
}
.header-dropdown__item {
  flex-shrink: 0;
  margin-top: 6px;
  margin-bottom: 6px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: @fw-semibold;
  font-size: 18px;
  line-height: 1.2;
  color: @black;
}

.header-search__ico {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  margin-left: auto;
  border-radius: 50%;
  cursor: pointer;
}
.header-search__ico:hover {
  background-color: @very_light_red;
}

.header-search {
  display: none;
  position: absolute;
  width: 100%;
  right: 0;
  background-color: @white;
  .shadow_search();
  z-index: 2;
}
.header-search__input {
  position: relative;
  width: 100%;
  padding: 18px 30px 20px;
  font-size: 24px;
  line-height: 1;
  color: @black;
  background-color: transparent;
}
.header-search__submit-ico {
  position: absolute;
  top: calc(50% - 12px);
  right: 30px;
  width: 24px;
  height: 24px;
  // cursor: pointer;
}
.header-search__submit {
  position: absolute;
  right: 0;
  width: 64px;
  height: 100%;
  border: none;
  outline: 0;
  background-color: transparent;
  z-index: 1;
  // cursor: pointer;
}

.header-market {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  // margin-left: 20px;
}
.header-market__ico {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.header-market__count {
  position: absolute;
  top: -10px;
  right: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 23px;
  width: 23px;
  border-radius: 50%;
  font-size: 12px;
  line-height: 1;
  color: @white;
  background-color: @black;
  .transition();
}
.header-market:hover {
  background-color: @very_light_red;
}
.header-market:hover .header-market__count {
  background-color: @red;
}
/* #endregion */

/*_______ Catalog Nav Desktop _______*/
/* #region */
.nav-catalog {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 12px;
  background-color: @white;
  // box-shadow: 0px 2px 4px rgba(45, 51, 140, 0.1);
  box-shadow: 0px 4px 6px -2px rgba(45, 51, 140, 0.1);
  z-index: 2;
}
.nav-catalog .section-wrapper {
  display: flex;
  align-items: flex-start;
}
.nav-catalog__overlay {
  position: absolute;
  left: 0;
  width: 100%;
  background-color: fadeout(@black, 70%);
  z-index: 2;
}
.nav-catalog__sections {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 425px;
  padding: 50px 64px 50px 0;
}
.nav-catalog__section {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 34px;
  cursor: pointer;
}
.nav-catalog__ico {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  margin-right: 20px;
}
.nav-catalog__heading {
  font-weight: @fw-semibold;
  font-size: 16px;
  line-height: 1.37;
  color: @black;
}
.nav-catalog__pointer {
  margin-bottom: -4px;
  margin-left: auto;
}
.nav-catalog__section_active .nav-catalog__heading {
  color: @red;
}
.nav-catalog__section_active .ico-svg {
  fill: @red;
}
.nav-catalog__section:hover .nav-catalog__heading {
  color: @red;
}
.nav-catalog__section:hover .ico-svg {
  fill: @red;
}
.catalog-modules {
  padding: 44px 0 54px 64px;
  border-left: 1px solid @light_red;
}
.catalog-module {
  display: none;
}
.catalog-module_active {
  display: block;
}
.catalog-module__heading {
  margin-bottom: 30px;
  font-weight: @fw-semibold;
  font-size: 24px;
  line-height: 1.25;
  color: @black;
}
.catalog-module__items {
  display: grid;
  // grid-template-columns: 30%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, auto);
  grid-auto-flow: column;
  grid-gap: 20px 30px;
  margin-bottom: 54px;
}
.catalog-module__item {
  font-size: 14px;
  color: @grey;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: @red;
  }
}
.catalog-module__offer:hover {
  opacity: 0.5;
}
/* #endregion */

@media (max-width: 1300px) {
  .header-whatsapp .ico-svg {
    margin-right: 0;
  }
  .header-whatsapp__text {
    display: none;
  }
}

@media (max-width: 1200px) {
  .header-socnet {
    padding-right: 20px;
    padding-left: 20px;
  }
  .header-call {
    padding-right: 20px;
    padding-left: 20px;
  }
  .header-phone {
    font-size: 16px;
  }
  .header-connect__item {
    padding-left: 20px;
    padding-right: 20px;
  }

  .header-nav__item {
    margin-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media (max-width: 1100px) {
  .header-logo {
    order: 1;
    width: auto;
    margin-right: 10px;
    padding-right: 24px;
  }
  .header-call {
    order: 2;
    margin-right: auto;
    margin-left: auto;
  }
  .header-socnet {
    padding-right: 20px;
    padding-left: 14px;
    border-right: none;
  }
  .header-instagram {
    order: 3;
  }
  .header-whatsapp {
    order: 4;
  }
  .header-whatsapp .ico-svg {
    margin-right: 10px;
  }
  .header-whatsapp__text {
    display: block;
    font-size: 12px;
  }
  .header-callback {
    display: none;
  }
  .header-connect__item {
    display: none;
  }
  .header-burger {
    order: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    // margin-left: 10px;
    padding-left: 24px;
    border-left: 1px solid @stroke_dark;
    cursor: pointer;
  }

  .header-nav__catalog {
    width: auto;
  }
  .header-nav__catalog .header-nav__item-control {
    margin-left: 10px;
  }
  .header-nav__item {
    font-size: 16px;
  }
  .header-nav__item-control {
    margin-top: 2px;
  }
  .header-search__ico {
    display: none;
  }
  .header-market {
    margin-left: auto;
  }
}

@media (max-width: 860px) {
  .header-logo {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .header-logo__img {
    width: 118px;
  }
  .header-logo__text {
    font-size: 10px;
  }
  .header-call {
    // margin-right: 0;
    // margin-left: 0;
    padding-right: 10px;
    padding-left: 10px;
  }
  .header-phone {
    padding: 9px 30px;
    font-size: 14px;
  }
  .header-socnet {
    padding: 0 8px;
    margin: 0;
  }

  .header-nav__item {
    font-size: 14px;
  }
  .header-nav__item-control {
    margin-top: 0;
  }
  .header-market {
    width: auto;
    height: auto;
  }
  .header-market:hover {
    background-color: transparent;
  }
  .header-market:hover .header-market__count {
    background-color: @black;
  }
}

@media (max-width: 760px) {
  .header-whatsapp .ico-svg {
    margin-right: 0;
  }
  .header-whatsapp__text {
    display: none;
  }

  .header-nav__item {
    margin-right: 24px;
  }
}

@media (max-width: 720px) {
  .header-nav__item {
    font-size: 13px;
  }
}

@media (max-width: 655px) {
  .header-logo__img {
    margin-right: 0;
  }
  .header-logo__text {
    display: none;
  }
  .header-logo {
    margin-right: 0;
  }
  .header-call {
    margin: 0 8px;
    padding: 0;
  }
  .header-phone {
    justify-content: center;
    width: 28px;
    height: 28px;
    margin-right: 0;
    padding: 0;
    border-radius: 50%;
    border: 1px solid @red;
    background-color: @red;
  }
  .header-phone__text {
    display: none;
  }
  .header-phone__ico-mob {
    display: block;
    height: 12px;
  }
  .header-socnet {
    // display: none;
  }
  .header-market-mob {
    order: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    padding-right: 20px;
    padding-left: 20px;
    border-left: 1px solid @stroke_dark;
  }
  // .header-burger {
  //   margin-left: 30px;
  // }

  .header-nav {
    display: none;
  }
}

@media (max-width: 560px) {
  // .header-call {
  //   margin-right: 10px;
  // }
  .header-phone {
    width: 24px;
    height: 24px;
  }
  .header-market__ico {
    width: 24px;
  }
  .header-market__count {
    right: -8px;
    width: 20px;
    height: 20px;
    font-size: 11px;
  }
}

@media (max-width: 480px) {
  .header-logo {
    padding-right: 4px;
  }
  .header-logo__img {
    width: 110px;
  }
  .header-call {
    padding-left: 0;
    // border-left: 1px solid @stroke_dark;
  }
  // .header-market-mob {
  //   padding-left: 17px;
  // }
  .header-burger {
    // margin-left: 24px;
    padding-right: 2px;
    padding-left: 20px;
  }
  .header-burger__ico {
    width: 24px;
  }
}

@media (max-width: 360px) {
  // .header-logo__img {
  //   width: 104px;
  // }
  .header-socnet {
    display: none;
  }
  .header-call {
    margin: 0 10px;
  }
  .header-market-mob {
    padding-right: 18px;
    padding-left: 18px;
  }
  .header-burger {
    // margin-left: 20px;
    padding-left: 16px;
  }
}
