<div class="header-section section">
  <div class="section-wrapper">
    <div class="header">
      <a href="https://www.cuptrade.ru/" class="header-logo">
        <img src="assets/cuptrade/img/logo-cuptrade.svg" alt="" class="header-logo__img">
        <div class="header-logo__text">
          <span>
            Одноразовая посуда
          </span>
          <span>
            из эко-материалов
          </span>
        </div>
      </a>
      <a href="" class="header-socnet header-instagram">
        <svg width="27" height="26" viewbox="0 0 27 26" fill="none" xmlns="http://www.w3.org/2000/svg" class="ico-svg"><path d="M4.487.682a6.376 6.376 0 00-2.304 1.501 6.357 6.357 0 00-1.501 2.3c-.323.824-.54 1.77-.603 3.155C.016 9.023 0 9.467 0 12.998c0 3.53.016 3.974.08 5.359.063 1.385.285 2.33.602 3.155.333.857.777 1.58 1.501 2.305a6.375 6.375 0 002.304 1.501c.825.323 1.771.54 3.156.603 1.385.063 1.829.079 5.36.079 3.53 0 3.974-.016 5.36-.08 1.384-.063 2.33-.285 3.155-.602a6.375 6.375 0 002.304-1.501 6.374 6.374 0 001.501-2.305c.323-.824.54-1.77.603-3.155.063-1.385.08-1.829.08-5.36 0-3.53-.017-3.974-.08-5.36-.063-1.384-.285-2.33-.603-3.155a6.41 6.41 0 00-1.495-2.299A6.376 6.376 0 0021.523.682c-.825-.323-1.77-.54-3.155-.603C16.983.016 16.538 0 13.008 0c-3.53 0-3.975.016-5.36.08-1.39.057-2.336.28-3.16.602zm13.77 1.734c1.268.058 1.955.27 2.415.449a4.05 4.05 0 011.496.972c.454.455.735.888.973 1.496.18.46.39 1.147.449 2.416.063 1.369.074 1.781.074 5.254 0 3.472-.016 3.885-.074 5.254-.058 1.268-.27 1.955-.45 2.415a4.05 4.05 0 01-.972 1.496 4.05 4.05 0 01-1.496.973c-.46.18-1.147.39-2.415.449-1.37.063-1.782.074-5.254.074-3.473 0-3.885-.016-5.254-.074-1.269-.058-1.956-.27-2.416-.45a4.05 4.05 0 01-1.496-.972 4.05 4.05 0 01-.972-1.496c-.18-.46-.391-1.147-.45-2.415-.063-1.37-.073-1.782-.073-5.254 0-3.473.015-3.885.074-5.254.058-1.269.27-1.956.449-2.416a4.05 4.05 0 01.972-1.496 4.05 4.05 0 011.496-.972c.46-.18 1.147-.391 2.416-.45 1.369-.063 1.781-.073 5.254-.073 3.472 0 3.885.01 5.254.074z" fill="url(#paint0_radial)" /><path d="M6.327 13.003a6.676 6.676 0 1013.352 0 6.676 6.676 0 00-13.352 0zm11.01 0a4.333 4.333 0 01-4.334 4.334 4.333 4.333 0 01-4.334-4.334 4.333 4.333 0 014.334-4.335 4.333 4.333 0 014.334 4.335z" fill="url(#paint1_radial)" /><path d="M19.948 7.622a1.56 1.56 0 100-3.119 1.56 1.56 0 000 3.119z" fill="#654C9F" /><defs><radialGradient id="paint0_radial" cx="0" cy="0" r="1" gradientunits="userSpaceOnUse" gradienttransform="rotate(-3 451.221 2.775) scale(37.5974 31.9574)"><stop stop-color="#FED576" /><stop offset=".263" stop-color="#F47133" /><stop offset=".609" stop-color="#BC3081" /><stop offset="1" stop-color="#4C63D2" /></radialGradient><radialGradient id="paint1_radial" cx="0" cy="0" r="1" gradientunits="userSpaceOnUse" gradienttransform="rotate(-3 355.64 -116.204) scale(19.3068 16.4106)"><stop stop-color="#FED576" /><stop offset=".263" stop-color="#F47133" /><stop offset=".609" stop-color="#BC3081" /><stop offset="1" stop-color="#4C63D2" /></radialGradient></defs></svg>
      </a>
      <a href="https://api.whatsapp.com/send?phone=74957226787&roistat_visit=120421&text=Мой промокод на скидку: 120421"
        class="header-socnet header-whatsapp">
        <svg width="26" height="27" viewbox="0 0 26 27" fill="#75C067" xmlns="http://www.w3.org/2000/svg" class="ico-svg"><path d="M22.2015 3.79687C21.0042 2.58841 19.5782 1.63033 18.0069 0.978471C16.4355 0.326611 14.7502 -0.00599449 13.049 3.47481e-05C5.92052 3.47481e-05 0.110999 5.80792 0.10447 12.938C0.10447 15.2217 0.701908 17.4433 1.82986 19.4103L0 26.1176L6.86238 24.3187C8.7608 25.3518 10.8876 25.8934 13.049 25.8939H13.0555C20.1856 25.8939 25.9935 20.086 26 12.9494C26.0016 11.2486 25.6667 9.56425 25.0145 7.99343C24.3623 6.42261 23.4057 4.99637 22.1999 3.79687H22.2015ZM13.049 23.7033C11.1212 23.704 9.22879 23.1852 7.57082 22.2016L7.17905 21.9665L3.10799 23.0341L4.19513 19.0626L3.94048 18.6528C2.86282 16.9394 2.29287 14.9556 2.29671 12.9315C2.29671 7.01259 7.12355 2.18411 13.0555 2.18411C14.4687 2.18158 15.8684 2.45879 17.1739 2.99978C18.4795 3.54077 19.665 4.33483 20.6622 5.33617C21.6629 6.33361 22.4562 7.51931 22.9964 8.82487C23.5365 10.1304 23.8128 11.53 23.8094 12.9429C23.8029 18.883 18.976 23.7033 13.049 23.7033ZM18.9499 15.6493C18.6283 15.4877 17.0401 14.7058 16.7413 14.5948C16.4442 14.4887 16.2271 14.4332 16.0149 14.7564C15.7978 15.078 15.1775 15.8109 14.9915 16.0215C14.8054 16.2386 14.6128 16.2631 14.2895 16.1031C13.968 15.9399 12.9249 15.6004 11.6909 14.4953C10.7278 13.6383 10.083 12.5773 9.89038 12.2557C9.70429 11.9325 9.87242 11.7594 10.034 11.5978C10.176 11.4542 10.3556 11.2191 10.5172 11.0331C10.6804 10.847 10.7343 10.7099 10.8404 10.4944C10.9465 10.2756 10.8959 10.0896 10.8159 9.92796C10.7343 9.76636 10.0895 8.17155 9.81692 7.52841C9.55575 6.89343 9.28968 6.98157 9.09053 6.97341C8.90444 6.96199 8.68734 6.96199 8.47024 6.96199C8.30629 6.96606 8.14496 7.00398 7.99636 7.07336C7.84776 7.14275 7.71511 7.2421 7.60673 7.36518C7.30964 7.68838 6.47878 8.47027 6.47878 10.0651C6.47878 11.6599 7.63774 13.1926 7.80098 13.4098C7.96095 13.6269 10.0765 16.8899 13.3232 18.2937C14.0904 18.6284 14.6944 18.8259 15.1661 18.976C15.9415 19.2242 16.6418 19.1866 17.2 19.1066C17.8203 19.012 19.1115 18.3231 19.3841 17.5673C19.6518 16.8099 19.6518 16.1635 19.5702 16.028C19.4902 15.8909 19.2731 15.8109 18.9499 15.6493Z" /></svg>
        <span class="header-whatsapp__text">
          WhatsApp
          <br>
          консультант
        </span>
      </a>
      <div class="header-call">
        <a href="tel:+75242572578" class="button button-outlined header-phone">
          <img src="assets/cuptrade/img/ico/ico-phone_cell-white.svg" alt="" class="header-phone__ico-mob">
          <span class="header-phone__text">
            +7 (524) 257-25-78
          </span>
        </a>
        <div class="header-callback js-modalCall" data-modal-called="modalCallback">
          Заказать
          <br>
          звонок
        </div>
      </div>
      <div class="header-connect__item js-modalCall" data-modal-called="modalGetExample">
        <span class="header-connect__ico">
          <svg width="19" height="20" viewbox="0 0 19 20" fill="#000100" xmlns="http://www.w3.org/2000/svg" class="ico-svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M.333 3.42A3 3 0 013.303 0h12.391a3 3 0 012.97 3.424l-.174 1.217-1.98-.282.174-1.218A1 1 0 0015.694 2H3.304a1 1 0 00-.99 1.14l1.983 14a1 1 0 00.99.86h8.496a1 1 0 00.984-.82l.25-1.36 1.967.36-.25 1.361A3 3 0 0113.784 20H5.286a3 3 0 01-2.97-2.58l-1.984-14z" /> <path fill-rule="evenodd" clip-rule="evenodd" d="M15 13V7h2v6h-2z" /> <path fill-rule="evenodd" clip-rule="evenodd" d="M13 9h6v2h-6V9z" /></svg>
        </span>
        <span class="header-connect__item-text">
          Получить
          <br>
          образцы
        </span>
      </div>
      <div class="header-connect__item header-connect__item-second js-modalCall" data-modal-called="modalGetOptprice">
        <span class="header-connect__ico">
          <svg width="20" height="14" viewbox="0 0 20 14" fill="#000100" xmlns="http://www.w3.org/2000/svg" class="ico-svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M2 6.8v4a1 1 0 001 1h14a1 1 0 001-1v-4h2v4a3 3 0 01-3 3H3a3 3 0 01-3-3v-4h2z" /> <path fill-rule="evenodd" clip-rule="evenodd" d="M4.307 1.721L5.693.28 10 4.414 14.307.279l1.386 1.442L10 7.186 4.307 1.721z" /></svg>
        </span>
        <span class="header-connect__item-text">
          Оптовый
          <br>
          прайс-лист
        </span>
      </div>
      <a href="" class="header-market-mob">
        <div class="header-market__ico">
          <img src="assets/cuptrade/img/ico/ico-cart-red.svg" alt="">
          <div class="header-market__count">
            2
          </div>
        </div>
      </a>
      <div class="header-burger js-sitenavMob_Call">
        <img src="assets/cuptrade/img/ico/ico-burger.svg" alt="" class="header-burger__ico">
      </div>
    </div>
  </div>
</div>

<div class="header-nav-section section">
  <div class="section-wrapper">
    <div class="header-nav">
      <div class="header-nav__item header-nav__catalog js-dropdownMenu_Toggle">
        Каталог
        <svg width="12" height="8" viewbox="0 0 12 8" fill="#000100" xmlns="http://www.w3.org/2000/svg" class="ico-svg header-nav__item-control"><path fill-rule="evenodd" clip-rule="evenodd" d="M.04 1.989L1.425.546l4.307 4.135L10.04.546l1.385 1.443-5.693 5.465L.04 1.989z" /></svg>
        <div class="header-dropdown header-dropdown-catalog">
          <div class="header-dropdown-wide">
            <div class="header-dropdown__items">
              <a href="" class="header-dropdown__item header-dropdown__item--active" data-headernav-img="navImg_1slcup">Однослойные стаканы</a>
              <a href="" class="header-dropdown__item" data-headernav-img="navImg_2slcup">Двухслойные бумажные</a>
              <a href="" class="header-dropdown__item" data-headernav-img="navImg_covers">Крышки для стаканов</a>
              <a href="" class="header-dropdown__item" data-headernav-img="navImg_soput">Сопутствующие товары</a>
              <a href="" class="header-dropdown__item" data-headernav-img="navImg_plastcup">Пластиковые стаканы и крышки</a>
              <a href="" class="header-dropdown__item" data-headernav-img="navImg_pack">Упаковка из бумаги</a>
            </div>
            <div class="header-dropdown__images">
              <img src="assets/cuptrade/img/cups.png" alt="" class="header-dropdown__image-main header-dropdown__image--active">
              <img src="assets/cuptrade/img/catalog/odnosloynye_stakany_bd90c.png" alt="" id="navImg_1slcup" class="header-dropdown__image animated fast">
              <img src="assets/cuptrade/img/catalog/dvuhsloynye_stakany_aeb53.png" alt="" id="navImg_2slcup" class="header-dropdown__image animated fast">
              <img src="assets/cuptrade/img/catalog/kryshki_dlya_stakanov_6c51e.png" alt="" id="navImg_covers" class="header-dropdown__image animated fast">
              <img src="assets/cuptrade/img/catalog/soputstvuyuschie_tovary_64d4a.png" alt="" id="navImg_soput" class="header-dropdown__image animated fast">
              <img src="assets/cuptrade/img/catalog/plastikovye_stakany_c5e7a.png" alt="" id="navImg_plastcup" class="header-dropdown__image animated fast">
              <img src="assets/cuptrade/img/catalog/upakovka_iz_bumagi_22bee.png" alt="" id="navImg_pack" class="header-dropdown__image animated fast">
            </div>
          </div>
        </div>
      </div>
      <div class="header-nav__item header-nav__item-dropdown js-dropdownMenu_Toggle">
        О нас
        <svg width="12" height="8" viewbox="0 0 12 8" fill="#000100" xmlns="http://www.w3.org/2000/svg" class="ico-svg header-nav__item-control"><path fill-rule="evenodd" clip-rule="evenodd" d="M.04 1.989L1.425.546l4.307 4.135L10.04.546l1.385 1.443-5.693 5.465L.04 1.989z" /></svg>
        <div class="header-dropdown header-dropdown-about">
          <div class="header-dropdown__items">
            <a href="" class="header-dropdown__item">О компании</a>
            <a href="" class="header-dropdown__item">Доставка и оплата</a>
            <a href="" class="header-dropdown__item">Контакты</a>
          </div>
        </div>
      </div>
      <a href="" class="header-nav__item header-nav__item_active">
        Производство
      </a>
      <a href="" class="header-nav__item">
        Ваш дизайн
      </a>
      <a href="" class="header-nav__item">
        Ваш логотип
      </a>
      <a href="" class="header-nav__item">
        Контакты
      </a>
      <form action="" method="POST" id="headerSearchForm" class="header-search">
        <input type="search" name="search_query" id="headerSearchField" class="header-search__input" placeholder="Я ищу...">
        <input type="submit" name="headerSearch_submit" id="headerSearchButton" class="header-search__submit" value="">
        <img src="assets/cuptrade/img/ico/ico-search.svg" alt="" class="header-search__submit-ico">
      </form>
      <div class="header-search__ico js-searchDesktop_Call">
        <img src="assets/cuptrade/img/ico/ico-search.svg" alt="">
      </div>
      <a href="" class="header-market">
        <div class="header-market__ico">
          <img src="assets/cuptrade/img/ico/ico-cart-red.svg" alt="">
          <div class="header-market__count">
            2
          </div>
        </div>
      </a>
    </div>
  </div>
</div>