<div class="search-section section">
  <div class="section-wrapper">
    <div class="title search__title">По запросу «двухслойный крафт» найдено 25 совпадений поиска</div>

    <form action="" method="POST" class="search-page-form">
      <input type="search" name="search_query" id="searchPageFormField" class="search-page-form__input" placeholder="Я ищу...">
      <input type="submit" name="searchPageForm_submit" id="searchPageFormButton" class="search-page-form__submit" value="">
      <img src="assets/cuptrade/img/ico/ico-search.svg" alt="" class="search-page-form__submit-ico">
    </form>

    <div class="section-twin">
      <div class="section-twin__side">
        @@include('./blocks/modules/sidebar/sidebar-search.html')
        @@include('./blocks/modules/sidebar-mob/sidebar-mob-search.html')
      </div>

      <div class="section-twin__main">
        <div class="catalog">

          <div class="catalog-sorting">
            <div class="catalog-sorting__title">Сортировать</div>
            <div class="catalog-sorting__controls">
              <div class="catalog-sorting__control">
                <input type="text" name="sort_Amount" id="catalogSortAmount_value" class="catalog-sorting__control-value">
                <div class="catalog-sorting__control-text">по объёму</div>
                <span class="catalog-sorting__control-icon"><svg width="12" height="8" viewBox="0 0 12 8" fill="#000100" xmlns="http://www.w3.org/2000/svg" class="ico-svg catalog-sorting__control-ico"><path fill-rule="evenodd" clip-rule="evenodd" d="M.04 1.989L1.425.546l4.307 4.135L10.04.546l1.385 1.443-5.693 5.465L.04 1.989z"/></svg></span>
                <div class="catalog-sorting__menu">
                  <input type="radio" name="sort_Amount_radio" value="от большего" id="catalogSortAmount_descent" class="catalog-sorting__menu-input">
                  <label for="catalogSortAmount_descent" class="catalog-sorting__menu-label">от большего<span class="catalog-sorting__menu-ico"><svg width="10" height="6" viewBox="0 0 12 8" fill="#000100" xmlns="http://www.w3.org/2000/svg" class="ico-svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M.04 1.989L1.425.546l4.307 4.135L10.04.546l1.385 1.443-5.693 5.465L.04 1.989z"/></svg></span></label>
                  <input type="radio" name="sort_Amount_radio" value="от меньшего" id="catalogSortAmount_ascent" class="catalog-sorting__menu-input">
                  <label for="catalogSortAmount_ascent" class="catalog-sorting__menu-label">от меньшего<span class="catalog-sorting__menu-ico"><svg width="10" height="6" viewBox="0 0 12 8" fill="#000100" xmlns="http://www.w3.org/2000/svg" class="ico-svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M.375 6.011L1.76 7.454l4.308-4.135 4.307 4.135L11.76 6.01 6.068.546.375 6.011z"/></svg></span></label>
                </div>
              </div>
              <div class="catalog-sorting__control">
                <input type="text" name="sort_Price" id="catalogSortAmount_value" class="catalog-sorting__control-value">
                <div class="catalog-sorting__control-text">по цене</div>
                <span class="catalog-sorting__control-icon"><svg width="12" height="8" viewBox="0 0 12 8" fill="#000100" xmlns="http://www.w3.org/2000/svg" class="ico-svg catalog-sorting__control-ico"><path fill-rule="evenodd" clip-rule="evenodd" d="M.04 1.989L1.425.546l4.307 4.135L10.04.546l1.385 1.443-5.693 5.465L.04 1.989z"/></svg></span>
                <div class="catalog-sorting__menu">
                  <input type="radio" name="sort_Price_radio" value="от большей" id="catalogSortPrice_descent" class="catalog-sorting__menu-input">
                  <label for="catalogSortPrice_descent" class="catalog-sorting__menu-label">от большей<span class="catalog-sorting__menu-ico"><svg width="10" height="6" viewBox="0 0 12 8" fill="#000100" xmlns="http://www.w3.org/2000/svg" class="ico-svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M.04 1.989L1.425.546l4.307 4.135L10.04.546l1.385 1.443-5.693 5.465L.04 1.989z"/></svg></span></label>
                  <input type="radio" name="sort_Price_radio" value="от меньшей" id="catalogSortPrice_ascent" class="catalog-sorting__menu-input">
                  <label for="catalogSortPrice_ascent" class="catalog-sorting__menu-label">от меньшей<span class="catalog-sorting__menu-ico"><svg width="10" height="6" viewBox="0 0 12 8" fill="#000100" xmlns="http://www.w3.org/2000/svg" class="ico-svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M.375 6.011L1.76 7.454l4.308-4.135 4.307 4.135L11.76 6.01 6.068.546.375 6.011z"/></svg></span></label>
                </div>
              </div>
            </div>
          </div>

          <div class="catalog-items">
            <a href="product.html" class="catalog-card">
              <div class="catalog-card__image">
                <img src="assets/cuptrade/img/products/prv-stakanchik_dvuhsloynyy_chernyy_250ml_d03cc.png" alt="" class="catalog-card__img">
              </div>
              <div class="catalog-card__available"><span class="catalog-card__available-text">На складе</span></div>
              <h3 class="catalog-card__title">Черный бумажный стакан 250 мл</h3>
              <div class="catalog-card__text">Собственная логистика, бесплатно* возим по Москве и до терминалов ТК</div>
              <div class="catalog-card__footer">
                <div class="catalog-card__price">от 1,82 ₽</div>
                <div class="catalog-card__forward">Купить <svg width="8" height="12" viewBox="0 0 8 12" fill="#000100" xmlns="http://www.w3.org/2000/svg" class="ico-svg catalog-card__forward-ico"><path fill-rule="evenodd" clip-rule="evenodd" d="M1.721 11.693L.28 10.307 4.414 6 .279 1.693 1.72.307 7.186 6l-5.465 5.693z"/></svg></div>
              </div>
            </a>
            <a href="product.html" class="catalog-card">
              <div class="catalog-card__image">
                <div class="catalog-card__image-label">хит</div>
                <img src="assets/cuptrade/img/products/prv-stakanchik_dvuhsloynyy_chernyy_300ml_111ad.png" alt="" class="catalog-card__img">
              </div>
              <div class="catalog-card__available"><span class="catalog-card__available-text">На складе</span></div>
              <h3 class="catalog-card__title">Черный бумажный стакан 300 мл</h3>
              <div class="catalog-card__text">Собственная логистика, бесплатно* возим по Москве и до терминалов ТК</div>
              <div class="catalog-card__footer">
                <div class="catalog-card__price">от 5,80 ₽</div>
                <div class="catalog-card__forward">Купить <svg width="8" height="12" viewBox="0 0 8 12" fill="#000100" xmlns="http://www.w3.org/2000/svg" class="ico-svg catalog-card__forward-ico"><path fill-rule="evenodd" clip-rule="evenodd" d="M1.721 11.693L.28 10.307 4.414 6 .279 1.693 1.72.307 7.186 6l-5.465 5.693z"/></svg></div>
              </div>
            </a>
            <a href="product.html" class="catalog-card">
              <div class="catalog-card__image">
                <div class="catalog-card__image-label">хит</div>
                <img src="assets/cuptrade/img/products/prv-stakanchik_odnosloynyy_chernyy_400ml_dd5fa.png" alt="" class="catalog-card__img">
              </div>
              <div class="catalog-card__available"><span class="catalog-card__available-text">На складе</span></div>
              <h3 class="catalog-card__title">Черный бумажный стакан 400 мл</h3>
              <div class="catalog-card__text">Собственная логистика, бесплатно* возим по Москве и до терминалов ТК</div>
              <div class="catalog-card__footer">
                <div class="catalog-card__price">от 7,40 ₽</div>
                <div class="catalog-card__forward">Купить <svg width="8" height="12" viewBox="0 0 8 12" fill="#000100" xmlns="http://www.w3.org/2000/svg" class="ico-svg catalog-card__forward-ico"><path fill-rule="evenodd" clip-rule="evenodd" d="M1.721 11.693L.28 10.307 4.414 6 .279 1.693 1.72.307 7.186 6l-5.465 5.693z"/></svg></div>
              </div>
            </a>
            <a href="product.html" class="catalog-card">
              <div class="catalog-card__image">
                <img src="assets/cuptrade/img/products/prv-stakanchik_dvuhsloynyy_kraft_250ml_3e2f0.png" alt="" class="catalog-card__img">
              </div>
              <div class="catalog-card__available"><span class="catalog-card__available-text">На складе</span></div>
              <h3 class="catalog-card__title">Бумажный крафт стакан 250 мл</h3>
              <div class="catalog-card__text">Собственная логистика, бесплатно* возим </div>
              <div class="catalog-card__footer">
                <div class="catalog-card__price">от 4,30 ₽</div>
                <div class="catalog-card__forward">Купить <svg width="8" height="12" viewBox="0 0 8 12" fill="#000100" xmlns="http://www.w3.org/2000/svg" class="ico-svg catalog-card__forward-ico"><path fill-rule="evenodd" clip-rule="evenodd" d="M1.721 11.693L.28 10.307 4.414 6 .279 1.693 1.72.307 7.186 6l-5.465 5.693z"/></svg></div>
              </div>
            </a>
            <a href="product.html" class="catalog-card">
              <div class="catalog-card__image">
                <div class="catalog-card__image-label">хит</div>
                <img src="assets/cuptrade/img/products/prv-stakanchik_dvuhsloynyy_kraft_300ml_8a1f5.png" alt="" class="catalog-card__img">
              </div>
              <div class="catalog-card__available"><span class="catalog-card__available-text">На складе</span></div>
              <h3 class="catalog-card__title">Бумажный крафт-стакан 300 мл</h3>
              <div class="catalog-card__text">Собственная логистика, бесплатно* возим </div>
              <div class="catalog-card__footer">
                <div class="catalog-card__price">от 5,60 ₽</div>
                <div class="catalog-card__forward">Купить <svg width="8" height="12" viewBox="0 0 8 12" fill="#000100" xmlns="http://www.w3.org/2000/svg" class="ico-svg catalog-card__forward-ico"><path fill-rule="evenodd" clip-rule="evenodd" d="M1.721 11.693L.28 10.307 4.414 6 .279 1.693 1.72.307 7.186 6l-5.465 5.693z"/></svg></div>
              </div>
            </a>
            <a href="product.html" class="catalog-card">
              <div class="catalog-card__image">
                <img src="assets/cuptrade/img/products/prv-stakanchik_dvuhsloynyy_kraft_400ml_aa195.png" alt="" class="catalog-card__img">
              </div>
              <div class="catalog-card__available"><span class="catalog-card__available-text">На складе</span></div>
              <h3 class="catalog-card__title">Стакан двухслойный крафт 400 мл</h3>
              <div class="catalog-card__text">Собственная логистика, бесплатно* возим по Москве и до терминалов ТК</div>
              <div class="catalog-card__footer">
                <div class="catalog-card__price">от 6,65 ₽</div>
                <div class="catalog-card__forward">Купить <svg width="8" height="12" viewBox="0 0 8 12" fill="#000100" xmlns="http://www.w3.org/2000/svg" class="ico-svg catalog-card__forward-ico"><path fill-rule="evenodd" clip-rule="evenodd" d="M1.721 11.693L.28 10.307 4.414 6 .279 1.693 1.72.307 7.186 6l-5.465 5.693z"/></svg></div>
              </div>
            </a>
            <a href="product.html" class="catalog-card">
              <div class="catalog-card__image">
                <div class="catalog-card__image-label">хит</div>
                <img src="assets/cuptrade/img/products/prv-stakanchik_dvuhsloynyy_-quot-pingviny-quot-_250ml_20afa.png" alt="" class="catalog-card__img">
              </div>
              <div class="catalog-card__available"><span class="catalog-card__available-text">На складе</span></div>
              <h3 class="catalog-card__title">Стакан «Пингвины» 250 мл для кофе</h3>
              <div class="catalog-card__text">Собственная логистика, бесплатно* возим по Москве и до терминалов ТК</div>
              <div class="catalog-card__footer">
                <div class="catalog-card__price">от 5,80 ₽</div>
                <div class="catalog-card__forward">Купить <svg width="8" height="12" viewBox="0 0 8 12" fill="#000100" xmlns="http://www.w3.org/2000/svg" class="ico-svg catalog-card__forward-ico"><path fill-rule="evenodd" clip-rule="evenodd" d="M1.721 11.693L.28 10.307 4.414 6 .279 1.693 1.72.307 7.186 6l-5.465 5.693z"/></svg></div>
              </div>
            </a>
            <a href="product.html" class="catalog-card">
              <div class="catalog-card__image">
                <div class="catalog-card__image-label">хит</div>
                <img src="assets/cuptrade/img/products/prv-stakanchik_dvuhsloynyy_-pandy-_400ml_9e853.png" alt="" class="catalog-card__img">
              </div>
              <div class="catalog-card__available"><span class="catalog-card__available-text">На складе</span></div>
              <h3 class="catalog-card__title">Стакан «Панды» 400 мл для горячих напитков</h3>
              <div class="catalog-card__text">Собственная логистика, бесплатно* возим по Москве и до терминалов ТК</div>
              <div class="catalog-card__footer">
                <div class="catalog-card__price">от 7,89 ₽</div>
                <div class="catalog-card__forward">Купить <svg width="8" height="12" viewBox="0 0 8 12" fill="#000100" xmlns="http://www.w3.org/2000/svg" class="ico-svg catalog-card__forward-ico"><path fill-rule="evenodd" clip-rule="evenodd" d="M1.721 11.693L.28 10.307 4.414 6 .279 1.693 1.72.307 7.186 6l-5.465 5.693z"/></svg></div>
              </div>
            </a>
            <a href="product.html" class="catalog-card">
              <div class="catalog-card__image">
                <div class="catalog-card__image-label">хит</div>
                <img src="assets/cuptrade/img/products/prv-stakanchik_dvuhsloynyy_-zverinec-_300ml_09b33.png" alt="" class="catalog-card__img">
              </div>
              <div class="catalog-card__available"><span class="catalog-card__available-text">На складе</span></div>
              <h3 class="catalog-card__title">Стакан «Зверинец» 300 мл для кофе</h3>
              <div class="catalog-card__text">Собственная логистика, бесплатно* возим по Москве и до терминалов ТК</div>
              <div class="catalog-card__footer">
                <div class="catalog-card__price">от 7,40 ₽</div>
                <div class="catalog-card__forward">Купить <svg width="8" height="12" viewBox="0 0 8 12" fill="#000100" xmlns="http://www.w3.org/2000/svg" class="ico-svg catalog-card__forward-ico"><path fill-rule="evenodd" clip-rule="evenodd" d="M1.721 11.693L.28 10.307 4.414 6 .279 1.693 1.72.307 7.186 6l-5.465 5.693z"/></svg></div>
              </div>
            </a>
          </div> <!-- end catalog-items -->
          @@include('./blocks/modules/pagination/pagination.html')
        </div>
      </div>
    </div>

  </div>
</div>