/*_______ Search Page _______*/
/* #region */
.search-section {
  padding-top: 40px;
  padding-bottom: 110px;
}
.search .section-wrapper {
  background-color: @white;
}
.search__title {
  margin-bottom: 32px;
  font-weight: @fw-semibold;
  font-size: 40px;
  line-height: 1.2;
  color: @black;
}

.search-page-form {
  position: relative;
  width: 100%;
  margin-bottom: 50px;
  background-color: @white;
  .shadow_search();
  z-index: 1;
}
.search-page-form__input {
  position: relative;
  width: 100%;
  padding: 15px 30px 16px;
  font-size: 24px;
  line-height: 1;
  color: @black;
  background-color: transparent;
}
.search-page-form__submit-ico {
  position: absolute;
  top: calc(50% - 12px);
  right: 30px;
  width: 24px;
  height: 24px;
  // cursor: pointer;
}
.search-page-form__submit {
  position: absolute;
  right: 0;
  width: 64px;
  height: 100%;
  border: none;
  outline: 0;
  background-color: transparent;
  z-index: 1;
  // cursor: pointer;
}

.search-empty-page .footer {
  margin-top: auto;
}
.search-empty-page .search-page-form {
  margin-bottom: 90px;
}
.search-empty__text {
  text-align: center;
}
.search-empty__button {
  margin-top: 20px;
}
/* #endregion */

@media (max-width: 860px) {
  .search-section {
    padding-top: 30px;
    padding-bottom: 90px;
  }

  .search__title {
    font-size: 34px;
  }
}

@media (max-width: 640px) {
  .search-section {
    padding-bottom: 60px;
  }
  .search__title {
    margin-bottom: 24px;
    font-size: 25px;
  }

  .search-page-form {
    margin-bottom: 40px;
  }
  .search-page-form__input {
    padding: 12px 20px 14px;
    font-size: 16px;
  }
  .search-page-form__submit {
    width: 40px;
  }
  .search-page-form__submit-ico {
    top: calc(50% - 9px);
    right: 20px;
    width: 18px;
    height: 18px;
  }

  .search-empty-page .search-page-form {
    margin-bottom: 50px;
  }
}
