<div class="search-section section">
  <div class="section-wrapper">
    <div class="title search__title">По запросу «смартфон» ничего не найдено</div>

    <form action="" method="POST" class="search-page-form">
      <input type="search" name="search_query" id="searchPageFormField" class="search-page-form__input" placeholder="Я ищу...">
      <input type="submit" name="searchPageForm_submit" id="searchPageFormButton" class="search-page-form__submit" value="">
      <img src="assets/cuptrade/img/ico/ico-search.svg" alt="" class="search-page-form__submit-ico">
    </form>
    <div class="search-empty__text">Попробуйте уточнить запрос или перейдите на главную страницу</div>
    <div class="flex-centered"><a href="/" class="button button-primary search-empty__button">Перейти на главную</a></div>
  </div>
</div>