/*_______ catalog _______*/
/* #region */
.catalog-section {
  padding-top: 40px;
  padding-bottom: 110px;
  // z-index: 0;
}

.catalog-main {
  padding-top: 10px;
}
.catalog-main .section-heading {
  margin-bottom: 64px;
}

.catalog-navs {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px 80px;
  padding-bottom: 50px;
  border-bottom: 1px solid @stroke_dark;
}
.catalog-nav {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: calc(25% - 30px);
  margin: 0 15px 30px;
  padding: 34px 30px 250px;
  overflow: hidden;
  z-index: 1;
}
.catalog-nav__title {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  font-weight: @fw-semibold;
  font-size: 24px;
  line-height: 1.2;
  color: @white;
  z-index: 1;
}
.catalog-nav__image {
  position: absolute;
  right: 0;
  bottom: 0;
  // width: 100%;
  // object-fit: cover;
  .transition();
  // z-index: 0;
}
.catalog-nav-singlecup {
  background-color: @red;
}
.catalog-nav-doublecup {
  background-color: @dark_grey;
}
.catalog-nav-coverscup {
  background-color: @grey;
}
.catalog-nav-provisions {
  background-color: @black;
}
.catalog-nav-plastic {
  background-color: @black;
}
.catalog-nav-packing {
  background-color: @red;
}
.catalog-nav-designcup {
  background-color: @dark_grey;
}
.catalog-nav-logocup {
  background-color: @grey;
}
.catalog-nav:hover .catalog-nav__image {
  transform: scale(1.1);
}

.catalog h1 {
  text-transform: uppercase;
}

.catalog-sorting {
  display: flex;
  align-items: baseline;
  margin-bottom: 24px;
}
.catalog-sorting__title {
  font-weight: @fw-semibold;
  font-size: 18px;
  line-height: 1.2;
  color: @grey;
}

.catalog-sorting__controls {
  display: inline-flex;
  align-items: baseline;
}
.catalog-sorting__control {
  position: relative;
  display: inline-flex;
  align-items: center;
  min-width: 130px;
  margin-left: 24px;
  padding: 10px 14px 13px;
  // border: 1px solid @red;
  font-weight: @fw-semibold;
  line-height: 1;
  color: @black;
  transition: 0.3s all ease-in-out;
  z-index: 1;
  // z-index: 0;
  cursor: pointer;
}
.catalog-sorting__control-value {
  display: none;
}
.catalog-sorting__control-text {
  padding-right: 10px;
  font-size: 18px;
  // line-height: 1;
}
.catalog-sorting__control-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -3px;
  margin-left: auto;
}
.catalog-sorting__control:hover {
  color: @red;
}
.catalog-sorting__control:hover .catalog-sorting__control-ico {
  fill: @red;
}
.catalog-sorting__menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  width: 100%;
  padding-bottom: 12px;
  // border: 1px solid @stroke_dark;
  background-color: @white;
  z-index: 2;
  outline: none;
}
.catalog-sorting__menu-input {
  display: none;
}
.catalog-sorting__menu-label {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
  padding: 4px 14px;
  font-weight: @fw-semibold;
  font-size: 14px;
  line-height: 1;
  color: @black;
  cursor: pointer;
}
.catalog-sorting__menu-ico {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -3px;
  margin-left: auto;
}
.catalog-sorting__control-expanded {
  .shadow_light_red();
  // z-index: 1;
}
.catalog-sorting__control-expanded .catalog-sorting__menu {
  display: block;
  box-shadow: 0px 14px 22px rgba(0, 0, 0, 0.06);
}

.catalog-items {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.catalog-items ~ .pagination {
  margin-bottom: 16px;
}

.catalog-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: calc(33.33% - 30px);
  margin: 0 15px 30px;
  padding-bottom: 19px;
  border: 1px solid @stroke_dark;
  text-decoration: none;
  background-color: @white;
  // background-color: @very_light_red;
}
.catalog-main .catalog-card {
  width: calc(25% - 30px);
}
.catalog-card__image {
  position: relative;
  display: flex;
  // justify-content: stretch;
  justify-content: center;
  // align-items: center;
  min-height: 260px;
  // max-height: 280px;
  // height: 100%;
  width: 100%;
  margin-bottom: 16px;
  // padding: 20px 20px 0;
  overflow: hidden;
}
.catalog-card__image-label {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  font-weight: @fw-semibold;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  color: @white;
  background-color: @red;
  z-index: 1;
}
.catalog-card__img {
  max-width: 320px;
  width: 100%;
  // height: 100%;
  object-fit: contain;
  // transition: all 0.4s ease-out;
}
.catalog-card__available {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 16px;
  margin-bottom: 10px;
  z-index: 1;
}
// .catalog-card__available::after {
//   content: "";
//   position: absolute;
//   display: block;
//   left: 20px;
//   right: 20px;
//   top: 8px;
//   border-bottom: 1px solid @stroke_dark;
//   z-index: -1;
// }
.catalog-card__available-text {
  display: inline-block;
  flex-shrink: 0;
  padding-right: 10px;
  font-weight: @fw-semibold;
  font-size: 12px;
  line-height: 1;
  color: @green;
  // background-color: @very_light_red;
  // transition: none;
}
.catalog-card__available-line {
  display: flex;
  width: 100%;
  height: 1px;
  margin-top: 4px;
  background-color: @stroke_dark;
}
.catalog-card__title {
  margin-top: 0;
  margin-bottom: 8px;
  padding-top: 0;
  font-weight: @fw-semibold;
  font-size: 18px;
  line-height: 1.2;
  color: @black;
  .transition();
}
.catalog-card__text {
  padding-bottom: 36px;
  font-family: @font;
  font-size: 16px;
  line-height: 1.4;
  color: @dark_grey;
  // color: @grey;
  .transition();
}
.catalog-card__footer {
  display: flex;
  align-items: center;
  width: calc(100% - 40px);
  // width: 100%;
  margin-top: auto;
  margin-right: 20px;
  margin-left: 20px;
  padding-top: 14px;
  border-top: 1px solid @stroke_dark;
}
.catalog-card__price {
  font-weight: @fw-semibold;
  font-size: 18px;
  line-height: 1;
  color: @red;
}
.catalog-card__forward {
  display: inline-flex;
  align-items: center;
  margin-left: auto;
  font-family: @font;
  font-size: 16px;
  line-height: 1;
  text-decoration: none;
  color: @dark_grey;
  // color: @grey;
  .transition();
  &:hover {
    text-decoration: none;
  }
}
.catalog-card__forward-ico {
  margin-bottom: -1px;
  margin-left: 14px;
  .transition();
}
.catalog-card__available,
.catalog-card__title,
.catalog-card__text {
  padding-right: 20px;
  padding-left: 20px;
}
.catalog-card:hover {
  // background-color: @white;
  .shadow_light_red();
}
// .catalog-card:hover .catalog-card__img {
//   transform: scale(1.1);
// }
// .catalog-card:hover .catalog-card__available-text {
//   background-color: @white;
// }
.catalog-card:hover .catalog-card__title {
  color: @red;
}
.catalog-card:hover .catalog-card__forward {
  color: @black;
}
.catalog-card:hover .catalog-card__text {
  opacity: 1;
}

.catalog-info-section {
  margin-bottom: 60px;
  padding-top: 40px;
  border-top: 1px solid @stroke_dark;
}

.catalog-card__carousel {
  position: relative;
  z-index: 0;
}
.catalog-card__carousel .swiper-container {
  z-index: 0;
}
.catalog-card__carousel .swiper-slide {
  display: flex;
  justify-content: center;
  // align-items: center;
}
// .catalog-card__carousel .catalog-card__img {
//   min-height: 135px;
//   // max-height: 190px;
// }
.catalog-card__carousel-pagination {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  // bottom: 15px !important;
  bottom: 0 !important;
  height: 10px;
  width: 100%;
  z-index: 1;
}
.catalog-card__carousel-pagination .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  margin-left: 2px !important;
  margin-right: 2px !important;
  border-radius: 50%;
  background-color: @stroke_dark;
  opacity: 1;
  z-index: 2;
}
.catalog-card__carousel-pagination .swiper-pagination-bullet-active {
  background-color: @red;
  opacity: 1;
}
/* #endregion */

// .catalog-items-white .catalog-card {
//   border: 1px solid @stroke_dark;
//   background-color: @white;
// }
// .catalog-items-white .catalog-card:hover {
//   // .shadow_white_card();
//   .shadow_light_red();
// }
// .catalog-items-white .catalog-card__image {
//   padding: 0;
// }
// .catalog-items-white .catalog-card__text {
//   color: @dark_grey;
// }
// .catalog-items-white .catalog-card__forward {
//   color: @dark_grey;
// }

// @media (max-width: 1200px) {
//   .catalog-section {
//     // padding-top: 30px;
//     // padding-bottom: 60px;
//   }
// }

@media (max-width: 1030px) {
  .catalog-navs {
    margin: 0 -12px 50px;
    padding-bottom: 26px;
  }
  .catalog-nav {
    width: calc(33.33% - 24px);
    margin: 0 12px 24px;
    padding: 32px 30px 198px;
  }
  .catalog-nav__image {
    width: 220px;
    // height: 190px;
  }

  .catalog-main .catalog-items {
    margin-right: -12px;
    margin-left: -12px;
  }
  .catalog-main .catalog-card {
    width: calc(33.33% - 24px);
    margin: 0 12px 24px;
  }
}

@media (max-width: 960px) {
  .catalog-card {
    width: calc(50% - 30px);
  }
}

@media (max-width: 860px) {
  .catalog-section {
    padding-top: 56px;
    padding-bottom: 100px;
  }
  // .catalog-main .section-heading {
  //   margin-bottom: 64px;
  // }
  .catalog-nav {
    padding: 24px 20px 190px;
  }
  .catalog-nav__title {
    font-size: 20px;
  }

  .catalog-main .catalog-card {
    width: calc(50% - 24px);
  }

  .catalog h1 {
    margin-bottom: 30px;
  }
}

@media (max-width: 720px) {
  .catalog-navs {
    padding-bottom: 32px;
  }
  .catalog-nav {
    width: calc(33.33% - 16px);
    margin: 0 8px 16px;
  }
}

@media (max-width: 640px) {
  // .catalog-section {
  //   padding-bottom: 60px;
  // }

  .catalog-navs {
    margin: 0 -5px 30px;
    padding-bottom: 10px;
  }
  .catalog-nav {
    width: calc(50% - 10px);
    margin: 0 5px 12px;
    // padding: 24px 20px 198px;
  }

  .catalog-main .catalog-items {
    margin-right: -5px;
    margin-left: -5px;
  }
  .catalog-main .catalog-card {
    width: calc(50% - 10px);
    margin: 0 5px 12px;
  }

  .catalog-items {
    margin: 0 -5px;
  }
  .catalog-card {
    width: calc(50% - 10px);
    margin: 0 5px 12px;
  }
}

@media (max-width: 560px) {
  .catalog h1 {
    margin-bottom: 24px;
  }

  .catalog-sorting {
    margin-bottom: 10px;
  }
  .catalog-sorting__title {
    font-size: 16px;
  }
  .catalog-sorting__control {
    margin-left: 16px;
  }
  .catalog-sorting__control-text {
    font-size: 16px;
  }
  .catalog-sorting__control-icon {
    margin-bottom: -4px;
  }
  .catalog-sorting__control-ico {
    width: 10px;
    height: 6px;
  }

  .catalog-card__image {
    min-height: auto;
    // height: 200px;
  }
  .catalog-card__title {
    font-size: 16px;
  }
  .catalog-card__text {
    padding-bottom: 24px;
    font-size: 14px;
  }

  .catalog-info-section {
    margin-bottom: 30px;
  }
}

@media (max-width: 480px) {
  .catalog-nav {
    padding-bottom: 170px;
  }
  .catalog-nav__image {
    width: 180px;
  }

  .catalog-sorting__title {
    font-size: 14px;
  }
  .catalog-sorting__control {
    min-width: 120px;
    margin-left: 10px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .catalog-sorting__control-text {
    font-size: 14px;
  }
  .catalog-sorting__control-icon {
    margin-bottom: -2px;
  }
  // .catalog-sorting__control-ico {
  //   width: 10px;
  //   height: 6px;
  // }
  .catalog-sorting__menu {
    padding-bottom: 8px;
  }
  .catalog-sorting__menu-label {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 13px;
  }

  .catalog-items {
    margin: 0 -8px;
  }
  .catalog-card {
    width: calc(50% - 16px);
    margin: 0 8px 16px;
  }
  // .catalog-card__image {
  //   height: 160px;
  // }
  .catalog-card__price {
    font-size: 16px;
  }
}

@media (max-width: 420px) {
  .catalog-nav__title {
    font-size: 18px;
  }

  .catalog-card {
    padding-bottom: 16px;
  }
  // .catalog-card__image {
  //   padding: 10px 10px 0;
  // }
  .catalog-card__image-label {
    top: 10px;
    left: 10px;
  }
  .catalog-card__available {
    margin-bottom: 8px;
  }
  .catalog-card__title {
    font-size: 14px;
  }
  .catalog-card__text {
    padding-bottom: 18px;
    font-size: 12px;
  }
  .catalog-card__available,
  .catalog-card__title,
  .catalog-card__text {
    padding-right: 10px;
    padding-left: 10px;
  }
  .catalog-card__footer {
    width: calc(100% - 20px);
    margin-right: 10px;
    margin-left: 10px;
  }
  .catalog-card__forward {
    display: none;
  }

  // .catalog-card__price {
  //   font-size: 16px;
  // }
}

@media (max-width: 360px) {
  .catalog-main {
    padding-top: 18px;
  }
  .catalog-main .section-heading {
    margin-bottom: 82px;
  }

  .catalog-navs {
    flex-direction: column;
    margin-right: 0;
    margin-left: 0;
  }
  .catalog-nav {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
  .catalog-nav__title {
    font-size: 20px;
  }

  .catalog-main .catalog-items {
    flex-direction: column;
    margin-right: 0;
    margin-left: 0;
  }
  .catalog-main .catalog-card {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }

  .catalog-sorting {
    flex-direction: column;
  }
  .catalog-sorting__title {
    margin-bottom: 6px;
  }
  .catalog-sorting__controls {
    margin-left: -10px;
  }

  .catalog-items {
    flex-direction: column;
    margin: 0;
  }
  .catalog-card {
    width: 100%;
    margin: 0 0 16px;
  }
  // .catalog-card__image {
  //   min-height: 150px;
  //   max-height: 150px;
  // }
  // .catalog-card__carousel .catalog-card__img {
  //   min-height: 150px;
  //   max-height: 150px;
  // }
  .catalog-card__forward {
    display: inline-flex;
  }
}
