@@include('./blocks/modules/breadcrumbs/breadcrumbs-catalog.html')

<div class="catalog-section section">
  <div class="section-wrapper">
    <div class="section-twin">
      <div class="section-twin__side">
        @@include('./blocks/modules/sidebar/sidebar-catalog.html')
        @@include('./blocks/modules/sidebar-mob/sidebar-mob-catalog.html')
      </div>

      <div class="section-twin__main catalog">
        <h1>Двухслойные стаканы</h1>

        <div class="catalog-sorting">
          <div class="catalog-sorting__title">Сортировать</div>
          <div class="catalog-sorting__controls">
            <div class="catalog-sorting__control">
              <input type="text" name="sort_Amount" id="catalogSortAmount_value" class="catalog-sorting__control-value">
              <div class="catalog-sorting__control-text">по объёму</div>
              <span class="catalog-sorting__control-icon"><svg width="12" height="8" viewBox="0 0 12 8" fill="#000100" xmlns="http://www.w3.org/2000/svg" class="ico-svg catalog-sorting__control-ico"><path fill-rule="evenodd" clip-rule="evenodd" d="M.04 1.989L1.425.546l4.307 4.135L10.04.546l1.385 1.443-5.693 5.465L.04 1.989z"/></svg></span>
              <div class="catalog-sorting__menu">
                <input type="radio" name="sort_Amount_radio" value="от большего" id="catalogSortAmount_descent" class="catalog-sorting__menu-input">
                <label for="catalogSortAmount_descent" class="catalog-sorting__menu-label">от большего<span class="catalog-sorting__menu-ico"><svg width="10" height="6" viewBox="0 0 12 8" fill="#000100" xmlns="http://www.w3.org/2000/svg" class="ico-svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M.04 1.989L1.425.546l4.307 4.135L10.04.546l1.385 1.443-5.693 5.465L.04 1.989z"/></svg></span></label>
                <input type="radio" name="sort_Amount_radio" value="от меньшего" id="catalogSortAmount_ascent" class="catalog-sorting__menu-input">
                <label for="catalogSortAmount_ascent" class="catalog-sorting__menu-label">от меньшего<span class="catalog-sorting__menu-ico"><svg width="10" height="6" viewBox="0 0 12 8" fill="#000100" xmlns="http://www.w3.org/2000/svg" class="ico-svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M.375 6.011L1.76 7.454l4.308-4.135 4.307 4.135L11.76 6.01 6.068.546.375 6.011z"/></svg></span></label>
              </div>
            </div>
            <div class="catalog-sorting__control">
              <input type="text" name="sort_Price" id="catalogSortAmount_value" class="catalog-sorting__control-value">
              <div class="catalog-sorting__control-text">по цене</div>
              <span class="catalog-sorting__control-icon"><svg width="12" height="8" viewBox="0 0 12 8" fill="#000100" xmlns="http://www.w3.org/2000/svg" class="ico-svg catalog-sorting__control-ico"><path fill-rule="evenodd" clip-rule="evenodd" d="M.04 1.989L1.425.546l4.307 4.135L10.04.546l1.385 1.443-5.693 5.465L.04 1.989z"/></svg></span>
              <div class="catalog-sorting__menu">
                <input type="radio" name="sort_Price_radio" value="от большей" id="catalogSortPrice_descent" class="catalog-sorting__menu-input">
                <label for="catalogSortPrice_descent" class="catalog-sorting__menu-label">от большей<span class="catalog-sorting__menu-ico"><svg width="10" height="6" viewBox="0 0 12 8" fill="#000100" xmlns="http://www.w3.org/2000/svg" class="ico-svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M.04 1.989L1.425.546l4.307 4.135L10.04.546l1.385 1.443-5.693 5.465L.04 1.989z"/></svg></span></label>
                <input type="radio" name="sort_Price_radio" value="от меньшей" id="catalogSortPrice_ascent" class="catalog-sorting__menu-input">
                <label for="catalogSortPrice_ascent" class="catalog-sorting__menu-label">от меньшей<span class="catalog-sorting__menu-ico"><svg width="10" height="6" viewBox="0 0 12 8" fill="#000100" xmlns="http://www.w3.org/2000/svg" class="ico-svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M.375 6.011L1.76 7.454l4.308-4.135 4.307 4.135L11.76 6.01 6.068.546.375 6.011z"/></svg></span></label>
              </div>
            </div>
          </div>
        </div>

        <div class="catalog-items">
          <a href="product.html" class="catalog-card">
            <div class="catalog-card__image catalog-card__carousel">
              <div class="swiper-container">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <img src="assets/cuptrade/img/products/os100_02.png" alt="" class="catalog-card__img">
                  </div>
                  <div class="swiper-slide">
                    <img src="assets/cuptrade/img/products/os100_02.png" alt="" class="catalog-card__img">
                  </div>
                  <div class="swiper-slide">
                    <img src="assets/cuptrade/img/products/os100_02.png" alt="" class="catalog-card__img">
                  </div>
                  <div class="swiper-slide">
                    <img src="assets/cuptrade/img/products/os100_02.png" alt="" class="catalog-card__img">
                  </div>
                </div>
                <div class="catalog-card__carousel-pagination"></div>
              </div>
            </div>
            <div class="catalog-card__available"><span class="catalog-card__available-text">На складе</span><span class="catalog-card__available-line"></span></div>
            <h3 class="catalog-card__title">Черный бумажный стакан 250 мл</h3>
            <div class="catalog-card__text">Собственная логистика, бесплатно* возим по Москве и до терминалов ТК</div>
            <div class="catalog-card__footer">
              <div class="catalog-card__price">от 1,82 ₽</div>
              <div class="catalog-card__forward">Купить <svg width="8" height="12" viewBox="0 0 8 12" fill="#000100" xmlns="http://www.w3.org/2000/svg" class="ico-svg catalog-card__forward-ico"><path fill-rule="evenodd" clip-rule="evenodd" d="M1.721 11.693L.28 10.307 4.414 6 .279 1.693 1.72.307 7.186 6l-5.465 5.693z"/></svg></div>
            </div>
          </a>
          <a href="product.html" class="catalog-card">
            <div class="catalog-card__image catalog-card__carousel">
              <div class="catalog-card__image-label">хит</div>
              <div class="swiper-container">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <img src="assets/cuptrade/img/products/pet400_02.png" alt="" class="catalog-card__img">
                  </div>
                  <div class="swiper-slide">
                    <img src="assets/cuptrade/img/products/pet400_02.png" alt="" class="catalog-card__img">
                  </div>
                  <div class="swiper-slide">
                    <img src="assets/cuptrade/img/products/pet400_02.png" alt="" class="catalog-card__img">
                  </div>
                  <div class="swiper-slide">
                    <img src="assets/cuptrade/img/products/pet400_02.png" alt="" class="catalog-card__img">
                  </div>
                </div>
                <div class="catalog-card__carousel-pagination"></div>
              </div>
            </div>
            <div class="catalog-card__available"><span class="catalog-card__available-text">На складе</span><span class="catalog-card__available-line"></span></div>
            <h3 class="catalog-card__title">Черный бумажный стакан 300 мл</h3>
            <div class="catalog-card__text">Собственная логистика, бесплатно* возим по Москве и до терминалов ТК</div>
            <div class="catalog-card__footer">
              <div class="catalog-card__price">от 5,80 ₽</div>
              <div class="catalog-card__forward">Купить <svg width="8" height="12" viewBox="0 0 8 12" fill="#000100" xmlns="http://www.w3.org/2000/svg" class="ico-svg catalog-card__forward-ico"><path fill-rule="evenodd" clip-rule="evenodd" d="M1.721 11.693L.28 10.307 4.414 6 .279 1.693 1.72.307 7.186 6l-5.465 5.693z"/></svg></div>
            </div>
          </a>
          <a href="product.html" class="catalog-card">
            <div class="catalog-card__image">
              <div class="catalog-card__image-label">хит</div>
              <img src="assets/cuptrade/img/products/os100_02.png" alt="" class="catalog-card__img">
            </div>
            <div class="catalog-card__available"><span class="catalog-card__available-text">На складе</span><span class="catalog-card__available-line"></span></div>
            <h3 class="catalog-card__title">Черный бумажный стакан 400 мл</h3>
            <div class="catalog-card__text">Собственная логистика, бесплатно* возим по Москве и до терминалов ТК</div>
            <div class="catalog-card__footer">
              <div class="catalog-card__price">от 7,40 ₽</div>
              <div class="catalog-card__forward">Купить <svg width="8" height="12" viewBox="0 0 8 12" fill="#000100" xmlns="http://www.w3.org/2000/svg" class="ico-svg catalog-card__forward-ico"><path fill-rule="evenodd" clip-rule="evenodd" d="M1.721 11.693L.28 10.307 4.414 6 .279 1.693 1.72.307 7.186 6l-5.465 5.693z"/></svg></div>
            </div>
          </a>
          <a href="product.html" class="catalog-card">
            <div class="catalog-card__image">
              <img src="assets/cuptrade/img/products/prv-stakanchik_dvuhsloynyy_kraft_250ml_3e2f0.png" alt="" class="catalog-card__img">
            </div>
            <div class="catalog-card__available"><span class="catalog-card__available-text">На складе</span><span class="catalog-card__available-line"></span></div>
            <h3 class="catalog-card__title">Бумажный крафт стакан 250 мл</h3>
            <div class="catalog-card__text">Собственная логистика, бесплатно* возим </div>
            <div class="catalog-card__footer">
              <div class="catalog-card__price">от 4,30 ₽</div>
              <div class="catalog-card__forward">Купить <svg width="8" height="12" viewBox="0 0 8 12" fill="#000100" xmlns="http://www.w3.org/2000/svg" class="ico-svg catalog-card__forward-ico"><path fill-rule="evenodd" clip-rule="evenodd" d="M1.721 11.693L.28 10.307 4.414 6 .279 1.693 1.72.307 7.186 6l-5.465 5.693z"/></svg></div>
            </div>
          </a>
          <a href="product.html" class="catalog-card">
            <div class="catalog-card__image">
              <div class="catalog-card__image-label">хит</div>
              <img src="assets/cuptrade/img/products/prv-stakanchik_dvuhsloynyy_kraft_300ml_8a1f5.png" alt="" class="catalog-card__img">
            </div>
            <div class="catalog-card__available"><span class="catalog-card__available-text">На складе</span><span class="catalog-card__available-line"></span></div>
            <h3 class="catalog-card__title">Бумажный крафт-стакан 300 мл</h3>
            <div class="catalog-card__text">Собственная логистика, бесплатно* возим </div>
            <div class="catalog-card__footer">
              <div class="catalog-card__price">от 5,60 ₽</div>
              <div class="catalog-card__forward">Купить <svg width="8" height="12" viewBox="0 0 8 12" fill="#000100" xmlns="http://www.w3.org/2000/svg" class="ico-svg catalog-card__forward-ico"><path fill-rule="evenodd" clip-rule="evenodd" d="M1.721 11.693L.28 10.307 4.414 6 .279 1.693 1.72.307 7.186 6l-5.465 5.693z"/></svg></div>
            </div>
          </a>
          <a href="product.html" class="catalog-card">
            <div class="catalog-card__image catalog-card__carousel">
              <div class="swiper-container">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <img src="assets/cuptrade/img/products/pet400_02.png" alt="" class="catalog-card__img">
                  </div>
                  <div class="swiper-slide">
                    <img src="assets/cuptrade/img/products/pet400_02.png" alt="" class="catalog-card__img">
                  </div>
                  <div class="swiper-slide">
                    <img src="assets/cuptrade/img/products/pet400_02.png" alt="" class="catalog-card__img">
                  </div>
                  <div class="swiper-slide">
                    <img src="assets/cuptrade/img/products/pet400_02.png" alt="" class="catalog-card__img">
                  </div>
                </div>
                <div class="catalog-card__carousel-pagination"></div>
              </div>
            </div>
            <div class="catalog-card__available"><span class="catalog-card__available-text">На складе</span><span class="catalog-card__available-line"></span></div>
            <h3 class="catalog-card__title">Стакан двухслойный крафт 400 мл</h3>
            <div class="catalog-card__text">Собственная логистика, бесплатно* возим по Москве и до терминалов ТК</div>
            <div class="catalog-card__footer">
              <div class="catalog-card__price">от 6,65 ₽</div>
              <div class="catalog-card__forward">Купить <svg width="8" height="12" viewBox="0 0 8 12" fill="#000100" xmlns="http://www.w3.org/2000/svg" class="ico-svg catalog-card__forward-ico"><path fill-rule="evenodd" clip-rule="evenodd" d="M1.721 11.693L.28 10.307 4.414 6 .279 1.693 1.72.307 7.186 6l-5.465 5.693z"/></svg></div>
            </div>
          </a>
          <a href="product.html" class="catalog-card">
            <div class="catalog-card__image">
              <div class="catalog-card__image-label">хит</div>
              <img src="assets/cuptrade/img/products/prv-stakanchik_dvuhsloynyy_-quot-pingviny-quot-_250ml_20afa.png" alt="" class="catalog-card__img">
            </div>
            <div class="catalog-card__available"><span class="catalog-card__available-text">На складе</span><span class="catalog-card__available-line"></span></div>
            <h3 class="catalog-card__title">Стакан «Пингвины» 250 мл для кофе</h3>
            <div class="catalog-card__text">Собственная логистика, бесплатно* возим по Москве и до терминалов ТК</div>
            <div class="catalog-card__footer">
              <div class="catalog-card__price">от 5,80 ₽</div>
              <div class="catalog-card__forward">Купить <svg width="8" height="12" viewBox="0 0 8 12" fill="#000100" xmlns="http://www.w3.org/2000/svg" class="ico-svg catalog-card__forward-ico"><path fill-rule="evenodd" clip-rule="evenodd" d="M1.721 11.693L.28 10.307 4.414 6 .279 1.693 1.72.307 7.186 6l-5.465 5.693z"/></svg></div>
            </div>
          </a>
          <a href="product.html" class="catalog-card">
            <div class="catalog-card__image">
              <div class="catalog-card__image-label">хит</div>
              <img src="assets/cuptrade/img/products/prv-stakanchik_dvuhsloynyy_-pandy-_400ml_9e853.png" alt="" class="catalog-card__img">
            </div>
            <div class="catalog-card__available"><span class="catalog-card__available-text">На складе</span><span class="catalog-card__available-line"></span></div>
            <h3 class="catalog-card__title">Стакан «Панды» 400 мл для горячих напитков</h3>
            <div class="catalog-card__text">Собственная логистика, бесплатно* возим по Москве и до терминалов ТК</div>
            <div class="catalog-card__footer">
              <div class="catalog-card__price">от 7,89 ₽</div>
              <div class="catalog-card__forward">Купить <svg width="8" height="12" viewBox="0 0 8 12" fill="#000100" xmlns="http://www.w3.org/2000/svg" class="ico-svg catalog-card__forward-ico"><path fill-rule="evenodd" clip-rule="evenodd" d="M1.721 11.693L.28 10.307 4.414 6 .279 1.693 1.72.307 7.186 6l-5.465 5.693z"/></svg></div>
            </div>
          </a>
          <a href="product.html" class="catalog-card">
            <div class="catalog-card__image">
              <div class="catalog-card__image-label">хит</div>
              <img src="assets/cuptrade/img/products/prv-stakanchik_dvuhsloynyy_-zverinec-_300ml_09b33.png" alt="" class="catalog-card__img">
            </div>
            <div class="catalog-card__available"><span class="catalog-card__available-text">На складе</span><span class="catalog-card__available-line"></span></div>
            <h3 class="catalog-card__title">Стакан «Зверинец» 300 мл для кофе</h3>
            <div class="catalog-card__text">Собственная логистика, бесплатно* возим по Москве и до терминалов ТК</div>
            <div class="catalog-card__footer">
              <div class="catalog-card__price">от 7,40 ₽</div>
              <div class="catalog-card__forward">Купить <svg width="8" height="12" viewBox="0 0 8 12" fill="#000100" xmlns="http://www.w3.org/2000/svg" class="ico-svg catalog-card__forward-ico"><path fill-rule="evenodd" clip-rule="evenodd" d="M1.721 11.693L.28 10.307 4.414 6 .279 1.693 1.72.307 7.186 6l-5.465 5.693z"/></svg></div>
            </div>
          </a>
        </div> <!-- end catalog-items -->
        @@include('./blocks/modules/pagination/pagination.html')
      </div><!-- end section-twin-main -->
    </div> <!-- end section-twin -->

  </div>
</div>
<div class="catalog-info-section section">
  <div class="section-wrapper">
    <div class="section-info">
      <h2>Область применения бумажных изделий из картона</h2>
      <p>Двухслойные бумажные стаканчики используются в заведениях фастфуда. Чай и кофе, лапша быстрого приготовления, бульоны, коктейли и другие блюда прекрасно совместимы с картонной тарой. Покупатель забирает ее с собой, не боясь обжечь руки или испачкать одежду — удобно и дешевле. В этом отношении востребован двухслойный крафт-стакан 250 мл, который можно заказать на нашем сайте (интернет-магазин). Мы также предлагаем приобрести одноразовые стаканы оптом. Предусмотрена доставка по городу (г. Москва) и России.</p>
      <p><i>Такая посуда не менее популярна среди железнодорожных и авиаперевозчиков, фирм, оказывающих услуги кейтеринга и доставки готовой еды в офисы. В туристическом походе, на загородном пикнике или длительной экскурсии также не обойтись без недорогих стаканов «с собой». Их можно удобно сложить в рюкзак или корзину, добавить трубочки, вилки и ложки, коробки с едой и прочие аксессуары, для надежности накрыв все крышечкой. Можно привести и другие случаи применения, но и без того ясно, насколько <a href="https://www.cuptrade.ru/katalog/">одноразовые стаканы</a> для кофеен полезны и необходимы людям.</i></p>
    </div>
  </div>
</div>
