<div class="catalog-section section">
  <div class="section-wrapper">
    <div class="catalog-main">
      <div class="section-heading">
        <h1 class="section-heading__title">Каталог</h1>
      </div>

      <div class="catalog-navs">
        <a href="" class="catalog-nav catalog-nav-singlecup">
          <h2 class="catalog-nav__title">Однослойные стаканы</h2>
          <img src="assets/cuptrade/img/catalog/catalog_single_cups.png" alt="" class="catalog-nav__image">
        </a>
        <a href="" class="catalog-nav catalog-nav-doublecup">
          <h2 class="catalog-nav__title">Двухслойные бумажные</h2>
          <img src="assets/cuptrade/img/catalog/catalog_double_cups.png" alt="" class="catalog-nav__image">
        </a>
        <a href="" class="catalog-nav catalog-nav-coverscup">
          <h2 class="catalog-nav__title">Крышки для стаканов</h2>
          <img src="assets/cuptrade/img/catalog/catalog_covers.png" alt="" class="catalog-nav__image">
        </a>
        <a href="" class="catalog-nav catalog-nav-provisions">
          <h2 class="catalog-nav__title">Сопутствующие товары</h2>
          <img src="assets/cuptrade/img/catalog/catalog_provisions.png" alt="" class="catalog-nav__image">
        </a>
        <a href="" class="catalog-nav catalog-nav-plastic">
          <h2 class="catalog-nav__title">Пластиковые стаканы и крышки</h2>
          <img src="assets/cuptrade/img/catalog/catalog_plastic.png" alt="" class="catalog-nav__image">
        </a>
        <a href="" class="catalog-nav catalog-nav-packing">
          <h2 class="catalog-nav__title">Упаковка из бумаги</h2>
          <img src="assets/cuptrade/img/catalog/catalog_packing.png" alt="" class="catalog-nav__image">
        </a>
        <a href="" class="catalog-nav catalog-nav-designcup">
          <h2 class="catalog-nav__title">Стаканы с вашим дизайном</h2>
          <img src="assets/cuptrade/img/catalog/catalog_design_cup.png" alt="" class="catalog-nav__image">
        </a>
        <a href="" class="catalog-nav catalog-nav-logocup">
          <h2 class="catalog-nav__title">Стаканы с вашим логотипом</h2>
          <img src="assets/cuptrade/img/catalog/catalog_logo_cup.png" alt="" class="catalog-nav__image">
        </a>
      </div>

      <div class="catalog-items">
        <a href="product.html" class="catalog-card">
          <div class="catalog-card__image">
            <img src="assets/cuptrade/img/products/prv-stakanchik_odnosloynyy_belyy_100ml_dc0c1.png" alt="" class="catalog-card__img">
          </div>
          <div class="catalog-card__available"><span class="catalog-card__available-text">На складе</span><span class="catalog-card__available-line"></span></div>
          <h3 class="catalog-card__title">Белый бумажный стакан 100 мл</h3>
          <div class="catalog-card__text">Собственная логистика, бесплатно* возим по Москве и до терминалов ТК</div>
          <div class="catalog-card__footer">
            <div class="catalog-card__price">от 1,82 ₽</div>
            <div class="catalog-card__forward">Купить <svg width="8" height="12" viewBox="0 0 8 12" fill="#000100" xmlns="http://www.w3.org/2000/svg" class="ico-svg catalog-card__forward-ico"><path fill-rule="evenodd" clip-rule="evenodd" d="M1.721 11.693L.28 10.307 4.414 6 .279 1.693 1.72.307 7.186 6l-5.465 5.693z"/></svg></div>
          </div>
        </a>
        <a href="product.html" class="catalog-card">
          <div class="catalog-card__image">
            <div class="catalog-card__image-label">хит</div>
            <img src="assets/cuptrade/img/products/prv-stakanchik_odnosloynyy_belyy_180ml_5ed0e.png" alt="" class="catalog-card__img">
          </div>
          <div class="catalog-card__available"><span class="catalog-card__available-text">На складе</span><span class="catalog-card__available-line"></span></div>
          <h3 class="catalog-card__title">Белый бумажный стакан 180 мл</h3>
          <div class="catalog-card__text">Собственная логистика, бесплатно* возим по Москве и до терминалов ТК</div>
          <div class="catalog-card__footer">
            <div class="catalog-card__price">от 1,94 ₽</div>
            <div class="catalog-card__forward">Купить <svg width="8" height="12" viewBox="0 0 8 12" fill="#000100" xmlns="http://www.w3.org/2000/svg" class="ico-svg catalog-card__forward-ico"><path fill-rule="evenodd" clip-rule="evenodd" d="M1.721 11.693L.28 10.307 4.414 6 .279 1.693 1.72.307 7.186 6l-5.465 5.693z"/></svg></div>
          </div>
        </a>
        <a href="product.html" class="catalog-card">
          <div class="catalog-card__image">
            <div class="catalog-card__image-label">хит</div>
            <img src="assets/cuptrade/img/products/prv-stakanchik_odnosloynyy_belyy_250ml_cf508.png" alt="" class="catalog-card__img">
          </div>
          <div class="catalog-card__available"><span class="catalog-card__available-text">На складе</span><span class="catalog-card__available-line"></span></div>
          <h3 class="catalog-card__title">Белый бумажный стакан 250 мл</h3>
          <div class="catalog-card__text">Собственная логистика, бесплатно* возим по Москве и до терминалов ТК</div>
          <div class="catalog-card__footer">
            <div class="catalog-card__price">от 2,63 ₽</div>
            <div class="catalog-card__forward">Купить <svg width="8" height="12" viewBox="0 0 8 12" fill="#000100" xmlns="http://www.w3.org/2000/svg" class="ico-svg catalog-card__forward-ico"><path fill-rule="evenodd" clip-rule="evenodd" d="M1.721 11.693L.28 10.307 4.414 6 .279 1.693 1.72.307 7.186 6l-5.465 5.693z"/></svg></div>
          </div>
        </a>
        <a href="product.html" class="catalog-card">
          <div class="catalog-card__image">
            <img src="assets/cuptrade/img/products/prv-stakanchik_odnosloynyy_belyy_300ml_42198.png" alt="" class="catalog-card__img">
          </div>
          <div class="catalog-card__available"><span class="catalog-card__available-text">На складе</span><span class="catalog-card__available-line"></span></div>
          <h3 class="catalog-card__title">Белый бумажный стакан 300 мл</h3>
          <div class="catalog-card__text">Собственная логистика, бесплатно* возим </div>
          <div class="catalog-card__footer">
            <div class="catalog-card__price">от 3,66 ₽</div>
            <div class="catalog-card__forward">Купить <svg width="8" height="12" viewBox="0 0 8 12" fill="#000100" xmlns="http://www.w3.org/2000/svg" class="ico-svg catalog-card__forward-ico"><path fill-rule="evenodd" clip-rule="evenodd" d="M1.721 11.693L.28 10.307 4.414 6 .279 1.693 1.72.307 7.186 6l-5.465 5.693z"/></svg></div>
          </div>
        </a>
        <a href="product.html" class="catalog-card">
          <div class="catalog-card__image">
            <div class="catalog-card__image-label">хит</div>
            <img src="assets/cuptrade/img/products/prv-stakanchik_odnosloynyy_belyy_400ml_b5921.png" alt="" class="catalog-card__img">
          </div>
          <div class="catalog-card__available"><span class="catalog-card__available-text">На складе</span><span class="catalog-card__available-line"></span></div>
          <h3 class="catalog-card__title">Белый бумажный стакан 400 мл</h3>
          <div class="catalog-card__text">Собственная логистика, бесплатно* возим </div>
          <div class="catalog-card__footer">
            <div class="catalog-card__price">от 4,25 ₽</div>
            <div class="catalog-card__forward">Купить <svg width="8" height="12" viewBox="0 0 8 12" fill="#000100" xmlns="http://www.w3.org/2000/svg" class="ico-svg catalog-card__forward-ico"><path fill-rule="evenodd" clip-rule="evenodd" d="M1.721 11.693L.28 10.307 4.414 6 .279 1.693 1.72.307 7.186 6l-5.465 5.693z"/></svg></div>
          </div>
        </a>
        <a href="product.html" class="catalog-card">
          <div class="catalog-card__image">
            <img src="assets/cuptrade/img/products/prv-stakanchik_odnosloynyy_chernyy_250ml_08545.png" alt="" class="catalog-card__img">
          </div>
          <div class="catalog-card__available"><span class="catalog-card__available-text">На складе</span><span class="catalog-card__available-line"></span></div>
          <h3 class="catalog-card__title">Черный бумажный стакан 250 мл</h3>
          <div class="catalog-card__text">Собственная логистика, бесплатно* возим по Москве и до терминалов ТК</div>
          <div class="catalog-card__footer">
            <div class="catalog-card__price">от 2,89 ₽</div>
            <div class="catalog-card__forward">Купить <svg width="8" height="12" viewBox="0 0 8 12" fill="#000100" xmlns="http://www.w3.org/2000/svg" class="ico-svg catalog-card__forward-ico"><path fill-rule="evenodd" clip-rule="evenodd" d="M1.721 11.693L.28 10.307 4.414 6 .279 1.693 1.72.307 7.186 6l-5.465 5.693z"/></svg></div>
          </div>
        </a>
        <a href="product.html" class="catalog-card">
          <div class="catalog-card__image">
            <img src="assets/cuptrade/img/products/prv-stakanchik_odnosloynyy_chernyy_300ml_77b8e.png" alt="" class="catalog-card__img">
          </div>
          <div class="catalog-card__available"><span class="catalog-card__available-text">На складе</span><span class="catalog-card__available-line"></span></div>
          <h3 class="catalog-card__title">Черный бумажный стакан 300 мл</h3>
          <div class="catalog-card__text">Собственная логистика, бесплатно* возим по Москве и до терминалов ТК</div>
          <div class="catalog-card__footer">
            <div class="catalog-card__price">от 3,89 ₽</div>
            <div class="catalog-card__forward">Купить <svg width="8" height="12" viewBox="0 0 8 12" fill="#000100" xmlns="http://www.w3.org/2000/svg" class="ico-svg catalog-card__forward-ico"><path fill-rule="evenodd" clip-rule="evenodd" d="M1.721 11.693L.28 10.307 4.414 6 .279 1.693 1.72.307 7.186 6l-5.465 5.693z"/></svg></div>
          </div>
        </a>
        <a href="product.html" class="catalog-card">
          <div class="catalog-card__image">
            <div class="catalog-card__image-label">хит</div>
            <img src="assets/cuptrade/img/products/prv-stakanchik_odnosloynyy_chernyy_400ml_dd5fa.png" alt="" class="catalog-card__img">
          </div>
          <div class="catalog-card__available"><span class="catalog-card__available-text">На складе</span><span class="catalog-card__available-line"></span></div>
          <h3 class="catalog-card__title">Черный бумажный стакан 400 мл</h3>
          <div class="catalog-card__text">Собственная логистика, бесплатно* возим по Москве и до терминалов ТК</div>
          <div class="catalog-card__footer">
            <div class="catalog-card__price">от 4,79 ₽</div>
            <div class="catalog-card__forward">Купить <svg width="8" height="12" viewBox="0 0 8 12" fill="#000100" xmlns="http://www.w3.org/2000/svg" class="ico-svg catalog-card__forward-ico"><path fill-rule="evenodd" clip-rule="evenodd" d="M1.721 11.693L.28 10.307 4.414 6 .279 1.693 1.72.307 7.186 6l-5.465 5.693z"/></svg></div>
          </div>
        </a>
      </div> <!-- end catalog-items -->

    </div>
  </div>
</div>