<div class="product-section section">
  @@include('./blocks/modules/breadcrumbs/breadcrumbs-product.html')
  <div class="section-wrapper">
    <h1>Стакан двухслойный бумажный белый 300 мл для напитков</h1>
    <div class="product-contain">
      <div class="product-view" data-image-previews>
        <div class="product-carousel">
          <div class="swiper-container">
            <div class="product-carousel__slides swiper-wrapper">
              <a class="product-carousel__slide swiper-slide" href="assets/cuptrade/img/products/pet400_02.png">
                <img src="assets/cuptrade/img/products/pet400_02.png" alt="" id="productImageFullsize" data-image-viewfull>
              </a>
              <a class="product-carousel__slide swiper-slide" href="assets/cuptrade/img/products/pet400_02.png">
                <img src="assets/cuptrade/img/products/pet400_02.png" alt="">
              </a>
              <a class="product-carousel__slide swiper-slide" href="assets/cuptrade/img/products/pet400_02.png">
                <img src="assets/cuptrade/img/products/pet400_02.png" alt="">
              </a>
              <a class="product-carousel__slide swiper-slide" href="assets/cuptrade/img/products/pet400_02.png">
                <img src="assets/cuptrade/img/products/pet400_02.png" alt="">
              </a>
              <a class="product-carousel__slide swiper-slide" href="assets/cuptrade/img/products/pet400_02.png">
                <img src="assets/cuptrade/img/products/pet400_02.png" alt="">
              </a>
              <a class="product-carousel__slide swiper-slide" href="assets/cuptrade/img/products/pet400_02.png">
                <img src="assets/cuptrade/img/products/pet400_02.png" alt="">
              </a>
            </div>
            <div class="product-carousel__pagination"></div>
          </div>
          <div class="product-carousel__nav product-carousel__prev"><svg width="8" height="12" viewBox="0 0 8 12" fill="#000100" xmlns="http://www.w3.org/2000/svg" class="ico-svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M6.079 11.693l1.442-1.386L3.386 6l4.135-4.307L6.08.307.614 6l5.465 5.693z"/></svg></div>
          <div class="product-carousel__nav product-carousel__next"><svg width="8" height="12" viewBox="0 0 8 12" fill="#000100" xmlns="http://www.w3.org/2000/svg" class="ico-svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M1.721 11.693L.28 10.307 4.414 6 .279 1.693 1.72.307 7.186 6l-5.465 5.693z"/></svg></div>
        </div>
        <div class="product-preview">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <img src="assets/cuptrade/img/products/pet400_02.png" alt="" class="product-preview__img swiper-slide">
              <img src="assets/cuptrade/img/products/pet400_02.png" alt="" class="product-preview__img swiper-slide">
              <img src="assets/cuptrade/img/products/pet400_02.png" alt="" class="product-preview__img swiper-slide">
              <img src="assets/cuptrade/img/products/pet400_02.png" alt="" class="product-preview__img swiper-slide">
              <img src="assets/cuptrade/img/products/pet400_02.png" alt="" class="product-preview__img swiper-slide">
              <img src="assets/cuptrade/img/products/pet400_02.png" alt="" class="product-preview__img swiper-slide">
            </div>
          </div>
          <div class="product-preview__shadow"></div>
        </div>
      </div>

      <div class="product-stats">
        <div class="product__note">Полный объем – 430мл</div>
        <div class="product-take">
          <div class="product-take__available">На складе</div>
          <div class="product-take__model">Артикул: OS180</div>
        </div>
        <form method="post" id="productOptionsForm" class="product-form">
          <div class="product-form__switchers">
            <input data-price="550" type="radio" class="product-form__switcher" name="product-pack-switcher" value="600 шт в коробке" id="600 шт в коробке" checked="">
            <label class="product-form__switcher-name" for="600 шт в коробке">600 шт в коробке</label>
            <input data-price="750" type="radio" class="product-form__switcher" name="product-pack-switcher" value="50 шт в коробке" id="50 шт в коробке">
            <label class="product-form__switcher-name" for="50 шт в коробке">50 шт в коробке</label>
          </div>

          <div class="product-form__set" data-product-counter>
            <div class="product-form__price">6.30 ₽ <span class="product-form__price-measure">за шт</span></div>
            <div class="product-form__counter">
              <div class="product-count">
                <div class="product-count__control product-count__minus js-productCount" onselectstart="return false;"><span class="product-count__control-sign">&ndash;</span></div>
                <input type="number" value="1" min="1" max="999" step="1" onkeypress="return checkingNumberFormat(event);" class="product-count__number js-productCount_Number">
                <div class="product-count__control product-count__plus js-productCount" onselectstart="return false;"><span class="product-count__control-sign">+</span></div>
              </div>
            </div>
          </div>

          <div class="product-form__options">
            <div class="product-form__checkboxer">
              <input type="checkbox" name="product_logo_add" id="formProductLogo_add" class="product-form__checkbox">
              <label for="formProductLogo_add" class="product-form__checkbox-label">Добавить логотип 1 цвет от 1.8 ₽ за стакан</label>
            </div>
            <div class="product-form__checkboxer">
              <input type="checkbox" name="product_logo_add" id="formProductLogo_add_2" class="product-form__checkbox">
              <label for="formProductLogo_add_2" class="product-form__checkbox-label">Добавить логотип 2 цвета от 2.16 ₽ за стакан</label>
            </div>
          </div>

          <div class="product-form__footer" data-product-price-wrap>
            <div class="product-form__summary">
              <div class="product-form__summary-title">Итого</div>
              <div class="product-form__summary-cost" data-product-price="3780"><span data-product-cost>3 780</span></div>
              <div class="product-form__summary-currency">₽</div></div>
            <input type="submit" name="frm_product_submit" value="В корзину" class="button button-primary product-form__submit">
          </div>
        </form>
      </div>
    </div>


    <div class="product-profile">
      <div class="product-description">
        <h4>Описание</h4>
        <p>Одноразовый бумажный стакан 250 мл (полный объем 280 мл, номинальный объем 250 мл) из крафт картона.</p>
        <p>Предлагаем оптовые и розничные поставки одноразовых бумажных стаканов без дизайна, со стандартным дизайном и под собственными торговыми марками заказчиков.</p>
        <p>Все бумажные стаканы компании «Формация» изготавливаются из высококачественного Европейского сырья.</p>
        <p>В комплекте Вы можете купить пластиковые крышки к одноразовым бумажным стаканам, а также картонные держатели Сup Holder (Кап Холдеры).</p>
      </div>

      <div class="product-params">
        <h4>Характеристики</h4>
        <div class="product-param__items">
          <div class="product-param">
            <div class="product-param__image">
              <img src="assets/cuptrade/img/ico/ico-cup-amount.svg" alt="" class="product-param__ico">
            </div>
            <div class="product-param__name">Обьём</div>
            <div class="product-param__value">100 мл</div>
          </div>
          <div class="product-param">
            <div class="product-param__image">
              <img src="assets/cuptrade/img/ico/ico-cup-width-out.svg" alt="" class="product-param__ico">
            </div>
            <div class="product-param__name">Диаметр верх (наруж.)</div>
            <div class="product-param__value">62 мм</div>
          </div>
          <div class="product-param">
            <div class="product-param__image">
              <img src="assets/cuptrade/img/ico/ico-cup-width-in.svg" alt="" class="product-param__ico">
            </div>
            <div class="product-param__name">Диаметр верх (внутр.)</div>
            <div class="product-param__value">57 мм</div>
          </div>
          <div class="product-param">
            <div class="product-param__image">
              <img src="assets/cuptrade/img/ico/ico-cup-width-bottom.svg" alt="" class="product-param__ico">
            </div>
            <div class="product-param__name">Диаметр дна</div>
            <div class="product-param__value">45 мм</div>
          </div>
          <div class="product-param">
            <div class="product-param__image">
              <img src="assets/cuptrade/img/ico/ico-cup-height.svg" alt="" class="product-param__ico">
            </div>
            <div class="product-param__name">Высота</div>
            <div class="product-param__value">63 мм</div>
          </div>
        </div>
        <div class="product-packing">
          <h4>Упаковка</h4>
          <div class="product-packing__items">
            <div class="product-packing__item">
              <div class="product-packing__image">
                <img src="assets/cuptrade/img/ico/ico-tube.svg" alt="" class="product-packing__ico">
              </div>
              <div class="product-packing__params">
                <div class="product-packing__name">Туба</div>
                <div class="product-packing__param">80 шт.</div>
                <div class="product-packing__param">7,2x7,2x60 см</div>
                <div class="product-packing__param">396 гр</div>
              </div>
            </div>
            <div class="product-packing__item">
              <div class="product-packing__image">
                <img src="assets/cuptrade/img/ico/ico-box.svg" alt="" class="product-packing__ico">
              </div>
              <div class="product-packing__params">
                <div class="product-packing__name">Коробка</div>
                <div class="product-packing__param">2000 шт.</div>
                <div class="product-packing__param">40x40x60 см (0,078 м3)</div>
                <div class="product-packing__param">9,9 кг</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="product-delipay">
        <div class="product-delivery">
          <h4>Доставка</h4>
          <div class="product-delivery__item">
            <div class="product-delivery__info">По Москве</div>
            <div class="product-delivery__note">Бесплатно от 5000 р, до — 500 р.</div>
          </div>
          <div class="product-delivery__item">
            <div class="product-delivery__info">По МО</div>
            <div class="product-delivery__note">Бесплатно в радиусе 5 км, свыше — 30 р/км.</div>
          </div>
          <div class="product-delivery__item">
            <div class="product-delivery__info">В регионы РФ</div>
            <div class="product-delivery__note">Бесплатно до терминала.</div>
          </div>
        </div>
        <div class="product-payment">
          <h4>Оплата</h4>
          <div class="product-delivery__item">
            <div class="product-delivery__info">Наличными</div>
          </div>
          <div class="product-delivery__item">
            <div class="product-delivery__info">На карту</div>
          </div>
          <div class="product-delivery__item">
            <div class="product-delivery__info">Безналичный рассчет</div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
