/*_______ product _______*/
/* #region */
.product-section {
  margin-bottom: 100px;
}
.product-contain {
  display: flex;
  align-items: flex-start;
  // margin-top: 26px;
  margin-bottom: 70px;
}

.product-view {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: calc(50% - 30px);
  margin-right: 30px;
}
.product-carousel {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  // border: 1px solid @grey;
  z-index: 1;
  user-select: none;
}
.product-carousel .swiper-container {
  height: 400px;
  // min-height: 320px;
  // max-height: 400px;
  // background-color: @very_light_red;
}
.product-carousel__slide img {
  // width: 100%;
  display: block;
  margin: 0 auto;
  width: auto !important;
  // border: 1px solid @red;
  height: 100%;
  object-fit: contain;
}
.product-carousel__nav {
  position: absolute;
  // top: 45%;
  top: calc(50% - 25px);
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: @white;
  outline: 0;
  cursor: pointer;
  // .transition();
  z-index: 1;
}
.product-carousel__nav:hover {
  background-color: @red;
  .shadow_red_buttons();
}
.product-carousel__nav:hover .ico-svg {
  fill: @white;
}
.product-carousel__prev {
  left: 20px;
}
.product-carousel__next {
  right: 20px;
}
.product-carousel__prev .ico-svg {
  margin-left: -3px;
}
.product-carousel__next .ico-svg {
  margin-right: -3px;
}
.product-carousel__pagination {
  display: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  // left: 0;
  bottom: 10px;
  // height: 15%;
  width: 100%;
}
.product-carousel__pagination .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  margin-left: 4px !important;
  margin-right: 4px !important;
  border-radius: 50%;
  border: none;
  // background-color: @light_grey;
  background-color: @grey;
  z-index: 2;
}
.product-carousel__pagination .swiper-pagination-bullet-active {
  background-color: @black;
  opacity: 1;
}

.product-preview {
  position: relative;
  display: flex;
  width: 100%;
  height: 90px;
  z-index: 1;
  user-select: none;
}
.product-preview__shadow {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 20px;
  background: linear-gradient(270deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  z-index: 1;
}
.product-preview__img {
  width: 90px;
  height: 90px;
  border: 1px solid transparent;
}
.product-preview .swiper-slide-active {
  border: 1px solid #ededed;
}
.product-preview .swiper-container {
  width: 100%;
}

.product-stats {
  width: 50%;
}

.product-section h1 {
  margin-top: 40px;
  margin-bottom: 32px;
  font-size: 36px;
  // font-size: 32px;
  line-height: 1.2;
}
.product__note {
  margin-bottom: 12px;
  font-size: 18px;
  line-height: 1.3;
  color: @black;
}
.product-take {
  display: flex;
  align-items: baseline;
  // margin-top: 20px;
  margin-bottom: 36px;
  font-size: 14px;
  line-height: 1.2;
}
.product-take__available {
  margin-right: 20px;
  font-weight: @fw-semibold;
  color: @green;
}
.product-take__model {
  color: @grey;
}

.product-form__switchers {
  display: flex;
  width: 100%;
  border-radius: 25px 25px 0 0;
  border-top: 1px solid @stroke_dark;
  border-right: 1px solid @stroke_dark;
  border-left: 1px solid @stroke_dark;
  overflow: hidden;
}
.product-form__switcher {
  display: none;
}
.product-form__switcher-name {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 12px;
  font-weight: @fw-bold;
  font-size: 18px;
  line-height: 1;
  text-align: center;
  color: @grey;
  background-color: @stroke_dark;
  cursor: pointer;
  .transition();
  &:hover {
    background-color: @white;
  }
}
.product-form__switcher:checked + .product-form__switcher-name {
  color: @black;
  // border: 1px solid @stroke_dark;
  background-color: @white;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: calc(100% - 60px);
    border-bottom: 1px solid @stroke_dark;
  }
}

.product-form__set {
  position: relative;
  display: flex;
  align-items: center;
  padding: 12px 8px 30px;
  border-right: 1px solid @stroke_dark;
  border-left: 1px solid @stroke_dark;
}
.product-form__set::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 30px;
  left: 30px;
  // width: calc(100% - 40px);
  // border-bottom: 1px solid @stroke_dark;
}
.product-form__price {
  width: 50%;
  padding-top: 5px;
  padding-bottom: 5px;
  border-right: 1px solid @stroke_dark;
  font-size: 18px;
  line-height: 1;
  text-align: center;
}
.product-form__price-measure {
  font-size: 13px;
}
.product-form__counter {
  width: 50%;
  display: inline-flex;
  justify-content: center;
}
.product-count {
  position: relative;
  display: flex;
  align-items: center;
  height: 40px;
  // margin-bottom: 10px;
}
.product-count__control {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-weight: @fw-light;
  // font-size: 16px;
  font-size: 24px;
  line-height: 1;
  color: @black;
  background-color: @stroke_light;
  outline: none;
  z-index: 1;
  cursor: pointer;
}
.product-count__control-sign {
  margin-top: -3px;
}
.product-count__number {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin-right: -30px;
  margin-left: -30px;
  padding-right: 32px;
  padding-left: 32px;
  border-radius: 40px;
  border-top: 1px solid @stroke_light;
  border-bottom: 1px solid @stroke_light;
  font-size: 18px;
  line-height: 1;
  text-align: center;
  color: @black;
  outline: 0;
  appearance: textfield;
}
.product-form__counter .product-count__number {
  width: 160px;
}

.product-form__options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: -22px;
  padding: 14px 30px 24px;
  border-right: 1px solid @stroke_dark;
  border-left: 1px solid @stroke_dark;
}
.product-form__checkboxer {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.1;
  color: @black;
}
.product-form__checkboxer .product-form__checkbox-label {
  // padding-top: 2px;
  padding-top: 3px;
}
.product-form__checkbox:checked,
.product-form__checkbox:not(:checked) {
  position: absolute;
  left: -9999px;
}
.product-form__checkbox:checked + .product-form__checkbox-label,
.product-form__checkbox:not(:checked) + .product-form__checkbox-label {
  position: relative;
  padding-left: 36px;
  cursor: pointer;
}
.product-form__checkbox:checked + .product-form__checkbox-label::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  left: 0;
  top: calc(50% - 11px);
  background-color: transparent;
  border: 1px solid @stroke_dark;
  border-radius: 4px;
}
.product-form__checkbox:checked + .product-form__checkbox-label::after {
  content: url("../img/ico/ico-check-red.svg");
  position: absolute;
  width: 11px;
  height: 8px;
  // opacity: 0.5;
  left: 7px;
  top: calc(50% - 7px);
}
.product-form__checkbox:not(:checked) + .product-form__checkbox-label::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  left: 0;
  top: calc(50% - 11px);
  background-color: transparent;
  border: 1px solid @stroke_dark;
  border-radius: 4px;
}
.product-form__checkbox:not(:checked) + .product-form__checkbox-label::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  opacity: 0;
  left: 7px;
  top: calc(50% - 7px);
}

.product-form__footer {
  display: flex;
  // align-items: center;
  border-radius: 80px;
  background-color: @very_light_red;
  margin-top: -21px;
  z-index: 2;
  position: relative;
}
.product-form__summary {
  display: flex;
  align-items: baseline;
  // align-self: center;
  justify-content: center;
  width: 50%;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 1;
  color: @red;
}
.product-form__summary-title {
  margin-right: 10px;
  font-size: 13px;
}
.product-form__summary-cost {
  margin-right: 8px;
  font-weight: @fw-semibold;
  font-size: 22px;
}
.product-form__summary-currency {
  font-weight: @fw-semibold;
  font-size: 22px;
}
.product-form__submit {
  width: 50%;
}

.product-profile {
  display: flex;
  // align-items: flex-start;
  border-top: 1px solid @stroke_dark;
  border-bottom: 1px solid @stroke_dark;
}

.product-profile h2 {
  margin-bottom: 32px;
  padding-top: 0;
  margin-top: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  color: #000100;
}
.product-description {
  padding-top: 64px;
  padding-bottom: 60px;
  width: 33.33%;
  padding-right: 30px;
  border-right: 1px solid @stroke_dark;
}
.product-description p {
  padding-top: 10px;
  font-size: 16px;
}
.product-params {
  padding-top: 64px;
  padding-bottom: 60px;
  width: 33.33%;
  padding-right: 30px;
  padding-left: 30px;
  border-right: 1px solid @stroke_dark;
}
.product-delipay {
  padding-top: 64px;
  padding-bottom: 60px;
  width: 33.33%;
  padding-left: 30px;
}

.product-description h2 {
  margin-bottom: 16px;
}

.product-param__items {
  margin-bottom: 50px;
}
.product-param {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding-bottom: 14px;
  border-bottom: 1px solid @stroke_dark;
}
.product-param__image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  margin-right: 12px;
}
.product-param__ico {
  flex-shrink: 0;
}
.product-param__name {
  padding-right: 8px;
  font-size: 16px;
  line-height: 1;
  color: @black;
}
.product-param__value {
  flex-shrink: 0;
  margin-left: auto;
  font-size: 16px;
  line-height: 1;
  color: @red;
}

.product-packing__items {
  display: flex;
  align-items: flex-start;
  margin-right: -15px;
  margin-left: -15px;
}
.product-packing__item {
  display: flex;
  align-items: flex-start;
  width: calc(50% - 30px);
  margin-right: 15px;
  margin-left: 15px;
}
.product-packing__image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  margin-right: 8px;
  border-radius: 50%;
  background-color: @red;
}
.product-packing__ico {
  flex-shrink: 0;
  height: 20px;
}
.product-packing__params {
  padding-top: 6px;
}
.product-packing__name {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 1.2;
  color: @black;
}
.product-packing__param {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  // padding-left: 14px;
  font-size: 13px;
  line-height: 1.2;
  color: @dark_grey;
  &::before {
    content: "•";
    padding-right: 7px;
    color: #d6d6d6;
  }
}
.product-delivery {
  margin-bottom: 50px;
}
.product-delivery__item {
  margin-bottom: 14px;
}
.product-delivery__info {
  display: flex;
  align-items: center;
  margin-bottom: 2px;
  font-size: 16px;
  line-height: 1.2;
  color: @black;
  &::before {
    content: "•";
    padding-right: 5px;
    color: @red;
  }
}
.product-delivery__note {
  padding-left: 10px;
  font-size: 13px;
  line-height: 1.2;
  color: @grey;
}

.product-recommend-section {
  position: relative;
  margin-bottom: 90px;
}
.product-recommend__shape {
  position: absolute;
  top: -240px;
  right: 60px;
}
.product-section__title {
  margin-bottom: 50px;
  padding-top: 0;
  font-weight: @fw-bold;
  font-size: 50px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  color: @black;
}
.product-recommend {
  margin-right: -15px;
  margin-left: -15px;
}
.product-recommend .swiper-container-recommend {
  overflow: visible;
}
.product-recommend .swiper-wrapper-recommend {
  flex-wrap: wrap;
}
.product-recommend .catalog-card {
  width: calc(25% - 30px);
}
.product-recommend__controls {
  display: none;
}

.product-similar-section {
  position: relative;
  margin-bottom: -1px;
  padding-top: 100px;
  padding-bottom: 90px;
  background-color: @very_light_red;
}
.product-similar__shape {
  position: absolute;
  bottom: 10px;
  left: 0;
}
.product-similar {
  margin-right: -15px;
  margin-left: -15px;
}
.product-similar .swiper-container-similar {
  overflow: visible;
}
.product-similar .swiper-wrapper-similar {
  flex-wrap: wrap;
}
.product-similar .catalog-card {
  width: calc(25% - 30px);
  background-color: @white;
}
.product-similar__controls {
  display: none;
}
/* #endregion */

@media (max-width: 1500px) {
  .product-recommend__shape {
    right: -80px;
  }
}
@media (max-width: 1200px) {
  .product-recommend__shape {
    right: -140px;
  }
  .product-similar__shape {
    left: -80px;
  }
}

@media (max-width: 1030px) {
  .product-contain {
    margin-bottom: 40px;
  }
  .product-view {
    width: calc(50% - 24px);
    margin-right: 24px;
  }
  .product-preview__img {
    width: 70px;
    height: 70px;
  }

  .product-section h1 {
    margin-top: 30px;
    margin-bottom: 26px;
    font-size: 28px;
  }
  .product__note {
    font-size: 14px;
  }
  .product-take {
    margin-top: 16px;
    margin-bottom: 30px;
  }

  .product-form__switcher:checked + .product-form__switcher-name::after {
    // content: "";
    width: calc(100% - 40px);
  }
  .product-form__switcher-name {
    font-size: 16px;
  }
  .product-form__set {
    flex-direction: column;
  }
  .product-form__set::after {
    right: 20px;
    left: 20px;
  }
  .product-form__price {
    position: relative;
    width: 100%;
    padding-bottom: 16px;
    border-right: none;
    // border-bottom: 1px solid #e8e8e8;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 12px;
      left: 12px;
      // width: calc(100% - 20px);
      border-bottom: 1px solid @stroke_dark;
    }
  }
  .product-form__counter {
    padding-top: 16px;
    padding-bottom: 4px;
  }
  .product-form__options {
    margin-bottom: -22px;
    padding: 16px 20px 24px;
  }

  .product-profile {
    flex-wrap: wrap;
  }
  .product-description {
    padding-top: 40px;
    padding-bottom: 50px;
    width: 50%;
  }

  .product-params {
    padding-top: 40px;
    padding-right: 0;
    padding-bottom: 50px;
    width: 50%;
    border-right: none;
  }
  .product-param__items {
    margin-bottom: 40px;
  }
  .product-packing__items {
    margin-right: -8px;
    margin-left: -8px;
  }
  .product-packing__item {
    width: calc(50% - 16px);
    margin-right: 8px;
    margin-left: 8px;
  }

  .product-delipay {
    display: flex;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    border-top: 1px solid #e8e8e8;
  }
  .product-delivery {
    width: 50%;
    margin-bottom: 0;
    padding-top: 40px;
    padding-right: 30px;
    padding-bottom: 50px;
    border-right: 1px solid #e8e8e8;
  }
  .product-payment {
    width: 50%;
    padding-top: 40px;
    padding-bottom: 50px;
    padding-left: 30px;
  }

  .product-section__title {
    margin-bottom: 44px;
    font-size: 40px;
  }
}

@media (max-width: 960px) {
  .product-recommend .catalog-card {
    width: calc(50% - 30px);
  }
  .product-similar .catalog-card {
    width: calc(50% - 30px);
  }
}

@media (max-width: 860px) {
  .product-section {
    margin-bottom: 80px;
  }
  .product-contain {
    margin-bottom: 60px;
  }
  .product-carousel {
    margin-bottom: 10px;
  }
  .product-carousel__nav {
    top: calc(50% - 20px);
    width: 40px;
    height: 40px;
  }
  .product-carousel__nav .ico-svg {
    height: 10px;
  }
  .product-carousel__prev .ico-svg {
    margin-left: -2px;
  }
  .product-carousel__next .ico-svg {
    margin-right: -2px;
  }
  .product-carousel__prev {
    left: 10px;
  }
  .product-carousel__next {
    right: 10px;
  }
  .product-preview {
    height: 60px;
  }
  .product-preview__img {
    width: 60px;
    height: 60px;
  }
  .product-preview__shadow {
    width: 10px;
  }

  .product__note {
    font-size: 14px;
  }
  .product-take {
    margin-top: 12px;
    margin-bottom: 28px;
    font-size: 12px;
  }

  .product-form__switcher-name {
    font-size: 14px;
  }
  // .product-form__checkboxer {
  //   font-size: 14px;
  // }
  .product-form__footer {
    border-radius: 0;
    flex-direction: column;
  }
  .product-form__summary {
    width: 100%;
    padding: 12px;
  }
  .product-form__submit {
    width: 100%;
  }

  .product-recommend-section {
    margin-bottom: 80px;
  }
  .product-similar-section {
    padding-top: 90px;
    padding-bottom: 80px;
  }
  .product-recommend__shape {
    top: -280px;
    right: -170px;
  }
  .product-similar__shape {
    bottom: 40px;
    left: -100px;
  }
}

@media (max-width: 720px) {
  .product-section h1 {
    margin-bottom: 20px;
    font-size: 24px;
  }
  // .product-form__switcher-name {
  //   font-size: 12px;
  // }

  .product-profile h2 {
    margin-bottom: 20px;
    font-size: 20px;
  }
  .product-description h2 {
    margin-bottom: 10px;
    font-size: 20px;
  }
  .product-description p {
    font-size: 14px;
  }

  .product-description {
    padding-top: 34px;
    padding-right: 20px;
    padding-bottom: 20px;
  }
  .product-params {
    padding-top: 34px;
    padding-bottom: 34px;
    padding-left: 20px;
  }
  .product-param__items {
    margin-bottom: 34px;
  }
  .product-param__name {
    font-size: 14px;
  }
  .product-param__value {
    font-size: 14px;
  }
  // .product-packing__name {
  //   font-size: 14px;
  // }

  .product-delivery {
    padding-top: 34px;
    padding-right: 20px;
    padding-bottom: 40px;
  }
  .product-payment {
    padding-top: 34px;
    padding-bottom: 40px;
    padding-left: 20px;
  }
}

@media (max-width: 640px) {
  .product-section__title {
    margin-bottom: 38px;
    font-size: 32px;
  }
  .product-recommend {
    margin-right: -10px;
    margin-left: -10px;
  }
  .product-recommend .catalog-card {
    width: calc(50% - 20px);
    margin: 0 10px 20px;
  }
  .product-similar {
    margin-right: -10px;
    margin-left: -10px;
  }
  .product-similar .catalog-card {
    width: calc(50% - 20px);
    margin: 0 10px 20px;
  }
}

@media (max-width: 560px) {
  .product-contain {
    align-items: stretch;
    flex-direction: column;
  }
  .product-view {
    width: 100%;
    margin-right: 0;
  }
  .product-carousel {
    margin-bottom: 24px;
  }
  .product-carousel .swiper-container {
    height: 320px;
  }
  .product-carousel__pagination {
    display: flex;
  }
  .product-preview {
    display: none;
  }
  .product-stats {
    width: 100%;
  }
  .product-take {
    margin-top: 10px;
    margin-bottom: 26px;
  }
  .product-form__switcher-name {
    padding: 12px 8px;
  }

  .product-profile {
    flex-direction: column;
  }
  .product-description {
    width: 100%;
    padding-right: 0;
    border-right: none;
    border-bottom: 1px solid #e8e8e8;
  }
  .product-params {
    width: 100%;
    padding-left: 0;
  }
  .product-delivery__info {
    font-size: 14px;
  }
  .product-delivery__note {
    font-size: 12px;
  }

  .product-section__title {
    margin-bottom: 32px;
    font-size: 28px;
  }
  .product-similar-section {
    padding-top: 64px;
  }
  .product-recommend__shape {
    right: -200px;
  }
  .product-similar__shape {
    bottom: 60px;
    left: -180px;
  }
}

@media (max-width: 480px) {
  .product-carousel .swiper-container {
    height: 270px;
  }

  .product-section h1 {
    font-size: 20px;
  }
  .product-delipay {
    flex-direction: column;
  }
  .product-delivery {
    width: 100%;
    padding-right: 0;
    padding-bottom: 24px;
    border-right: none;
    border-bottom: 1px solid #e8e8e8;
  }
  .product-delivery__info {
    font-size: 14px;
  }
  .product-delivery__note {
    font-size: 12px;
  }
  .product-payment {
    width: 100%;
    padding-bottom: 24px;
    padding-left: 0;
  }

  .product-recommend {
    margin-right: 0;
    margin-left: 0;
  }
  .product-recommend .swiper-container-recommend {
    overflow: hidden;
  }
  .product-recommend .swiper-wrapper-recommend {
    flex-wrap: nowrap;
  }
  .product-recommend .catalog-card {
    width: auto;
    margin: 0;
  }
  .product-recommend__controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  .product-recommend__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: @very_light_red;
    cursor: pointer;
  }
  .product-recommend__prev {
    margin-right: 22px;
  }

  .product-similar {
    margin-right: 0;
    margin-left: 0;
  }
  .product-similar .swiper-container-similar {
    overflow: hidden;
  }
  .product-similar .swiper-wrapper-similar {
    flex-wrap: nowrap;
  }
  .product-similar .catalog-card {
    width: auto;
    margin: 0;
  }
  .product-similar__controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  .product-similar__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: @white;
    cursor: pointer;
  }
  .product-similar__prev {
    margin-right: 22px;
  }

  .product-recommend__shape {
    display: none;
  }
  .product-similar__shape {
    left: -210px;
  }
}

@media (max-width: 360px) {
  .product-carousel .swiper-container {
    // height: 220px;
    height: 240px;
  }
}
