<div class="product-similar-section section">
  <img src="assets/cuptrade/img/bg_lines_square.svg" alt="" class="product-similar__shape">
  <div class="section-wrapper">
    <h2 class="product-section__title">Другие однослойные стаканы</h2>
    <div class="product-similar">
      <div class="swiper-container swiper-container-similar">
        <div class="swiper-wrapper swiper-wrapper-similar">
          <a href="product.html" class="catalog-card">
            <div class="catalog-card__image catalog-card__carousel">
              <div class="swiper-container">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <img src="assets/cuptrade/img/products/prv-stakanchik_dvuhsloynyy_chernyy_250ml_d03cc.png" alt="" class="catalog-card__img">
                  </div>
                  <div class="swiper-slide">
                    <img src="assets/cuptrade/img/products/prv-stakanchik_dvuhsloynyy_chernyy_250ml_d03cc.png" alt="" class="catalog-card__img">
                  </div>
                  <div class="swiper-slide">
                    <img src="assets/cuptrade/img/products/prv-stakanchik_dvuhsloynyy_chernyy_250ml_d03cc.png" alt="" class="catalog-card__img">
                  </div>
                  <div class="swiper-slide">
                    <img src="assets/cuptrade/img/products/prv-stakanchik_dvuhsloynyy_chernyy_250ml_d03cc.png" alt="" class="catalog-card__img">
                  </div>
                </div>
                <div class="catalog-card__carousel-pagination"></div>
              </div>
            </div>
            <div class="catalog-card__available"><span class="catalog-card__available-text">На складе</span></div>
            <h3 class="catalog-card__title">Черный бумажный стакан 250 мл</h3>
            <div class="catalog-card__text">Собственная логистика, бесплатно* возим по Москве и до терминалов ТК</div>
            <div class="catalog-card__footer">
              <div class="catalog-card__price">от 1,82 ₽</div>
              <div class="catalog-card__forward">Купить <svg width="8" height="12" viewBox="0 0 8 12" fill="#000100" xmlns="http://www.w3.org/2000/svg" class="ico-svg catalog-card__forward-ico"><path fill-rule="evenodd" clip-rule="evenodd" d="M1.721 11.693L.28 10.307 4.414 6 .279 1.693 1.72.307 7.186 6l-5.465 5.693z"/></svg></div>
            </div>
          </a>
          <a href="product.html" class="catalog-card">
            <div class="catalog-card__image catalog-card__carousel">
              <div class="catalog-card__image-label">хит</div>
              <div class="swiper-container">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <img src="assets/cuptrade/img/products/prv-stakanchik_dvuhsloynyy_chernyy_300ml_111ad.png" alt="" class="catalog-card__img">
                  </div>
                  <div class="swiper-slide">
                    <img src="assets/cuptrade/img/products/prv-stakanchik_dvuhsloynyy_chernyy_300ml_111ad.png" alt="" class="catalog-card__img">
                  </div>
                  <div class="swiper-slide">
                    <img src="assets/cuptrade/img/products/prv-stakanchik_dvuhsloynyy_chernyy_300ml_111ad.png" alt="" class="catalog-card__img">
                  </div>
                  <div class="swiper-slide">
                    <img src="assets/cuptrade/img/products/prv-stakanchik_dvuhsloynyy_chernyy_300ml_111ad.png" alt="" class="catalog-card__img">
                  </div>
                </div>
                <div class="catalog-card__carousel-pagination"></div>
              </div>
            </div>
            <div class="catalog-card__available"><span class="catalog-card__available-text">На складе</span></div>
            <h3 class="catalog-card__title">Черный бумажный стакан 300 мл</h3>
            <div class="catalog-card__text">Собственная логистика, бесплатно* возим по Москве и до терминалов ТК</div>
            <div class="catalog-card__footer">
              <div class="catalog-card__price">от 5,80 ₽</div>
              <div class="catalog-card__forward">Купить <svg width="8" height="12" viewBox="0 0 8 12" fill="#000100" xmlns="http://www.w3.org/2000/svg" class="ico-svg catalog-card__forward-ico"><path fill-rule="evenodd" clip-rule="evenodd" d="M1.721 11.693L.28 10.307 4.414 6 .279 1.693 1.72.307 7.186 6l-5.465 5.693z"/></svg></div>
            </div>
          </a>
          <a href="product.html" class="catalog-card">
            <div class="catalog-card__image">
              <div class="catalog-card__image-label">хит</div>
              <img src="assets/cuptrade/img/products/prv-stakanchik_odnosloynyy_chernyy_400ml_dd5fa.png" alt="" class="catalog-card__img">
            </div>
            <div class="catalog-card__available"><span class="catalog-card__available-text">На складе</span></div>
            <h3 class="catalog-card__title">Черный бумажный стакан 400 мл</h3>
            <div class="catalog-card__text">Собственная логистика, бесплатно* возим по Москве и до терминалов ТК</div>
            <div class="catalog-card__footer">
              <div class="catalog-card__price">от 7,40 ₽</div>
              <div class="catalog-card__forward">Купить <svg width="8" height="12" viewBox="0 0 8 12" fill="#000100" xmlns="http://www.w3.org/2000/svg" class="ico-svg catalog-card__forward-ico"><path fill-rule="evenodd" clip-rule="evenodd" d="M1.721 11.693L.28 10.307 4.414 6 .279 1.693 1.72.307 7.186 6l-5.465 5.693z"/></svg></div>
            </div>
          </a>
          <a href="product.html" class="catalog-card">
            <div class="catalog-card__image">
              <img src="assets/cuptrade/img/products/prv-stakanchik_dvuhsloynyy_kraft_250ml_3e2f0.png" alt="" class="catalog-card__img">
            </div>
            <div class="catalog-card__available"><span class="catalog-card__available-text">На складе</span></div>
            <h3 class="catalog-card__title">Бумажный крафт стакан 250 мл</h3>
            <div class="catalog-card__text">Собственная логистика, бесплатно* возим </div>
            <div class="catalog-card__footer">
              <div class="catalog-card__price">от 4,30 ₽</div>
              <div class="catalog-card__forward">Купить <svg width="8" height="12" viewBox="0 0 8 12" fill="#000100" xmlns="http://www.w3.org/2000/svg" class="ico-svg catalog-card__forward-ico"><path fill-rule="evenodd" clip-rule="evenodd" d="M1.721 11.693L.28 10.307 4.414 6 .279 1.693 1.72.307 7.186 6l-5.465 5.693z"/></svg></div>
            </div>
          </a>
        </div>
        <div class="product-similar__controls">
          <div class="product-similar__nav product-similar__prev"><img src="assets/cuptrade/img/ico/ico-chevron_left.svg" alt="" class="product-similar__prev-ico"></div>
          <div class="product-similar__nav product-similar__next"><img src="assets/cuptrade/img/ico/ico-chevron_right.svg" alt="" class="product-similar__next-ico"></div>
        </div>
      </div>
    </div>
  </div>
</div>