<div id="modalReviewFull_02" class="popup">
  <div class="popup-overlay">
    <div class="popup-content">
      <div class="review-modal">
        <div class="popup-close js-modalClose">
          <img src="assets/cuptrade/img/ico/ico-cross_blue.svg" alt="">
        </div>
        <div class="card card-review carousel-review__card">
          <div class="card-review__owner">
            <div class="card-review__image card-review__image--pink">O</div>
            <div class="card-review__writer">
              <div class="card-review__name">Ольга И.</div>
              <div class="card-review__author">Красногорский общественный фонд</div>
            </div>
          </div>
          <div class="card-review__info">
            <div class="card-review__estimate">Отлично</div>
            <div class="card-review__rating"><img src="assets/cuptrade/img/ico/ico-star.svg" alt="" class="card-review__rating-ico">5</div>
            <div class="card-review__date">24.10.2019</div>
          </div>
          <div class="card-review__text">Красногорский общественный фонд "Мечта III тысячелетия" является постоянным клиентом П4. И знаете почему? Потому что они лучшие. По мастерству, по общению. И сейчас П4 работает над нашими юбилейными календарями. И мы очень этому рады)).</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="modalReviewFull_03" class="popup">
  <div class="popup-overlay">
    <div class="popup-content">
      <div class="review-modal">
        <div class="popup-close js-modalClose">
          <img src="assets/cuptrade/img/ico/ico-cross_blue.svg" alt="">
        </div>
        <div class="card card-review carousel-review__card">
          <div class="card-review__owner">
            <div class="card-review__image card-review__image--orange">P</div>
            <div class="card-review__writer">
              <div class="card-review__name">Роман В.</div>
              <div class="card-review__author">Рыбка в Пруд</div>
            </div>
          </div>
          <div class="card-review__info">
            <div class="card-review__estimate">Отлично</div>
            <div class="card-review__rating"><img src="assets/cuptrade/img/ico/ico-star.svg" alt="" class="card-review__rating-ico">5</div>
            <div class="card-review__date">24.10.2019</div>
          </div>
          <div class="card-review__text">Молодцы,знают своё дело. Особенно спасибо Антону и конечно остальным работникам помогающим продвигать мои сайты на первые места.Думаю,что Бог помагает мне через них, в моём бизнасе. Спасибо🤝</div>
          <a href="https://rybkavprud.ru" class="card-review__link">www.rybkavprud.ru</a>
        </div>
      </div>
    </div>
  </div>
</div>
