/*_______ reviews _______*/
/* #region */
.review-modal {
  position: relative;
  max-width: 380px;
  width: 100%;
  padding: 70px 60px 60px;
  border-radius: 2px;
  background-color: @white;
}
.review-modal .card-review {
  width: auto;
  margin: 0;
  padding: 0;
  border: none;
}

.reviews-section {
  margin-top: 40px;
  margin-bottom: 80px;
}
.reviews-items {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.card-review {
  width: calc(33.33% - 30px);
  margin: 0 15px 30px;
}

.review-form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-right: -40px;
  margin-left: -40px;
}
.review-form__upload {
  width: 46%;
  margin-bottom: 20px;
}
.review-form__rating .form-order__label {
  align-self: flex-start;
  margin-top: 10px;
}
.review-form__rating-stars {
  display: flex;
  align-items: center;
}
.review-form__rating-star {
  appearance: none;
  &:hover {
    cursor: pointer;
  }
}
.review-form__rating-star::before {
  content: "\2605";
  font-size: 28px;
  // font-family: entypo, sans-serif;
  color: @grey;
}
.review-form__rating-star:checked ~ ::before {
  // content: "\2606";
  content: "\2605";
  color: @dark_grey;
}
.review-form__rating-star:focus {
  outline: 0;
}

.review-form__submit {
  display: flex;
  flex-direction: column;
}
/* #endregion */

@media (max-width: 1024px) {
  .card-review {
    width: calc(50% - 30px);
  }
}

@media (max-width: 960px) {
  .review-form {
    margin-right: -20px;
    margin-left: -20px;
  }
  .review-form__upload {
    width: 100%;
  }
}

@media (max-width: 860px) {
  .review-modal {
    padding: 60px 40px 40px;
  }

  .reviews-section {
    margin-bottom: 60px;
  }

  .review-form {
    margin-right: -12px;
    margin-left: -12px;
  }
  .review-form__rating .form-order__label {
    align-self: baseline;
    margin-top: 0;
  }
}

@media (max-width: 640px) {
  .card-review {
    width: calc(50% - 20px);
    margin: 0 10px 20px;
  }
}

@media (max-width: 560px) {
  .review-modal {
    padding: 50px 30px 30px;
  }

  .reviews-items {
    margin: 0;
  }
  .card-review {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }

  .review-form {
    margin-right: 0;
    margin-left: 0;
  }
  .review-form__upload {
    margin-bottom: 14px;
  }
}

@media (max-width: 420px) {
  .reviews-section {
    margin-top: 30px;
    margin-bottom: 40px;
  }
}

@media (max-width: 360px) {
  .review-modal {
    border-radius: 0;
  }
}
