<div class="form-order-section section">
  <div class="section-wrapper">
    <div class="form-order-wrap">
      <div class="form-order__title">Оставить отзыв</div>
      <div class="review-form__upload">
        <form action="/file-upload" class="dropzone dz-clickable form-order__upload">
          <div class="dz-default dz-message needsclick">
            <span>Загрузите ваше фото или логотип компании.</span>
            <button type="button" class="dz-button">Перетащите файл в это поле или нажмите здесь для загрузки</button><br>
          </div>
        </form>
        <div class="form-order__note">Принимаются файлы в формате JPG и PNG, не превышающие 1 МБ</div>
      </div>
      <div class="review-form-wrap">
        <form action="" method="POST" class="review-form js-validateForm_Policy">
          <div class="form-order__item">
            <div class="form-order__label">Автор*</div>
            <div class="form-field form-order__field">
              <input type="text" name="name" id="formReview_name" class="form-input form-order__input" placeholder="Имя или название компании" data-req>
              <div class="form-field__prompt">Заполните поле</div>
            </div>
          </div>
          <div class="form-order__item">
            <div class="form-order__label">Должность*</div>
            <div class="form-field form-order__field">
              <input type="text" name="title" id="formReview_title" class="form-input form-order__input" placeholder="Должность" data-req>
              <div class="form-field__prompt">Заполните поле</div>
            </div>
          </div>
          <div class="form-order__item">
            <div class="form-order__label">Почта*</div>
            <div class="form-field form-order__field">
              <input type="email" name="mail" id="formReview_email" class="form-input form-order__input" placeholder="example@mail.ru" data-req>
              <div class="form-field__prompt">Заполните поле</div>
            </div>
          </div>
          <div class="form-order__item">
            <div class="form-order__label">Телефон*</div>
            <div class="form-field form-order__field">
              <input type="tel" name="phone" id="formReview_phone" class="form-input form-order__input" placeholder="+7 ___ ___ __ __" data-req>
              <div class="form-field__prompt">Заполните поле</div>
            </div>
          </div>
          <div class="form-order__item">
            <div class="form-order__label">Сайт</div>
            <div class="form-field form-order__field">
              <input type="text" name="site" id="formReview_site" class="form-input form-order__input" placeholder="Ссылка на сайт">
            </div>
          </div>
          <div class="form-order__item review-form__rating">
            <div class="form-order__label">Оценка</div>
            <div class="form-field form-order__field">
              <div class="review-form__rating-starы">
                <input type="radio" name="rating" value="1" data-review-rate="1" class="review-form__rating-star" />
                <input type="radio" name="rating" value="2" data-review-rate="2" class="review-form__rating-star"/>
                <input type="radio" name="rating" value="3" data-review-rate="3" class="review-form__rating-star" />
                <input type="radio" name="rating" value="4" data-review-rate="4" class="review-form__rating-star" checked />
                <input type="radio" name="rating" value="5" data-review-rate="5" class="review-form__rating-star"/>
              </div>
            </div>
          </div>
          <div class="form-order__item">
            <div class="form-field">
              <textarea name="comment" id="formReview_Comment" rows="10" class="form-input form-order__textarea" placeholder="Напишите свои впечатления от сотрудничества с нами"></textarea>
            </div>
          </div>
          <input type="hidden" name="formReview_hidden" class="form-input--hide">
          <div class="form-order__item review-form__submit">
            <input type="submit" name="frm_review_submit" class="button button-primary form-order__submit" value="Отправить отзыв">
            <div class="form-policy">
              <input type="checkbox" name="policy_check" id="formReview_policy" class="form-policy__checkbox" checked data-req>
              <label for="formReview_policy">
                Я знаком <a href="" class="form-policy__link">с условиями пользовательского соглашения</a>
              </label>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>