<div class="reviews-section section">
  <div class="section-wrapper">
    <div class="section-heading">
      <h2 class="section-heading__title">Отзывы</h2>
    </div>
    <div class="reviews-items">
      <div class="card card-review">
        <div class="card-review__owner">
          <div class="card-review__image"><img src="assets/cuptrade/img/review_car.jpg" alt="" class="card-review__img"></div>
          <div class="card-review__writer">
            <div class="card-review__name">CreativeTeam Print</div>
            <div class="card-review__author">Оклейка авто</div>
          </div>
        </div>
        <div class="card-review__info">
          <div class="card-review__estimate">Отлично</div>
          <div class="card-review__rating"><img src="assets/cuptrade/img/ico/ico-star.svg" alt="" class="card-review__rating-ico">5</div>
          <div class="card-review__date">24.10.2019</div>
        </div>
        <div class="card-review__text card-review__text-preload">Магистры полиграфии всея Красногорска!</div>
        <a href="https://vinyl-tm.ru" class="card-review__link">www.vinyl-tm.ru</a>
      </div>
      <div class="card card-review">
        <div class="card-review__owner">
          <div class="card-review__image card-review__image--pink">O</div>
          <div class="card-review__writer">
            <div class="card-review__name">Ольга И.</div>
            <div class="card-review__author">Красногорский общественный фонд</div>
          </div>
        </div>
        <div class="card-review__info">
          <div class="card-review__estimate">Отлично</div>
          <div class="card-review__rating"><img src="assets/cuptrade/img/ico/ico-star.svg" alt="" class="card-review__rating-ico">5</div>
          <div class="card-review__date">24.10.2019</div>
        </div>
        <div class="card-review__text">Красногорский общественный фонд "Мечта III тысячелетия" является постоянным клиентом П4. И знаете почему? Потому что они лучшие. По мастерству, по общению. И сейчас П4 работает над нашими юбилейными календарями. И мы очень этому рады)).</div>
      </div>
      <div class="card card-review">
        <div class="card-review__owner">
          <div class="card-review__image card-review__image--orange">P</div>
          <div class="card-review__writer">
            <div class="card-review__name">Роман В.</div>
            <div class="card-review__author">Рыбка в Пруд</div>
          </div>
        </div>
        <div class="card-review__info">
          <div class="card-review__estimate">Отлично</div>
          <div class="card-review__rating"><img src="assets/cuptrade/img/ico/ico-star.svg" alt="" class="card-review__rating-ico">5</div>
          <div class="card-review__date">24.10.2019</div>
        </div>
        <div class="card-review__text">Молодцы,знают своё дело. Особенно спасибо Антону и конечно остальным работникам помогающим продвигать мои сайты на первые места.Думаю,что Бог помагает мне через них, в моём бизнасе. Спасибо🤝</div>
        <a href="https://rybkavprud.ru" class="card-review__link">www.rybkavprud.ru</a>
      </div>
      <div class="card card-review">
        <div class="card-review__owner">
          <div class="card-review__image"><img src="assets/cuptrade/img/review_car.jpg" alt="" class="card-review__img"></div>
          <div class="card-review__writer">
            <div class="card-review__name">CreativeTeam Print</div>
            <div class="card-review__author">Оклейка авто</div>
          </div>
        </div>
        <div class="card-review__info">
          <div class="card-review__estimate">Отлично</div>
          <div class="card-review__rating"><img src="assets/cuptrade/img/ico/ico-star.svg" alt="" class="card-review__rating-ico">5</div>
          <div class="card-review__date">24.10.2019</div>
        </div>
        <div class="card-review__text card-review__text-preload">Магистры полиграфии всея Красногорска!</div>
        <a href="https://vinyl-tm.ru" class="card-review__link">www.vinyl-tm.ru</a>
      </div>
    </div>
    @@include('./blocks/modules/pagination/pagination.html')
  </div>
</div>


