/*_______ Section _______*/
/* #region */
.section-wrapper {
  max-width: 1220px;
  margin: 0 auto;
}
.section-heading {
  position: relative;
  // margin: 0 auto 50px;
  margin-top: 0px;
  margin-bottom: 50px;
  text-align: center;
}
.section-heading-compound {
  position: relative;
  display: flex;
  // justify-content: center;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 50px;
}
.section-heading__title {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  font-size: 50px;
  // font-weight: normal;
  font-weight: @fw-bold;
  line-height: 1.2;
  // text-align: center;
  letter-spacing: 0.1em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: @black;
}
// .section-heading__forward {
//   display: inline-flex;
//   flex-shrink: 0;
//   // justify-content: baseline;
//   justify-content: flex-end;
//   align-items: center;
//   margin-left: auto;
//   padding: 8px 12px;
//   border-radius: 3px;
//   border: 1px solid @light_red;
//   font-size: 12px;
//   line-height: 1.67;
//   color: @black;
//   background-color: @white;
//   &:hover {
//     background-color: @light_red;
//   }
// }
.main-page .section-heading__title {
  text-transform: uppercase;
}
.section-info {
  padding-bottom: 48px;
  padding-left: 310px;
}
.section-info__title {
  margin-bottom: 20px;
}
.section-twin {
  display: flex;
  align-items: flex-start;
}
.section-twin__main {
  max-width: 908px;
  // width: calc(74% - 32px);
  width: 74%;
}
.section-twin__side {
  max-width: 312px;
  width: 26%;
}
/* #endregion */

@media (max-width: 1260px) {
  .section {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (max-width: 1030px) {
  .section-info {
    padding-bottom: 40px;
    padding-left: 0;
  }
}

@media (max-width: 860px) {
  .section-heading,
  .section-heading-compound {
    margin-bottom: 40px;
  }
  .section-heading__title {
    font-size: 40px;
  }
  .section-info__title {
    font-size: 40px;
  }

  .section-twin {
    flex-direction: column;
  }
  .section-twin__main {
    max-width: 100%;
    width: 100%;
  }
  .section-twin__side {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 100%;
  }
}

@media (max-width: 560px) {
  .section-heading,
  .section-heading-compound {
    margin-bottom: 30px;
  }
  .section-heading__title {
    font-size: 32px;
  }
  .section-info__title {
    margin-bottom: 16px;
    font-size: 32px;
  }
}

@media (max-width: 480px) {
  .section {
    padding-left: 10px;
    padding-right: 10px;
  }
  // .section-heading {
  //   margin-bottom: 30px;
  // }
  .section-heading__title {
    font-size: 28px;
  }
  .section-info__title {
    font-size: 28px;
  }
}
