/*_______ Breadcrumbs _______*/
/* #region */
.breadcrumbs {
  margin-top: 24px;
}
.breadcrumbs .section-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.breadcrumbs__item {
  margin-right: 8px;
  font-size: 14px;
  line-height: 1.2;
  color: @grey;
  text-decoration: none;
  &:hover {
    color: @red;
    text-decoration: none;
  }
}
.breadcrumbs__pointer {
  margin-bottom: -1px;
  padding-left: 8px;
}
.breadcrumbs__item--current {
  margin-right: 0;
  color: @dark_red;
  &:hover {
    color: @dark_red;
    text-decoration: none;
  }
}

.breadcrumbs--white .breadcrumbs__item {
  color: @white;
}
.breadcrumbs--white .breadcrumbs__item--current {
  color: @white;
  &:hover {
    color: @white;
  }
}
/* #endregion */

@media (max-width: 720px) {
  .breadcrumbs {
    display: none;
  }
}
