<div class="breadcrumbs">
  <div class="section-wrapper">
    <a href="" class="breadcrumbs__item">Изготовление наружной рекламы<span class="breadcrumbs__pointer">→</span></a>
    <a href="services-catalog.html" class="breadcrumbs__item">Таблички<span class="breadcrumbs__pointer">→</span></a>
    <span class="breadcrumbs__item breadcrumbs__item--current">Офисные таблички</span>
  </div>
</div>