<div class="breadcrumbs">
  <div class="section-wrapper">
    <a href="" class="breadcrumbs__item">Каталог<img src="assets/cuptrade/img/ico/ico-chevron_small-grey.svg" alt="" class="breadcrumbs__pointer"></a>
    <a href="" class="breadcrumbs__item">Пластиковые стаканы и крышки<img src="assets/cuptrade/img/ico/ico-chevron_small-grey.svg" alt="" class="breadcrumbs__pointer"></a>
    <span class="breadcrumbs__item breadcrumbs__item--current">Стакан двухслойный белый 300 мл</span>
  </div>
</div>