<div class="breadcrumbs section">
  <div class="section-wrapper">
    <a href="" class="breadcrumbs__item">Каталог<img src="assets/cuptrade/img/ico/ico-chevron_small-grey.svg" alt="" class="breadcrumbs__pointer"></a>
    <span class="breadcrumbs__item breadcrumbs__item--current">Двухслойные стаканы</span>
  </div>
</div>