* {
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: border-box;
}

// html,
// body {
//   min-height: 100%;
// }
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}
body {
  display: flex; // for sticky footer
  flex-direction: column; // for sticky footer
  position: relative;
  height: 100vh; // for sticky footer
  // height: 100%;
  margin: 0;
  font-family: @font, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.5;
  color: @black;
  background-color: @white;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  display: inline-block;
  text-decoration: none;
  color: @black;
  .transition();
  &:hover {
    text-decoration: none;
    color: @red;
  }
}
a:focus,
input:focus,
textarea:focus {
  outline: 0 none;
}

.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
.no-scroll {
  overflow: hidden;
}

@media (max-width: 560px) {
  body {
    font-size: 16px;
  }
}


img.lazy {
  max-width: fit-content;
}