/*_______ Fonts _______*/
@font-face {
  font-family: "Harmonia";
  src:  url("../../fonts/Harmonia/Harmonia-Regular.eot");
  src:  url("../../fonts/Harmonia/Harmonia-Regular.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/Harmonia/Harmonia-Regular.woff") format("woff"),
        url("../../fonts/Harmonia/Harmonia-Regular.woff2") format("woff2"),
        url("../../fonts/Harmonia/Harmonia-Regular.ttf") format("truetype");
  font-style: normal;
  // font-weight: normal;
  font-weight: @fw-regular;
  font-display: swap;
}
@font-face {
  font-family: "Harmonia";
  src:  url("../../fonts/Harmonia/Harmonia-Light.eot");
  src:  url("../../fonts/Harmonia/Harmonia-Light.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/Harmonia/Harmonia-Light.woff") format("woff"),
        url("../../fonts/Harmonia/Harmonia-Light.woff2") format("woff2"),
        url("../../fonts/Harmonia/Harmonia-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: @fw-light;
  font-display: swap;
}
@font-face {
  font-family: "Harmonia";
  src:  url("../../fonts/Harmonia/Harmonia-SemiBold.eot");
  src:  url("../../fonts/Harmonia/Harmonia-SemiBold.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/Harmonia/Harmonia-SemiBold.woff") format("woff"),
        url("../../fonts/Harmonia/Harmonia-SemiBold.woff2") format("woff2"),
        url("../../fonts/Harmonia/Harmonia-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: @fw-semibold;
  font-display: swap;
}
@font-face {
  font-family: "Harmonia";
  src:  url("../../fonts/Harmonia/Harmonia-Bold.eot");
  src:  url("../../fonts/Harmonia/Harmonia-Bold.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/Harmonia/Harmonia-Bold.woff") format("woff"),
        url("../../fonts/Harmonia/Harmonia-Bold.woff2") format("woff2"),
        url("../../fonts/Harmonia/Harmonia-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: @fw-bold;
  font-display: swap;
}
