/*_______ Forms Default styling _______*/
/* #region */
input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  margin: 0;
  outline: 0;
  padding: 0;
  font-family: @font;
}
input[type="submit"] {
  cursor: pointer;
}
input[disabled], input[readonly] {
  background-color: #e5e5e5;
  color: #000;
}
// input::-webkit-outer-spin-button,
// input::-webkit-inner-spin-button {
//   -webkit-appearance: none;
//   margin: 0;
// }
// input[type="number"] {
//   -moz-appearance: textfield;
//   appearance: textfield;
//   -webkit-appearance: none;
// }
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
textarea {
  resize: none;
  font-family: @font;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: 0;
}

.form-field {
  // display: flex;
  // flex-wrap: wrap;
  position: relative;
  width: 100%;
  padding-bottom: 20px;
}
.form-field__req {
  position: absolute;
  top: -2px;
  right: -4px;
  font-weight: @fw-semibold;
  font-size: 20px;
  line-height: 1;
  color: @red;
}
.form-input {
  width: 100%;
  padding: 20px 30px;
  border: 1px solid @stroke_dark;
  border-radius: 35px;
  font-size: 20px;
  // line-height: 1;
  background: @white;
  &:hover {
    border: 1px solid @black;
  }
}
.form-input__textarea {
  padding: 20px 30px;
  width: 100%;
  height: 120px;
  // font-size: 14px;
  line-height: 1.3;
  background: transparent;
}
::-webkit-input-placeholder {
  color: @grey;
  // opacity: 0.8;
}
::-moz-placeholder {
  color: @grey;
  // opacity: 0.8;
}
:-moz-placeholder {
  color: @grey;
  // opacity: 0.8;
}
:-ms-input-placeholder {
  color: @grey;
  // opacity: 0.8;
}
input:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus:-moz-placeholder {
  color: transparent;
}
input:focus::-moz-placeholder {
  color: transparent;
}
input:focus:-ms-input-placeholder {
  color: transparent;
}
.form-input__select {
  position: relative;
  // width: 210px;
  // height: 38px;
  // margin-left: auto;
  background: transparent;
  border: 1px solid @grey;
  border-radius: 2px;
}
.form-input__select > select {
  width: 100%;
  // height: 37px;
  // padding: 10px 12px;
  padding: 12px 10px;
  background: transparent;
  border: 0;
  font-size: 14px;
  color: @black;
  z-index: 1;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.form-input__select > select::-ms-expand {
  display: none;
}
.form-input__select-arrow {
  position: absolute;
  top: 19px;
  right: 12px;
  width: 12px;
  // height: 5px;
  // opacity: 0.7;
  z-index: 0;
}

.form-option__switcher-position {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 1.2;
  // color: @black;
}
.form-option__switcher {
  display: none;
}
.form-option__switcher-label {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  // flex-shrink: 0;
  // padding-left: 28px;
  cursor: pointer;
}
.form-option__switcher-label::before {
  content: "";
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  margin-right: 20px;
  border-radius: 50%;
  border: 1px solid @stroke_dark;
  background-color: @white;
  cursor: pointer;
}
// .form-option__switcher:checked + .form-option__switcher-label::before {
//   border: 1px solid @stroke_dark;
//   background-color: @red;
// }
.form-option__switcher:checked + .form-option__switcher-label::after {
  content: "";
  position: absolute;
  // top: 8px;
  top: calc(50% - 12px);
  left: 8px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: @red;
}

.form-policy {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.1;
  color: @grey;
}
.form-policy .form-policy__checkbox-label {
  padding-top: 2px;
}
.form-policy__checkbox:checked,
.form-policy__checkbox:not(:checked) {
  position: absolute;
  left: -9999px;
}
.form-policy__checkbox:checked + .form-policy__checkbox-label,
.form-policy__checkbox:not(:checked) + .form-policy__checkbox-label {
  position: relative;
  padding-left: 36px;
  cursor: pointer;
}
.form-policy__checkbox:checked + .form-policy__checkbox-label::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  left: 0;
  top: calc(50% - 12px);
  background-color: transparent;
  border: 1px solid @stroke_dark;
  border-radius: 4px;
}
.form-policy__checkbox:checked + .form-policy__checkbox-label::after {
  content: url("../img/ico/ico-check-red.svg");
  position: absolute;
  width: 11px;
  height: 8px;
  left: 7px;
  top: calc(50% - 7px);
}
.form-policy__checkbox:not(:checked) + .form-policy__checkbox-label::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  left: 0;
  top: calc(50% - 12px);
  background-color: transparent;
  border: 1px solid @stroke_dark;
  border-radius: 4px;
}
.form-policy__checkbox:not(:checked) + .form-policy__checkbox-label::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  opacity: 0;
  left: 7px;
  top: calc(50% - 7px);
}
.form-policy__link {
  display: inline;
  // font-weight: @fw-bold;
  font-size: 14px;
  text-decoration: underline;
  color: @grey;
  &:hover {
    text-decoration: none;
    color: @grey;
  }
}
/* #region */

/*_______________ Invalid Field _______________*/
/* #region */
.form-field__prompt {
  display: none;
  position: absolute;
  bottom: 22px;
  left: 30px;
  font-size: 14px;
  color: @red;
}
.form-field--invalid input {
  border: 1px solid @red;
}
.form-field--invalid .form-input::-webkit-input-placeholder {
  color: @red;
}
.form-field--invalid .form-input::-moz-placeholder {
  color: @red;
}
.form-field--invalid .form-input:-moz-placeholder {
  color: @red;
}
.form-field--invalid .form-input:-ms-input-placeholder {
  color: @red;
}
.form-field--invalid .form-field__prompt {
  display: block;
}
/* #endregion */

// @media (max-width: 860px) {
//   .form-policy__checkbox:checked + label::after {
//     top: calc(50% - 9px);
//   }
//   .form-policy__checkbox:not(:checked) + label::after {
//     top: calc(50% - 9px);
//   }
// }

@media (max-width: 560px) {
  .form-input {
    padding: 16px 20px;
    font-size: 16px;
  }
  .form-input__textarea {
    padding: 16px 20px;
    font-size: 16px;
  }
  .form-option__switcher-position {
    margin-bottom: 16px;
    font-size: 14px;
  }
  .form-option__switcher-label::before {
    width: 30px;
    height: 30px;
    margin-right: 16px;
  }
  .form-option__switcher:checked + .form-option__switcher-label::after {
    // top: 7px;
    top: calc(50% - 8px);
    left: 7px;
    width: 16px;
    height: 16px;
  }
  .form-policy {
    font-size: 12px;
  }
  .form-policy__checkbox:checked + .form-policy__checkbox-label::after {
    top: calc(50% - 5px);
  }
  .form-policy__checkbox:not(:checked) + .form-policy__checkbox-label::after {
    top: calc(50% - 5px);
  }
  .form-field__prompt {
    display: none;
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 12px;
    color: @red;
  }
}

@media (max-width: 360px) {
  .form-field {
    padding-bottom: 10px;
  }
}
