/*_________ Typo _________*/
h1 {
  margin-top: 0px;
  margin-bottom: 40px;
  font-size: 40px;
  font-weight: @fw-bold;
  // font-weight: normal;
  line-height: 1.2;
  color: @black;
}
h2 {
  margin-top: 0;
  margin-bottom: 16px;
  padding-top: 32px;
  font-size: 36px;
  font-weight: @fw-bold;
  // font-weight: normal;
  line-height: 1.2;
  color: @black;
}
h3 {
  margin-top: 0;
  margin-bottom: 4px;
  padding-top: 32px;
  font-size: 32px;
  font-weight: @fw-bold;
  // font-weight: normal;
  line-height: 1.2;
  color: @black;
}
h4 {
  margin-top: 0;
  margin-bottom: 4px;
  padding-top: 40px;
  font-size: 24px;
  font-weight: @fw-bold;
  // font-weight: normal;
  line-height: 1.2;
  color: @black;
}
h5 {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 32px;
  font-size: 22px;
  font-weight: @fw-bold;
  // font-weight: normal;
  line-height: 1.2;
  color: @black;
}
h6 {
  margin-top: 0;
  margin-bottom: 8px;
  padding-top: 32px;
  font-size: 18px;
  font-weight: @fw-bold;
  // font-weight: normal;
  line-height: 1.2;
  color: @black;
}
// h1:first-child,
// h2:first-child,
// h3:first-child,
// h4:first-child,
// h5:first-child,
// h6:first-child {
//   margin-top: 0;
// }

p {
  margin: 0 0 10px;
  padding: 20px 0 0;
}

ul,
ol {
  margin: 14px 0 0;
  font-family: @font;
  // font-size: 16px;
  // line-height: 1.37;
  color: @black;
}
ul li,
ol li {
  margin-bottom: 14px;
  margin-left: -52px;
  padding-left: 12px;
}
.content ul {
  list-style: none;
  li::before {
    content: url("../img/ico/ico-chevron_right-red.svg");
    float: left;
    // margin-top: 4px;
    margin-left: -27px;
    // font-weight: @fw-bold;
    // font-size: 14px;
    // color: @red;
  }
}
ol {
  list-style: none;
  counter-reset: li;
  li::before {
    content: counter(li, decimal-leading-zero);
    counter-increment: li;
    float: left;
    margin-top: 4px;
    margin-left: -34px;
    font-weight: @fw-bold;
    font-size: 14px;
    color: @red;
  }
}

blockquote {
  position: relative;
  margin: 32px 0 24px;
  padding: 36px 90px 44px 110px;
  font-weight: @fw-light;
  font-size: 24px;
  color: @red;
  background-color: @very_light_red;
  &::before {
    content: "❮❮";
    margin-left: -54px;
    padding-right: 32px;
    font-size: 16px;
    color: @red;
  }
}

.title {
  font-weight: @fw-bold;
  font-size: 50px;
  line-height: 1.2;
}
.promo-title {
  margin-bottom: 22px;
  color: @white;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.promo-subtitle {
  max-width: 460px;
  width: 68%;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.rouble {
  display: inline-block;
  width: 0.4em;
  border-bottom: 0.08em solid @black;
  border-bottom-width: 1px;
  text-transform: uppercase;
  line-height: 0.35em;
}

.table-wrapper {
  min-height: 0.01%;
  margin-bottom: 24px;
  font-size: 16px;
  overflow-x: auto;
  -ms-overflow-style: none; // Internet Explorer 10+
  scrollbar-width: none;
}
.table-wrapper::-webkit-scrollbar {
  display: none; // Safari and Chrome
}
table {
  width: 100%;
  max-width: 100%;
  margin-top: 10px;
  border-collapse: collapse;
  border-right: none;
  border-left: none;
  text-align: left;
}
th {
  // width: 2%; /* equal width for Safari 6*/
  padding: 12px 20px 12px 0;
  // border: none;
  border-bottom: 1px solid @stroke_dark;
  font-weight: @fw-bold;
  // font-weight: normal;
  font-size: 16px;
  line-height: 1.2;
  color: @black;
  // background-color: @very_light_red;
  text-overflow: ellipsis;
}
tr {
  border-bottom: 1px solid @stroke_dark;
}
td {
  // width: 2%; /* equal width for Safari 6*/
  padding: 20px 20px 20px 0;
  // border-top: 1px solid @stroke_dark;
  font-size: 16px;
  line-height: 1.3;
  color: @black;
  // white-space: nowrap;
  text-overflow: ellipsis;
}
td:first-child {
  padding-left: 8px;
  font-weight: @fw-semibold;
}
th:first-child {
  padding-left: 8px;
}
th:last-child,
td:last-child {
  min-width: 70px;
  // padding-right: 0;
  padding-right: 8px;
  text-align: right;
}

@media (max-width: 860px) {
  h1 {
    margin-bottom: 16px;
    font-size: 34px;
  }
  h2 {
    margin-bottom: 8px;
    font-size: 30px;
  }
  h3 {
    font-size: 28px;
  }
  h4 {
    font-size: 23px;
  }
  h5 {
    font-size: 20px;
  }
  h6 {
    font-size: 17px;
  }

  ul li,
  ol li {
    margin-bottom: 10px;
    margin-left: -26px;
    // padding-left: 12px;
  }
  ol li {
    padding-left: 20px;
  }

  blockquote {
    padding: 36px 40px 44px 64px;
    font-size: 22px;
    color: @red;
    background-color: @very_light_red;
    &::before {
      margin-left: -36px;
      padding-right: 16px;
      font-size: 15px;
    }
  }

  th {
    font-size: 14px;
  }
  td {
    font-size: 14px;
    line-height: 1.2;
  }

  .promo-title {
    font-size: 40px;
  }
}

@media (max-width: 560px) {
  .content-section {
    margin-bottom: 70px;
  }
  h1 {
    margin-bottom: 6px;
    font-size: 28px;
  }
  h2 {
    // margin-bottom: 12px;
    padding-top: 20px;
    font-size: 24px;
  }
  h3 {
    margin-bottom: 4px;
    padding-top: 24px;
    font-size: 22px;
  }
  h4 {
    // margin-bottom: 7px;
    padding-top: 32px;
    font-size: 20px;
  }
  h5 {
    // margin-bottom: 6px;
    padding-top: 32px;
    font-size: 18px;
  }
  h6 {
    // margin-bottom: 4px;
    padding-top: 24px;
    font-size: 15px;
  }

  p {
    margin: 0 0 8px;
    padding: 18px 0 0;
  }

  ul li,
  ol li {
    margin-bottom: 12px;
  }

  th {
    padding: 12px 10px 12px 0;
    font-size: 12px;
  }
  td {
    padding: 16px 10px 16px 0;
    font-size: 12px;
  }

  .promo-title {
    margin-bottom: 16px;
    // font-size: 32px;
    font-size: 28px;
  }
  .promo-subtitle {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  blockquote {
    padding: 48px 20px 20px 20px;
    font-size: 17px;
    &::before {
      position: absolute;
      top: 16px;
      left: 20px;
      margin-left: 0;
      padding-right: 0;
    }
  }
}
