@white: #ffffff;
@black: #000100;
@red: #df312f;
@dark_red: #a81918;
@light_red: #ea413f;
@very_light_red: #faf7f7;
@grey: #989798;
@light_grey: #e4e4e4;
@dark_grey: #414141;
@stroke_light: #f5f5f5;
@stroke_dark: #e8e8e8;
@green: #4ca375;

@font: "Harmonia";
// @font-bold: "HarmoniaBold";
// @font-light: "HarmoniaLight";
// @font-semibold: "HarmoniaSemibold";
@fw-regular: 400;
@fw-light: 300;
@fw-semibold: 600;
@fw-bold: 700;

@transition-value: all 0.3s ease;

.transition() {
  transition: @transition-value;
}

.shadow_red_buttons() {
  box-shadow: 0px 4px 18px rgba(223, 49, 47, 0.2);
}
.shadow_light_red() {
  box-shadow: 0px 8px 22px rgba(0, 0, 0, 0.06);
}
.shadow_white_card() {
  box-shadow: 0px 8px 20px rgba(174, 69, 68, 0.04);
}
.shadow_search() {
  box-shadow: 0px 4px 20px rgba(174, 69, 68, 0.1);
}
