/*_______ manufacture _______*/
/* #region */
.manufacture-promo-section {
  position: relative;
  background: url("../img/manufacture_promo.jpg") 50% 50% no-repeat;
  background-size: cover;
  // overflow-y: hidden;
  z-index: 0;
}
.manufacture-promo__shape {
  position: absolute;
  transform: rotate(315deg);
  top: calc(40% - 60px);
  left: 70px;
  z-index: -1;
}
.manufacture-promo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
  padding-bottom: 150px;
  color: @white;
}
.manufacture-promo__video-scaffold {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*background-color: rgba(25, 38, 50, 0.5);*/
  background-color: rgba(21, 27, 34, 0.4);
  z-index: -1;
}
.manufacture-promo__video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: -2;
}

.manufacture-components-section {
  position: relative;
  margin-top: 90px;
  margin-bottom: 120px;
  z-index: 0;
}
.manufacture-components__shape {
  position: absolute;
  transform: rotate(45deg);
  top: -250px;
  right: 0;
  z-index: -1;
}
.manufacture-components {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.manufacture-component {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: calc(50% - 30px);
  margin: 0 15px 50px;
  padding: 24px 50px 40px 105px;
  background-color: @very_light_red;
}
.manufacture-component__number {
  position: absolute;
  top: -24px;
  left: 30px;
  font-weight: @fw-light;
  font-size: 80px;
  line-height: 1;
  color: @red;
}
.manufacture-component__title {
  margin-bottom: 20px;
  font-weight: @fw-semibold;
  font-size: 24px;
  line-height: 1.2;
  color: @black;
}
.manufacture-component__text {
  font-size: 16px;
  line-height: 1.5;
  color: @black;
}
.manufacture__button {
  margin: 0 auto 120px;
}

.manufacture-produces-section {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: @very_light_red;
}
.manufacture-produces {
  display: flex;
  margin: 50px -15px 0;
}
.manufacture-produce {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 15px;
  padding: 0 30px 40px;
  background-color: @white;
}
.manufacture-produce__ico {
  margin-top: -75px;
  margin-bottom: 24px;
}
.manufacture-produce__title {
  margin-bottom: 20px;
  font-weight: @fw-semibold;
  font-size: 24px;
  line-height: 1.2;
  color: @black;
}
.manufacture-produce__text {
  font-size: 16px;
  line-height: 1.5;
  color: @black;
}

.manufacture-processing-section {
  margin-top: 120px;
  padding-bottom: 120px;
  border-bottom: 1px solid @stroke_dark;
}
.manufacture-processings {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.manufacture-processing {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: calc(25% - 30px);
  margin-right: 15px;
  margin-left: 15px;
  padding: 225px 30px 30px;
  color: @white;
  background: linear-gradient(180deg, rgba(223, 49, 47, 0) 0%, #df312f 70.45%);
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
}
.manufacture-processing__title {
  margin-bottom: 14px;
  font-weight: @fw-semibold;
  font-size: 24px;
  line-height: 1.2;
}
.manufacture-processing__text {
  font-size: 16px;
  line-height: 1.5;
}
// .manufacture-processing__bg {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
//   .transition();
//   z-index: -1;
// }
.manufacture-processing__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  .transition();
  z-index: -1;
}
.manufacture-processing:hover .manufacture-processing__bg {
  transform: scale(1.1);
}

.manufacture-certs-section {
  position: relative;
  margin-top: 100px;
  margin-bottom: 120px;
}
.manufacture-certs {
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
  padding-left: 310px;
}
.manufacture-cert {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(33.33% - 30px);
  height: 185px;
  margin-right: 15px;
  margin-left: 15px;
  background-color: @very_light_red;
}
/* #endregion */

@media (max-width: 1200px) {
  .manufacture-components__shape {
    right: -120px;
  }
}

@media (max-width: 1100px) {
  .manufacture-processings {
    margin-right: -10px;
    margin-left: -10px;
  }
  .manufacture-processing {
    width: calc(25% - 20px);
    margin-right: 10px;
    margin-left: 10px;
  }
}

@media (max-width: 1030px) {
  .manufacture-promo__shape {
    left: -60px;
  }

  .manufacture-components-section {
    margin-top: 70px;
    margin-bottom: 80px;
  }

  .manufacture-produces-section {
    padding-top: 70px;
    padding-bottom: 80px;
  }

  .manufacture-processing-section {
    margin-top: 70px;
    padding-bottom: 80px;
  }
  // .manufacture-processings {
  //   margin-right: -12px;
  //   margin-left: -12px;
  // }
  // .manufacture-processing {
  //   width: calc(25% - 24px);
  //   margin-right: 12px;
  //   margin-left: 12px;
  // }

  .manufacture-certs-section {
    margin-top: 70px;
    margin-bottom: 100px;
  }
  .manufacture-certs {
    padding-left: 0;
  }
}

@media (max-width: 960px) {
  .manufacture-processings {
    margin-right: -8px;
    margin-left: -8px;
  }
  .manufacture-processing {
    width: calc(33.33% - 16px);
    margin-right: 8px;
    margin-left: 8px;
    margin-bottom: 16px;
  }
}

@media (max-width: 860px) {
  .manufacture-components__shape {
    top: -110px;
    right: -230px;
  }

  .manufacture-components {
    margin-right: -12px;
    margin-left: -12px;
    padding-top: 20px;
  }
  .manufacture-component {
    width: calc(50% - 24px);
    margin: 0 12px 44px;
    padding: 16px 20px 20px 70px;
  }
  .manufacture-component__number {
    top: -20px;
    left: 26px;
    font-size: 60px;
  }

  .manufacture-produces {
    flex-direction: column;
    margin: 16px 0 0;
  }
  .manufacture-produce {
    flex-direction: row;
    margin: 0 0 30px 60px;
    // padding: 30px 30px 30px 127px;
    padding: 30px 30px 30px 37px;
  }
  .manufacture-produce__info {
    padding-left: 32px;
  }
  .manufacture-produce__ico {
    width: 126px;
    height: 126px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -75px;
  }

  .manufacture-processings {
    margin-right: -12px;
    margin-left: -12px;
  }
  .manufacture-processing {
    width: calc(50% - 24px);
    margin: 0 12px 24px;
  }

  .manufacture-cert {
    height: 160px;
  }
  .manufacture-cert__img {
    height: 70px;
  }
}

@media (max-width: 640px) {
  .manufacture-components {
    flex-direction: column;
    margin-right: 0;
    margin-left: 0;
  }
  .manufacture-components__shape {
    display: none;
  }
  .manufacture-component {
    width: 100%;
    margin: 0 0 40px;
    padding: 32px 20px 20px 20px;
  }
  .manufacture-component__number {
    top: -30px;
    font-size: 48px;
  }
  .manufacture-component__title {
    margin-bottom: 12px;
  }
}

@media (max-width: 560px) {
  .manufacture-promo__shape {
    left: -100px;
  }

  .manufacture-produces-section {
    padding-bottom: 32px;
  }
  .manufacture-produce {
    flex-direction: column;
    margin: 0 0 60px 0;
    padding: 55px 20px 30px 20px;
  }
  .manufacture-produce__ico {
    width: 80px;
    height: 80px;
    margin-top: -96px;
    margin-bottom: 12px;
    margin-left: 0;
  }
  .manufacture-produce__info {
    padding-left: 0;
  }
  .manufacture-produce__title {
    margin-bottom: 10px;
    font-size: 20px;
  }

  .manufacture-processing-section {
    padding-bottom: 60px;
  }
  .manufacture-processings {
    margin-right: -5px;
    margin-left: -5px;
  }
  .manufacture-processing {
    width: calc(50% - 10px);
    margin: 0 5px 10px;
    padding: 186px 20px 20px;
  }
  .manufacture-processing__title {
    font-size: 20px;
  }
  .manufacture-processing__text {
    font-size: 14px;
  }

  .manufacture-certs-section {
    margin-bottom: 80px;
  }
  .manufacture-certs {
    margin-right: -5px;
    margin-left: -5px;
  }
  .manufacture-cert {
    width: calc(33.33% - 20px);
    height: 130px;
    margin-right: 10px;
    margin-left: 10px;
  }
  .manufacture-cert__img {
    height: 60px;
  }
}

@media (max-width: 480px) {
  .manufacture-certs {
    margin: -20px -5px 0;
  }
  .manufacture-cert {
    width: calc(33.33% - 00px);
    height: 90px;
    margin-right: 5px;
    margin-left: 5px;
  }
  .manufacture-cert__img {
    height: 40px;
  }
}

@media (max-width: 375px) {
  .manufacture-processings {
    margin-right: 0;
    margin-left: 0;
  }
  .manufacture-processing {
    width: 100%;
    margin: 0 0 20px;
  }
  .manufacture-processing__bg {
    top: -40px;
  }
}
