<div class="manufacture-promo-section section">
  <img src="assets/cuptrade/img/bg_lines_square_small_white.svg" alt="" class="manufacture-promo__shape">
  <div class="breadcrumbs breadcrumbs--white section">
    <div class="section-wrapper">
      <a href="" class="breadcrumbs__item">О нас<img src="assets/cuptrade/img/ico/ico-chevron_small-white.svg" alt="" class="breadcrumbs__pointer"></a>
      <span class="breadcrumbs__item breadcrumbs__item--current">Производство</span>
    </div>
  </div>
  <div class="section-wrapper">
    <div class="manufacture-promo">
      <h1 class="title promo-title">Производство</h1>
      <div class="promo-subtitle">Наш принцип — это качество, современные технологии и развитие.</div>
    </div>
  </div>
  <div class="manufacture-promo__video-scaffold"></div>
  <video autoplay loop playsinline muted class="manufacture-promo__video-bg">
    <source src="assets/cuptrade/video/cuptrade_579424105.mp4" type="video/mp4">
    <source src="assets/cuptrade/video/cuptrade_579424105.webm" type="video/webm">
  </video>
</div>

<div class="manufacture-components-section section">
  <img src="assets/cuptrade/img/bg_lines_square_wide_red.svg" alt="" class="manufacture-components__shape">
  <div class="section-wrapper">
    <div class="section-info">
      <div class="title section-info__title">Наш принцип — это качество</div>
      <p>Чистая правда, куда бы вы не написали, оставили заявку  или позвонили – вам моментально ответит именно ваш личный менеджер. Каждого из нас поистине профессионал в области одноразовой упаковки. Бюрократии – бой, мы всегда сможем договориться, смело задавайте неудобные вопросы.</p>
      <p>Чистая правда, куда бы вы не написали, оставили заявку  или позвонили – вам моментально ответит именно ваш личный менеджер. Каждого из нас поистине профессионал в области одноразовой упаковки. Бюрократии – бой, мы всегда сможем договориться, смело задавайте неудобные вопросы.</p>
    </div>
    <div class="manufacture-components">
      <div class="manufacture-component">
        <div class="manufacture-component__number">1</div>
        <div class="manufacture-component__title">Пищевая безопасность</div>
        <div class="manufacture-component__text">Крутим из высококачественного европейского картона высокой плотности, без деформации и протечек</div>
      </div>
      <div class="manufacture-component">
        <div class="manufacture-component__number">2</div>
        <div class="manufacture-component__title">Надежные поставщики сырья</div>
        <div class="manufacture-component__text">Используемое сырье и пищевые краски абсолютно безвредны для человека и окружающей среды</div>
      </div>
      <div class="manufacture-component">
        <div class="manufacture-component__number">3</div>
        <div class="manufacture-component__title">Качество и надежность</div>
        <div class="manufacture-component__text">Мы печатаем офсетом, каждый раз добиваясь яркого и насыщенного изображения</div>
      </div>
      <div class="manufacture-component">
        <div class="manufacture-component__number">4</div>
        <div class="manufacture-component__title">Технологии и развитие</div>
        <div class="manufacture-component__text">Всегда в наличии на складе в Москве</div>
      </div>
    </div>
    <div class="flex-centered"><button class="button button-primary js-modalCall" data-modal-called="modalOrder">Заказать стаканы</button></div>
  </div>
</div>

<div class="manufacture-produces-section section">
  <div class="section-wrapper">
    <div class="section-info">
      <div class="title section-info__title">Высокотехнологичное производство</div>
      <p>Чистая правда, куда бы вы не написали, оставили заявку  или позвонили – вам моментально ответит именно ваш личный менеджер. Каждого из нас поистине профессионал в области одноразовой упаковки. Бюрократии – бой, мы всегда сможем договориться, смело задавайте неудобные вопросы.</p>
    </div>
    <div class="manufacture-produces">
      <div class="manufacture-produce">
        <img src="assets/cuptrade/img/ico-concept/ico-gear.svg" alt="" class="manufacture-produce__ico">
        <div class="manufacture-produce__info">
          <div class="manufacture-produce__title">Современное оборудование</div>
          <div class="manufacture-produce__text">Мы используем высокоточное и высокоскоростное производственное оборудование, наши производственные линии позволяют изготавливать до 450,000 стаканов ежедневно.</div>
        </div>
      </div>
      <div class="manufacture-produce">
        <img src="assets/cuptrade/img/ico-concept/ico-leafs_circle.svg" alt="" class="manufacture-produce__ico">
        <div class="manufacture-produce__info">
          <div class="manufacture-produce__title">Экологичное импортное сырье</div>
          <div class="manufacture-produce__text">В производстве мы используем только высококачественный финский и шведский картон, что совместно с современным оборудованием позволяет полностью исключить вероятность протечки стаканов.</div>
        </div>
      </div>
      <div class="manufacture-produce">
        <img src="assets/cuptrade/img/ico-concept/ico-overlap.svg" alt="" class="manufacture-produce__ico">
        <div class="manufacture-produce__info">
          <div class="manufacture-produce__title">Высококачественная печать</div>
          <div class="manufacture-produce__text">Полноцветная офсетная печать с использованием пищевых красок (полностью экологичны, не имеют постороннего запаха) позволяет добиваться идеального качества изображения.</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="manufacture-processing-section section">
  <div class="section-wrapper">
    <div class="section-heading">
      <div class="section-heading__title">Постпечатная обработка</div>
    </div>
    <div class="manufacture-processings">
      <div class="manufacture-processing" href="assets/cuptrade/img/manufacture/big-postpechat-figurnaya-vyrubka.jpg" data-fancybox="manufacture" data-caption="Вырубка">
        <div class="manufacture-processing__title">Вырубка</div>
        <div class="manufacture-processing__text">Мы можем вырубить любой узор на вашем стакане, с вас – идея, с нас – воплощение!</div>
        <img src="assets/cuptrade/img/manufacture-cut.jpg" alt="" class="manufacture-processing__bg">
      </div>
      <div class="manufacture-processing" href="assets/cuptrade/img/manufacture/big-postpechat-tisnenie-folgoy.jpg" data-fancybox="manufacture" data-caption="Тиснение">
        <div class="manufacture-processing__title">Тиснение</div>
        <div class="manufacture-processing__text">Тиснение фольгой отдельных элементов стакана придаст ему уникальности</div>
        <img src="assets/cuptrade/img/manufacture-embossing.jpg" alt="" class="manufacture-processing__bg">
      </div>
      <div class="manufacture-processing" href="assets/cuptrade/img/manufacture/big-postpechat-congrev.jpg" data-fancybox="manufacture" data-caption="Конгрев">
        <div class="manufacture-processing__title">Конгрев</div>
        <div class="manufacture-processing__text">Выборочная часть изображения может иметь выпуклую или наоборот – вогнутую форму</div>
        <img src="assets/cuptrade/img/manufacture-stamping.jpg" alt="" class="manufacture-processing__bg">
      </div>
      <div class="manufacture-processing" href="assets/cuptrade/img/manufacture/big-postpechat-soft-touch.jpg" data-fancybox="manufacture" data-caption="Soft touch">
        <div class="manufacture-processing__title">Soft touch</div>
        <div class="manufacture-processing__text">При нанесении лака soft touch, поверхность стакана становится мягкой и приятной на ощупь</div>
        <img src="assets/cuptrade/img/manufacture-touch.jpg" alt="" class="manufacture-processing__bg">
      </div>
    </div>
  </div>
</div>

<div class="manufacture-certs-section section">
  <div class="section-wrapper">
    <div class="section-info">
      <div class="title section-info__title">Сертификация</div>
      <p>В производстве продукции нашей компании используются только экологические высококачественные материалы российских и европейских производителей.</p>
      <p>Контроль качества выпускаемой продукции производится на всех этапах производства, позволяя максимально снизить риск выпуска не качественной продукции на конечном этапе.</p>
      <p>Вся предлагаемая нами упаковка проходит обязательные испытания на контакт с пищевыми продуктами в государственных лицензированных сертификационных органах. После проведения испытаний безопасность продукции для здоровья человека подтверждается протоколами и заключениями в форме, установленной действующим законодательством.</p>
    </div>
    <div class="manufacture-certs">
      <div class="manufacture-cert">
        <img src="assets/cuptrade/img/cert-eac.svg" alt="" class="manufacture-cert__img">
      </div>
      <div class="manufacture-cert">
        <img src="assets/cuptrade/img/cert-rst.svg" alt="" class="manufacture-cert__img">
      </div>
      <div class="manufacture-cert">
        <img src="assets/cuptrade/img/cert-ce.svg" alt="" class="manufacture-cert__img">
      </div>
    </div>
  </div>
</div>
