/*_______ Thanks page _______*/
/* #region */
.thanks-section {
  padding-top: 80px;
  padding-bottom: 140px;
}
.thanks {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  max-width: 630px;
  margin: 0 auto;
}
.thanks__title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  margin-bottom: 36px;
  font-weight: @fw-semibold;
  font-size: 50px;
  line-height: 1.2;
  text-align: center;
  color: @black;
}
.thanks__title-first {
  display: inline-flex;
  justify-content: center;
  width: 100%;
}
.thanks-order {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 40px;
  padding: 16px 40px;
  border-radius: 150px;
  line-height: 1.2;
  text-align: center;
  background-color: @very_light_red;
}
.thanks-order__text {
  font-size: 16px;
  color: @black;
}
.thanks-order__number {
  font-weight: @fw-bold;
  font-size: 22px;
  color: @red;
}
.thanks__text {
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  // color: @black;
}
.thanks__text a {
  color: @red;
  &:hover {
    // color: @light_red;
    color: @dark_red;
  }
}
.thanks__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.thanks__button {
  margin-right: 30px;
}
.thanks__buttons .button {
  font-family: @font;
  font-size: 18px;
}
.thanks__button-ico {
  flex-shrink: 0;
  margin-right: 14px;
  .transition();
}
.thanks__button-inst:hover .thanks__button-ico {
  fill: @white;
}
/* #endregion */

@media (max-width: 860px) {
  .thanks-section {
    padding-top: 60px;
    padding-bottom: 100px;
  }
  .thanks__title {
    margin-bottom: 20px;
    font-size: 40px;
  }
  .thanks__button {
    margin-right: 20px;
  }
}

@media (max-width: 640px) {
  .thanks__buttons {
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    width: 300px;
    margin-right: auto;
    margin-left: auto;
  }
  .thanks__button {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .thanks__buttons .button {
    padding-right: 24px;
    padding-left: 24px;
  }
}

@media (max-width: 560px) {
  .thanks-section {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .thanks__title {
    font-size: 32px;
  }
  .thanks-order {
    margin-bottom: 30px;
  }
}

@media (max-width: 420px) {
  .thanks__title {
    font-size: 28px;
  }
  .thanks__buttons {
    width: 100%;
  }
}
@media (max-width: 320px) {
  .thanks__title-first {
    width: auto;
  }
}
