<div class="sidebar">
  <div class="sidebar-list">
    <a href="content.html" class="sidebar-category">
      <svg width="7" height="11" viewBox="0 0 8 12" fill="#989798" xmlns="http://www.w3.org/2000/svg" class="ico-svg sidebar-category-ico"><path fill-rule="evenodd" clip-rule="evenodd" d="M6.079 11.693l1.442-1.386L3.386 6l4.135-4.307L6.08.307.614 6l5.465 5.693z"/></svg>
      Материалы и компоненты
    </a>
    <a href="" class="sidebar-list__item">Картон</a>
    <a href="" class="sidebar-list__item">Ламинация</a>
    <span class="sidebar-list__item sidebar-list__item--active">Экологичные чернила</span>
    <a href="" class="sidebar-list__item">Сертифицированный пластик</a>
    <a href="" class="sidebar-list__item">Картон</a>
    <a href="" class="sidebar-list__item">Ламинация</a>
    <a href="" class="sidebar-list__item">Экологичные чернила</a>
    <a href="" class="sidebar-list__item">Сертифицированный пластик</a>
    <div class="sidebar-list--hidden">
      <a href="" class="sidebar-list__item">Картон</a>
      <a href="" class="sidebar-list__item">Ламинация</a>
      <a href="" class="sidebar-list__item">Экологичные чернила</a>
      <a href="" class="sidebar-list__item">Сертифицированный пластик</a>
    </div>
    <div class="sidebar-list__more js-sidebarList_More"><span class="sidebar-list__more-text">Ещё</span> <img src="assets/cuptrade/img/ico/ico-chevron_down.svg" class="sidebar-list__more-ico"></div>
  </div>
</div>