<div class="sidebar">
  <div class="sidebar-list">
    <span class="sidebar-section">
      Cовпадения в каталоге
    </span>
    <a href="" class="sidebar-list__item sidebar-list__item--active">Однослойные стаканы</a>
    <a href="" class="sidebar-list__item">Двухслойные стаканы</a>
    <a href="" class="sidebar-list__item">Крышки для стаканов</a>
  </div>
</div>