<div class="sidebar">
  <div class="sidebar-list">
    <a href="" class="sidebar-section">Материалы и компоненты</a>
    <a href="" class="sidebar-section">Одноразовая посуда</a>
    <a href="" class="sidebar-section">Упаковка</a>
    <a href="" class="sidebar-section">Сертифицированный пластик</a>
  </div>
</div>
