<div class="sidebar">
  <div class="sidebar-list">
    <a href="catalog.html" class="sidebar-section">Каталог</a>
    <span class="sidebar-list__item sidebar-list__item--active">Однослойные стаканы</span>
    <a href="" class="sidebar-list__item">Двухслойные стаканы</a>
    <a href="" class="sidebar-list__item">Крышки для стаканов</a>
    <a href="" class="sidebar-list__item">Пластиковые товары и крышки</a>
    <a href="" class="sidebar-list__item">Сопутстсвующие товары</a>
    <a href="" class="sidebar-list__item">Бумажная упаковка</a>
  </div>
</div>