/*_______ sidebar _______*/
/* #region */
.sidebar {
  margin-right: 30px;
  padding-top: 18px;
  padding-right: 10px;
  border-top: 1px solid @stroke_dark;
}
.sidebar-section {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.2;
  color: @grey;
  &:hover {
    color: @red;
  }
}
.sidebar-category {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  margin-left: -16px;
  font-size: 16px;
  line-height: 1.2;
  color: @grey;
  &:hover {
    color: @black;
  }
}
.sidebar-category-ico {
  // margin-top: 1px;
  margin-right: 10px;
  // margin-left: -10px;
}
.sidebar-category:hover .sidebar-category-ico {
  fill: @black;
}
// .sidebar__item {
//   display: block;
//   margin-bottom: 10px;
//   padding-left: 8px;
//   font-family: @font;
//   font-size: 16px;
//   line-height: 1.37;
//   color: @black;
//   &:hover {
//     text-decoration: none;
//     color: @red;
//   }
// }
.sidebar-list {
  display: flex;
  flex-direction: column;
  // align-items: flex-start;
  margin-bottom: 24px;
}
.sidebar-list__item {
  display: flex;
  align-items: center;
  margin-left: -10px;
  // padding: 8px 10px 9px;
  padding: 9px 10px 8px;
  font-size: 14px;
  line-height: 1.2;
  text-decoration: none;
  color: @black;
  &:hover {
    text-decoration: none;
    color: @black;
    background-color: @very_light_red;
  }
}
.sidebar-list__item--active {
  color: @red;
  background-color: @very_light_red;
  &:hover {
    text-decoration: none;
    color: @red;
  }
}
.sidebar-list--hidden {
  display: none;
  margin-top: -2px;
}
.sidebar-list--hidden .sidebar-list__item {
  display: flex;
  align-items: center;
}
.sidebar-list--last {
  margin-bottom: 10px;
}
.sidebar-list--single {
  margin-bottom: 8px;
}
.sidebar-list__more {
  display: flex;
  align-items: center;
  padding-top: 4px;
  font-size: 14px;
  color: @grey;
  cursor: pointer;
}
.sidebar-list__more-ico {
  width: 10px;
  margin-top: 2px;
  margin-left: 8px;
  transition: all 0.1s ease;
  opacity: 0.4;
}
.sidebar-list__more--rotate .sidebar-list__more-ico {
  transform: rotate(180deg);
  transition: all 0.1s ease;
}

// .sidebar__item--active {
//   margin-top: 12px;
//   padding: 7px 8px;
//   border-radius: 5px;
//   color: @black;
//   background-color: fadeout(@light_red, 80%);
//   &:hover {
//     text-decoration: none;
//     color: @black;
//     background-color: fadeout(@light_red, 80%);
//   }
// }
/* #endregion */

@media (max-width: 1030px) {
  .sidebar {
    margin-right: 20px;
  }
}
