<div class="order-section section">
  <img src="assets/cuptrade/img/bg_lines_square.svg" alt="" class="order-section__shape">
  <img src="assets/cuptrade/img/bg_lines_circle.svg" alt="" class="order-section__shape2">
  <div class="section-wrapper">
    <div class="section-heading">
      <a href="catalog.html" class="shopward-link"><span class="shopward-link__ico"><svg width="6" height="11" viewBox="0 0 8 12" fill="#989798" xmlns="http://www.w3.org/2000/svg" class="ico-svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M6.079 11.693l1.442-1.386L3.386 6l4.135-4.307L6.08.307.614 6l5.465 5.693z"/></svg></span>Продолжить покупки</a>
      <h1 class="section-heading__title">Оформить заказ</h1>
    </div>
    <div class="section-twin">
      <div class="section-twin__side">
        @@include('./blocks/modules/order/order-purchase.html')
      </div>

      <div class="section-twin__main">
        <div class="order">
          <form method="POST" class="order-form js-validateForm_Policy">
            <div class="order-form__person">
              <div class="order-form__title">Персональные данные</div>
              <div class="form-field">
                <input type="text" name="name" id="formOrder_name" class="form-input order-form__input" placeholder="Ваше имя*" data-req>
                <div class="form-field__prompt">Заполните поле</div>
              </div>
              <div class="form-field">
                <input type="email" name="mail" id="formOrder_mail" class="form-input order-form__input" placeholder="E-mail*" data-req>
                <div class="form-field__prompt">Заполните поле</div>
              </div>
              <div class="form-field">
                <input type="tel" name="phone" id="formOrder_phone" class="form-input order-form__input" placeholder="Телефон*" data-req>
                <div class="form-field__prompt">Заполните поле</div>
              </div>
            </div>

            <div class="order-form__delivery">
              <div class="order-form__title">Доставка</div>
              <div class="form-option__switcher-position">
                <input type="radio" class="form-option__switcher" name="order-form-delivery" value="Самовывоз" id="Самовывоз" checked>
                <label for="Самовывоз" class="form-option__switcher-label">Самовывоз со склада (г. Москва, ул. Свободы, д. 35, стр. 10)</label>
              </div>
              <div class="form-option__switcher-position">
                <input type="radio" class="form-option__switcher" name="order-form-delivery" value="Доставка" id="Доставка">
                <label for="Доставка" class="form-option__switcher-label">Доставка (бесплатно в пределах МКАД при сумме заказа от 4000р.)</label>
              </div>
            </div>

            <div class="order-form__payment">
              <div class="order-form__title">Оплата</div>
              <div class="form-option__switcher-position">
                <input type="radio" class="form-option__switcher" name="order-form-payment" value="Наличными при получении" id="Наличными при получении" checked>
                <label for="Наличными при получении" class="form-option__switcher-label">Наличными при получении</label>
              </div>
              <div class="form-option__switcher-position">
                <input type="radio" class="form-option__switcher" name="order-form-payment" value="Банковской картой при получении" id="Банковской картой при получении">
                <label for="Банковской картой при получении" class="form-option__switcher-label">Банковской картой при получении</label>
              </div>
              <div class="form-option__switcher-position">
                <input type="radio" class="form-option__switcher" name="order-form-payment" value="Безналичный расчет" id="Безналичный расчет">
                <label for="Безналичный расчет" class="form-option__switcher-label">Безналичный расчет</label>
              </div>
            </div>

            <div class="order-form__title--borderless">Комментарии к заказу</div>
            <div class="form-field">
              <textarea name="comment" id="formOrder_comment" rows="10" placeholder="Комментарии" class="form-input form-input__textarea order-form__textarea"></textarea>
            </div>

            <div class="form-policy">
              <input type="checkbox" name="policy_check" id="formOrder_policy" class="form-policy__checkbox" data-req>
              <label for="formOrder_policy" class="form-policy__checkbox-label">
                Я согласен с <a href="https://www.cuptrade.ru/politika-konfidencialnosti/" class="form-policy__link">обработкой персональных данных</a>
              </label>
            </div>

            <input type="hidden" name="formOrder_hidden" class="form-input--hide">
            <input type="submit" name="formOrder_submit" class="button button-primary order-form__submit" value="Отправить">
          </form>
        </div>
      </div>

    </div> <!-- end section-twin -->

  </div>
</div>