<div class="order-purchase">
  <div class="order-purchase__header">
    <div class="order-purchase__title">Ваш заказ</div>
    <div class="order-purchase__note">Получите скидку более 15% при сумме заказа от 5000 ₽</div>
  </div>
  <div class="order-purchase__set">
    <div class="order-purchase__set-name">Стакан двухслойный крафт 400 мл</div>
    <div class="order-purchase__row">
      <div class="order-purchase__row-name">Кол.</div>
      <div class="order-purchase__row-value">120 шт.</div>
    </div>
    <div class="order-purchase__row">
      <div class="order-purchase__row-name">Стоимость</div>
      <div class="order-purchase__row-value">1280 ₽</div>
    </div>
  </div>
  <div class="order-purchase__set">
    <div class="order-purchase__set-name">Черная крышка для стакана 90 мм с клапаном</div>
    <div class="order-purchase__row">
      <div class="order-purchase__row-name">Кол.</div>
      <div class="order-purchase__row-value">120 шт.</div>
    </div>
    <div class="order-purchase__row">
      <div class="order-purchase__row-name">Стоимость</div>
      <div class="order-purchase__row-value">1280 ₽</div>
    </div>
  </div>
  <div class="order-purchase__summary">
    <div class="order-purchase__summary-name">Всего</div>
    <div class="order-purchase__summary-price">1 560 ₽</div>
  </div>
  <a href="cart.html" class="button button-secondary order-purchase__button">Изменить заказ</a>
</div>