/*_______ Order _______*/
/* #region */
.order-section {
  position: relative;
  padding-top: 60px;
  padding-bottom: 100px;
}
.order-section__shape {
  position: absolute;
  top: 25%;
  right: -70px;
}
.order-section__shape2 {
  position: absolute;
  bottom: 60px;
  left: -110px;
}

.order-purchase {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-right: 30px;
  padding: 24px 20px 30px;
  background-color: @white;
  line-height: 1.2;
  .shadow_light_red();
  z-index: 1;
}
.order-purchase__header {
  padding-bottom: 26px;
  border-bottom: 1px solid @stroke_dark;
}
.order-purchase__title {
  margin-bottom: 8px;
  font-weight: @fw-bold;
  font-size: 22px;
}
.order-purchase__note {
  font-size: 14px;
  color: @grey;
}
.order-purchase__set {
  padding-top: 14px;
  padding-bottom: 6px;
  border-bottom: 1px solid @stroke_dark;
}
.order-purchase__set-name {
  padding-bottom: 12px;
  font-weight: @fw-semibold;
  font-size: 14px;
}
.order-purchase__row {
  display: flex;
  align-items: baseline;
  padding-bottom: 8px;
  font-weight: @fw-semibold;
  font-size: 14px;
}
.order-purchase__row-name {
  color: @grey;
}
.order-purchase__row-value {
  margin-left: auto;
  color: @black;
}
.order-purchase__summary {
  display: flex;
  align-items: baseline;
  margin-top: 24px;
  margin-bottom: 24px;
  font-weight: @fw-semibold;
  font-size: 20px;
}
.order-purchase__summary-name {
  color: @grey;
}
.order-purchase__summary-price {
  margin-left: auto;
  color: @red;
}
.order-purchase__button {
  width: 100%;
}

.order {
  padding-top: 20px;
  border-top: 1px solid @stroke_dark;
}
.order-form {
  width: 100%;
  max-width: 600px;
}
.order-form__title {
  margin-top: 40px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid @stroke_dark;
  font-weight: @fw-semibold;
  font-size: 14px;
  line-height: 1.2;
}
.order-form__title--borderless {
  margin-top: 44px;
  margin-bottom: 20px;
  font-weight: @fw-semibold;
  font-size: 14px;
  line-height: 1.2;
}
.order-form__textarea {
  margin-bottom: 12px;
}
.order-form__submit {
  width: 100%;
  margin-top: 40px;
}
/* #endregion */

@media (max-width: 1030px) {
  .order-section__shape {
    right: -120px;
  }
  .order-section__shape2 {
    left: -150px;
  }

  .order-purchase {
    margin-right: 20px;
  }
  .order-purchase__button {
    padding-right: 20px;
    padding-left: 20px;
    font-size: 14px;
  }
}

@media (max-width: 860px) {
  .order-section {
    padding-top: 40px;
    padding-bottom: 80px;
  }

  .order-section__shape {
    top: 90px;
    right: -120px;
  }
  .order-section__shape2 {
    display: none;
  }

  .order-purchase {
    width: 100%;
    max-width: 600px;
    margin-bottom: 30px;
    padding-right: 30px;
    padding-left: 30px;
  }
  .order-purchase__button {
    width: auto;
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px;
    font-size: 16px;
  }
  .order {
    border-top: none;
  }
  .order-form__title {
    margin-top: 24px;
    margin-bottom: 16px;
    padding-top: 10px;
    padding-bottom: 16px;
  }
  .order-form__delivery {
    padding-bottom: 10px;
  }
}

@media (max-width: 560px) {
  .order-section__shape {
    top: 140px;
    right: -160px;
  }

  .order-purchase {
    margin-bottom: 16px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .order-form__title {
    margin-top: 0;
  }
  .order-form__title--borderless {
    margin-top: 28px;
  }
  .order-form__textarea {
    margin-bottom: 0;
  }
  .order-form__submit {
    margin-top: 30px;
  }
}

@media (max-width: 360px) {
  .order-form__person {
    padding-bottom: 10px;
  }
}

@media (max-width: 320px) {
  .order-purchase__button {
    font-size: 14px;
  }
}
