@font-face {
  font-family: HelveticaNeueCyr;
  font-display: swap;
  src: url(../fonts/HelveticaNeue/HelveticaNeueCyr-Medium.eot);
  src: local("HelveticaNeueCyr-Medium"),url(../fonts/HelveticaNeue/HelveticaNeueCyr-Medium.eot?#iefix) format("embedded-opentype"),url(../fonts/HelveticaNeue/HelveticaNeueCyr-Medium.woff) format("woff"),url(../fonts/HelveticaNeue/HelveticaNeueCyr-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal
}
@font-face {
  font-family: HelveticaNeueCyr;
  font-display: swap;
  src: url(../fonts/HelveticaNeue/HelveticaNeueCyr-Italic.eot);
  src: local("HelveticaNeueCyr-Italic"),url(../fonts/HelveticaNeue/HelveticaNeueCyr-Italic.eot?#iefix) format("embedded-opentype"),url(../fonts/HelveticaNeue/HelveticaNeueCyr-Italic.woff) format("woff"),url(../fonts/HelveticaNeue/HelveticaNeueCyr-Italic.ttf) format("truetype");
  font-weight: 500;
  font-style: italic
}
@font-face {
  font-family: HelveticaNeueCyr;
  font-display: swap;
  src: url(../fonts/HelveticaNeue/HelveticaNeueCyr-Italic.eot);
  src: local("HelveticaNeueCyr-Italic"),url(../fonts/HelveticaNeue/HelveticaNeueCyr-Italic.eot?#iefix) format("embedded-opentype"),url(../fonts/HelveticaNeue/HelveticaNeueCyr-Italic.woff) format("woff"),url(../fonts/HelveticaNeue/HelveticaNeueCyr-Italic.ttf) format("truetype");
  font-weight: 400;
  font-style: italic
}
@font-face {
  font-family: HelveticaNeueCyr;
  font-display: swap;
  src: url(../fonts/HelveticaNeue/HelveticaNeueCyr-Roman.eot);
  src: local("HelveticaNeueCyr-Roman"),url(../fonts/HelveticaNeue/HelveticaNeueCyr-Roman.eot?#iefix) format("embedded-opentype"),url(../fonts/HelveticaNeue/HelveticaNeueCyr-Roman.woff) format("woff"),url(../fonts/HelveticaNeue/HelveticaNeueCyr-Roman.ttf) format("truetype");
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: HelveticaNeueCyr;
  font-display: swap;
  src: url(../fonts/HelveticaNeue/HelveticaNeueCyr-Bold.eot);
  src: local("HelveticaNeueCyr-Bold"),url(../fonts/HelveticaNeue/HelveticaNeueCyr-Bold.eot?#iefix) format("embedded-opentype"),url(../fonts/HelveticaNeue/HelveticaNeueCyr-Bold.woff) format("woff"),url(../fonts/HelveticaNeue/HelveticaNeueCyr-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal
}
@font-face {
  font-family: HelveticaNeueCyr;
  font-display: swap;
  src: url(../fonts/HelveticaNeue/HelveticaNeueCyr-BoldItalic.eot);
  src: local("HelveticaNeueCyr-BoldItalic"),url(../fonts/HelveticaNeue/HelveticaNeueCyr-BoldItalic.eot?#iefix) format("embedded-opentype"),url(../fonts/HelveticaNeue/HelveticaNeueCyr-BoldItalic.woff) format("woff"),url(../fonts/HelveticaNeue/HelveticaNeueCyr-BoldItalic.ttf) format("truetype");
  font-weight: 700;
  font-style: italic
}
@font-face {
  font-family: HelveticaNeueCyr;
  font-display: swap;
  src: url(../fonts/HelveticaNeue/HelveticaNeueCyr-Light.eot);
  src: local("HelveticaNeueCyr-Light"),url(../fonts/HelveticaNeue/HelveticaNeueCyr-Light.eot?#iefix) format("embedded-opentype"),url(../fonts/HelveticaNeue/HelveticaNeueCyr-Light.woff) format("woff"),url(../fonts/HelveticaNeue/HelveticaNeueCyr-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal
}
/*! normalize.css v8.0.1 */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%
}
body {
  margin: 0
}
main {
  display: block
}
h1 {
  font-size: 2em;
  margin: .67em 0
}
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible
}
pre {
  font-family: monospace,monospace;
  font-size: 1em
}
a {
  background-color: transparent
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted
}
b,
strong {
  font-weight: bolder
}
code,
kbd,
samp {
  font-family: monospace,monospace;
  font-size: 1em
}
small {
  font-size: 80%
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}
sub {
  bottom: -.25em
}
sup {
  top: -.5em
}
img {
  border-style: none
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0
}
button,
input {
  overflow: visible
}
button,
select {
  text-transform: none
}
[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button
}
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0
}
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText
}
fieldset {
  padding: .35em .75em .625em
}
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal
}
progress {
  vertical-align: baseline
}
textarea {
  overflow: auto
}
[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0
}
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto
}
[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px
}
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}
details {
  display: block
}
summary {
  display: list-item
}
template {
  display: none
}
[hidden] {
  display: none
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-print-color-adjust: exact!important;
  color-adjust: exact!important
}
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}
html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent;
  height: 100%
}
body {
  height: 100%;
  color: #000;
  font-family: "Helvetica Neue",HelveticaNeueCyr,arial,sans-serif;
  font-size: 9.62pt;
  line-height: 120%
}
img {
  max-width: 100%;
  vertical-align: bottom;
  pointer-events: none
}
a {
  color: #000;
  text-decoration: none
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border-radius: 0
}
textarea {
  resize: none
}
input::-ms-clear {
  display: none
}
::-webkit-input-placeholder {
  color: #000
}
::-moz-placeholder {
  color: #000
}
:-ms-input-placeholder {
  color: #000
}
::-ms-input-placeholder {
  color: #000
}
::placeholder {
  color: #000
}
button:focus {
  outline: 0
}
:focus {
  outline: 0
}
p {
  margin: 0;
  padding: 0 0 1em
}
* {
  outline: 0
}
nav ul {
  margin: 0;
  padding: 0
}
nav li {
  list-style: none
}
.bold {
  font-weight: 700
}
.italic {
  font-style: italic
}
.nowrap {
  white-space: nowrap
}
.section {
  padding: 0 35pt 0;
  margin: 0 auto
}
.heading h1,
.heading h2,
.heading h3,
.heading h4,
.heading h5,
.heading h6 {
  display: inline;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  letter-spacing: inherit;
  text-transform: inherit;
  line-height: inherit
}
h1 {
  font-size: 34pt;
  line-height: 1.13953;
  padding: 50px 0 20pt 0;
  margin: 0
}
h2 {
  font-size: 20pt;
  line-height: 1.13953;
  padding: 0 0 7pt;
  margin: 0
}
.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 50px 0 0
}
.note {
  font-size: 8pt;
  font-style: italic;
  padding: 5pt 0 5pt
}
.note:before {
  content: '!';
  font-style: italic;
  background-color: #000;
  border-radius: 50%;
  display: inline-block;
  width: 10pt;
  height: 10pt;
  color: #fff;
  text-align: center;
  margin: -1pt 4pt 0 2pt;
  font-weight: 700
}
.table {
  width: 100%;
  border-collapse: collapse;
  border-top: 1px solid #000;
  margin-top: 10pt
}
.table + .table {
  border-bottom: 1px solid #000
}
.table--addition {
  border-bottom: 1px solid #000;
  width: 80%;
  margin-top: 5pt;
  margin-bottom: 8pt
}
.table--with-caption {
  border-top: 0;
  margin-top: 0
}
.table__caption {
  font-size: 11pt;
  padding: 4pt 5pt 3pt 5pt;
  color: #fff;
  text-align: left;
  font-weight: 700
}
.table__caption--blue {
  background-color: #0082e0
}
.table__caption--pink {
  background-color: #fa6dba
}
.table__caption--red {
  background-color: #e82f05
}
.table th {
  font-weight: 400;
  font-size: 6pt;
  line-height: 1.25;
  text-align: left;
  vertical-align: top;
  padding: 5pt
}
.table td {
  border-top: 1px solid #000;
  vertical-align: top;
  padding: 5pt;
  line-height: 1.25
}
.table--main td:nth-child(1) {
  width: 17%
}
.table--main td:nth-child(2) {
  /* width: 18% */
  width: 41%
}
.table--main td:nth-child(3) {
  /* width: 20% */
  width: 14%;
}
.table--main td:nth-child(5) {
  /* width: 10% */
  width: 14%
}
.table--main td:nth-child(4),
.table--main td:nth-child(6),
.table--main td:nth-child(7),
.table--main td:nth-child(8),
.table--main td:nth-child(9) {
  width: 14%
}
.table--caps td:nth-child(1) {
  width: 8%
}
.table--caps td:nth-child(2) {
  width: 29%
}
.table--caps td:nth-child(3) {
  width: 10%
}
.table--caps td:nth-child(4) {
  width: 7%
}
.table--caps td:nth-child(5) {
  width: 10%
}
.table--caps td:nth-child(6),
.table--caps td:nth-child(7),
.table--caps td:nth-child(8) {
  width: 12%
}
.table--stirrer td:nth-child(1) {
  width: 11%
}
.table--stirrer td:nth-child(2) {
  width: 26%
}
.table--stirrer td:nth-child(3) {
  width: 10%
}
.table--stirrer td:nth-child(4) {
  width: 7%
}
.table--stirrer td:nth-child(5) {
  width: 10%
}
.table--stirrer td:nth-child(6),
.table--stirrer td:nth-child(7),
.table--stirrer td:nth-child(8) {
  width: 12%
}
.table--holders td:nth-child(1) {
  width: 15%
}
.table--holders td:nth-child(2) {
  width: 22%;
  padding-left: 0
}
.table--holders td:nth-child(3) {
  width: 10%
}
.table--holders td:nth-child(4) {
  width: 17%
}
.table--holders td:nth-child(5),
.table--holders td:nth-child(6),
.table--holders td:nth-child(7) {
  width: 12%
}
.table__cell--img {
  /* text-align: center; */
}
.size-list__in {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex
}
.size-list__title {
  padding: 0 0 4pt
}
.size-list__item {
  width: 25%;
  min-width: 25pt;
  font-weight: 700;
  text-align: left
}
.product__name {
  font-weight: 700;
  font-size: 10.5pt
}
.product__note {
  font-style: italic
}
.product__art {
  color: #8b92af;
  font-size: 9px;
  padding: 3pt 0 0
}
.product__value {
  font-size: 10.5pt;
  font-weight: 700;
  white-space: nowrap
}
.product__subvalue {
  font-size: 7pt;
  white-space: nowrap;
  margin: 10pt 0 0
}
.product__signature {
  font-size: 6pt;
  margin: 0 0 8pt;
  line-height: 1.2
}
.product__img {
  margin: 0 0 5pt;
  display: block;
  width: 100%;
  max-width: 150px;
}
.page {
  width: 21cm;
  height: 29.7cm;
  padding: 0;
  margin: 0 auto;
  page-break-after: always
}
.page--img {
  background-color: #f0f0f8;
  text-align: center
}
.page__img {
  width: 21cm;
  height: 29.7cm;
  padding: 0;
  margin: 0
}
@page {
  size: A4;
  width: 21cm;
  height: 29.7cm;
  margin: 0;
  padding: 0
}
.rub {
  font-weight: 400
}