<link rel="stylesheet" href="assets/cuptrade/css/normalize.css">
<link rel="stylesheet" href="assets/cuptrade/css/swiper-bundle.min.css">
<link rel="stylesheet" href="assets/cuptrade/css/fancybox.min.css">
<link rel="stylesheet" href="assets/cuptrade/css/style.css">