<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<script type="text/javascript" src="assets/cuptrade/js/jquery-3.4.1.min.js"></script>
<!-- <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
<script type="text/javascript" src="assets/cuptrade/js/map.yandex.js"></script> -->
<script type="text/javascript" src="assets/cuptrade/js/jquery.inputmask.min.js"></script>
<script type="text/javascript" src="assets/cuptrade/js/swiper-bundle.min.js"></script>
<script type="text/javascript" src="assets/cuptrade/js/fancybox.min.js"></script>
<script type="text/javascript" src="assets/cuptrade/js/script.js"></script>
