<div class="main-callback-section section">
    <img src="assets/templates/cuptrade/public/assets/cuptrade/img/bg_lines_reduce.svg" alt="" class="main-callback__shape">
    <div class="main-callback__bg"></div>
    <div class="section-wrapper">
      <div class="title main-callback__title">Познакомимся?</div>
      <div class="main-callback__subtitle">Оставьте свои данные и мы оперативно свяжемся с вами
        удобным для вас способом.</div>

      <div class="main-callback-wrap">
        <div class="main-callback-director">
          <div class="main-callback-director__image">
            <img src="{$_modx->config['photo']?:'assets/templates/cuptrade/public/assets/cuptrade/img/logo-cuptrade.svg'}" alt="" class="main-callback-director__img">
          </div>
          <div class="modal-callback-director__info">
            <div class="main-callback-director__name">{$_modx->config['fio']}</div>
            <div class="main-callback-director__post">{$_modx->config['rang']}</div>
          </div>
        </div>
        {'!AjaxFormCustom' | snippet : [
            'frontend_js' => 0,
            'frontend_css' => 0,
            'snippet' => 'FormIt',
            'hooks' => 'nospam,FormItSaveForm,email,amoCRMAddContact',
            'form' => '@INLINE <form enctype="multipart/form-data" action="" method="post" class="main-callback-form js-validateForm_Policy"><input type="hidden" name="cf-page" value="'~$_modx->resource.id~'"><input type="hidden" name="workemail" value="">
          <input type="hidden" name="type" value="Свяжемся по телефону">
          <input type="hidden" name="name_form" value="Связаться по телефону">
          <div class="main-callback-form__switchers">
            <div class="main-callback-form__switcher main-callback-form__switcher--active js-callbackFormSwitcher_Toggle" data-contacts-fieldhide="contasts-form-mail" data-switcher-note="telephone">
              <span class="main-callback-form__switcher-icon"><svg width="14" height="14" viewBox="0 0 16 16" fill="#000100" xmlns="http://www.w3.org/2000/svg" class="ico-svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M1.754 1.75a12.752 12.752 0 001.289 5.274l1.346-2.617a10.618 10.618 0 01-.424-2.657h-2.21zm2.18 6.82l2.072-4.028-.097-.297a9.118 9.118 0 01-.45-2.832C5.46.771 4.94.25 4.296.25H1.413C.771.25.25.771.25 1.413c0 5.507 3.12 10.296 7.68 12.696a14.255 14.255 0 006.657 1.641c.642 0 1.163-.521 1.163-1.163v-2.876c0-.642-.521-1.163-1.163-1.163-.97 0-1.926-.153-2.834-.452l-.39-.129-3.164 2.578a12.937 12.937 0 01-4.264-3.976zm5.744 4.704c1.414.588 2.956.93 4.572.972v-2.203a10.55 10.55 0 01-2.569-.4l-2.003 1.631z" />
                </svg></span>
              <div class="main-callback-form__switcher-text">Телефон</div>
            </div>
            <div class="main-callback-form__switcher js-callbackFormSwitcher_Toggle" data-contacts-fieldhide="contasts-form-phone" data-switcher-note="email">
              <span class="main-callback-form__switcher-icon"><svg width="20" height="14" viewBox="0 0 20 14" fill="#000100" xmlns="http://www.w3.org/2000/svg" class="ico-svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M18 1.5H2a.5.5 0 00-.5.5v10a.5.5 0 00.5.5h16a.5.5 0 00.5-.5V2a.5.5 0 00-.5-.5zM2 0a2 2 0 00-2 2v10a2 2 0 002 2h16a2 2 0 002-2V2a2 2 0 00-2-2H2z" />
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M.179 3.678L.82 2.322 10 6.67l9.179-4.348.642 1.356L10 8.33.179 3.678z" />
                </svg></span>
              <div class="main-callback-form__switcher-text">E-mail</div>
            </div>
            <div class="main-callback-form__switcher js-callbackFormSwitcher_Toggle" data-contacts-fieldhide="contasts-form-mail" data-switcher-note="whatsapp">
              <span class="main-callback-form__switcher-icon"><svg width="17" height="17" viewBox="0 0 26 27" fill="#000100" xmlns="http://www.w3.org/2000/svg" class="ico-svg">
                  <path d="M22.201 3.797A12.82 12.82 0 0013.05 0C5.921 0 .111 5.808.104 12.938c0 2.284.598 4.505 1.726 6.472L0 26.118l6.862-1.8a12.95 12.95 0 006.187 1.576h.007c7.13 0 12.938-5.808 12.944-12.944a12.893 12.893 0 00-3.8-9.153h.002zM13.05 23.703a10.73 10.73 0 01-5.478-1.501l-.392-.236-4.071 1.068 1.087-3.971-.255-.41a10.708 10.708 0 01-1.643-5.721c0-5.92 4.827-10.748 10.759-10.748a10.708 10.708 0 017.606 3.152 10.704 10.704 0 013.147 7.607c-.006 5.94-4.833 10.76-10.76 10.76zm5.9-8.054c-.32-.161-1.909-.943-2.208-1.054-.297-.106-.514-.162-.726.162-.217.321-.838 1.054-1.024 1.264-.186.218-.378.242-.701.082-.322-.163-1.365-.503-2.6-1.608-.962-.857-1.607-1.918-1.8-2.24-.186-.323-.018-.496.144-.657.142-.144.322-.379.483-.565.163-.186.217-.323.323-.539.107-.218.056-.404-.024-.566-.082-.162-.727-1.756-1-2.4-.26-.635-.526-.546-.725-.555-.187-.011-.404-.011-.62-.011a1.19 1.19 0 00-.864.403c-.297.323-1.128 1.105-1.128 2.7 0 1.595 1.159 3.128 1.322 3.345.16.217 2.275 3.48 5.522 4.884.767.334 1.371.532 1.843.682.775.248 1.476.21 2.034.13.62-.094 1.912-.783 2.184-1.539.268-.757.268-1.403.186-1.539-.08-.137-.297-.217-.62-.379z" />
                </svg></span>
              <div class="main-callback-form__switcher-text">WhatsApp</div>
            </div>
          </div>
          <div class="main-callback-form__switchers-note">Свяжемся по телефону.</div>
          <div class="form-field main-callback-form__field-mail main-callback-form__field--hidden">
            <input type="email" name="email" id="formMainCallback_mail" class="form-input main-callback-form__input" placeholder="E-mail">
            <div class="form-field__req">*</div>
            <div class="form-field__prompt">Заполните поле</div>
          </div>
          <div class="form-field main-callback-form__field-phone">
            <input type="tel" name="phone" id="formMainCallback_phone" class="form-input main-callback-form__input" placeholder="Телефон*" data-req>
            <!-- <div class="form-field__req">*</div> -->
            <div class="form-field__prompt">Заполните поле</div>
          </div>
          <div class="form-policy">
            <input type="checkbox" name="policy_check" id="formMainCallback_policy" class="form-policy__checkbox" value="1" checked data-req>
            <label for="formMainCallback_policy" class="form-policy__checkbox-label">
              Я согласен с <a href="{5|url}" target="_blank" class="form-policy__link">обработкой персональных данных</a>
            </label>
          </div>
          <input type="hidden" name="formMainCallback_hidden" class="form-input--hide">
          <button type="submit" name="formMainCallback_submit" class="button button-primary main-callback-form__submit">Познакомиться</button>
        </form>',
            'formSelector' => 'formMainCallback_submit',
            'emailTpl' => 'cf-contacts',
            'emailSubject' => 'Заказ обратной связи',
            'emailTo' => $_modx->config['email_form']?:$_modx->config['email'],
            'emailFrom' => ('emailsender'|option),
            'emailUseFieldForSubject' => 1,
            'validate' => 'type:required',
            'amoCRMmodxAmoFieldsEq' => 'name||phone||email==contact_email||email||name_form',
            'formFields' => 'phone,email,type,cf-page',
    	    'fieldNames' => 'phone==Телефон,email==Email,type==Предпочитаемый тип связи,cf-page==ID страницы',
    	    'formName' => 'Заказ обратной связи',
    	    'validationErrorMessage' => 'Проверьте правильность заполнения формы'
            ]}
      </div>
    </div>
  </div>