<div class="content-section section">
  @@include('./blocks/modules/breadcrumbs/breadcrumbs-product.html')

  <div class="section-wrapper">
    <div class="section-twin">
      <div class="section-twin__side">
        @@include('./blocks/modules/sidebar/sidebar-category.html')
        @@include('./blocks/modules/sidebar-mob/sidebar-mob-category.html')
      </div>

      <div class="section-twin__main">
        <div class="content">
          <h1>Длинный или не очень длинный заголовок контентной страницы</h1>
          <img src="assets/cuptrade/img/content_01.jpg" alt="">
          <p>Каждого из нас поистине профессионал в области одноразовой упаковки. Бюрократии – бой, мы всегда сможем договориться, смело задавайте неудобные вопросы.</p>
          <p>Чистая правда, куда бы вы не написали, оставили заявку  или позвонили – вам моментально ответит именно ваш личный менеджер. Каждого из нас поистине профессионал в области одноразовой упаковки. <a href="">Бюрократии</a> – бой, мы всегда сможем договориться, смело задавайте неудобные вопросы.</p>
          <p>Чистая правда, куда бы вы не написали, оставили заявку  или позвонили – вам моментально ответит именно ваш личный менеджер. ⏱️ Каждого из нас поистине профессионал <a href="">в области одноразовой упаковки</a>. Бюрократии – бой, мы всегда сможем договориться, смело задавайте неудобные вопросы.</p>

          <hr>

          <h2>Заголовок второго уровня заголовок второго заголовок второго уровня уровня и заголовок</h2>
          <p>Чистая правда, куда бы вы не написали, оставили заявку  или позвонили – <b>вам моментально ответит именно ваш личный менеджер</b>. Каждого из нас поистине профессионал в области одноразовой упаковки. Бюрократии – бой, мы всегда сможем договориться, смело задавайте неудобные вопросы.🎖️🎖️🎖️</p>
          <p>Чистая правда, куда бы вы не написали, оставили заявку  или позвонили – вам моментально ответит именно ваш личный менеджер. Каждого из нас поистине профессионал в области одноразовой упаковки. Бюрократии – бой, мы всегда сможем договориться, смело задавайте неудобные вопросы.</p>
          <ul>
            <li>Чистая правда, куда бы вы не написали, оставили заявку  или позвонили</li>
            <li>Бюрократии – бой, мы всегда сможем договориться, смело задавайте неудобные вопросы.</li>
            <li>Каждого из нас поистине профессионал</li>
            <li>Куда бы вы не написали, оставили заявку  или позвонили – вам моментально ответит именно ваш личный менеджер.</li>
          </ul>
          <div class="content-carousel">
            <div class="swiper-container">
              <div class="swiper-wrapper">
                <div class="content-carousel__slide swiper-slide">
                  <img src="assets/cuptrade/img/content_01.jpg" alt="" class="content-carousel__img">
                  <div class="content-carousel__title">Подпись #1 картинки #1 о производстве одноразовой посуды</div>
                </div>
                <div class="content-carousel__slide swiper-slide">
                  <img src="assets/cuptrade/img/content_02.jpg" alt="" class="content-carousel__img">
                  <div class="content-carousel__title">Подпись #2 картинки #2</div>
                </div>
              </div>
              <div class="content-carousel__sum">
                <div class="content-carousel__total">
                  <span class="content-carousel__count"></span>
                </div>
                <div class="content-carousel__nav">
                  <div class="content-carousel__prev">
                    <svg width="7" height="12" viewBox="0 0 7 12" fill="#ffffff" xmlns="http://www.w3.org/2000/svg" class="ico-svg"><path d="M0.722277 6.046C0.735908 6.20957 0.790433 6.35951 0.899484 6.46856L5.80675 11.7848C6.06574 12.0574 6.48832 12.071 6.77457 11.8257C7.0472 11.5667 7.06083 11.1441 6.81547 10.8578L2.3444 6.0051L6.81547 1.15236C7.07446 0.879731 7.06083 0.443533 6.77457 0.184538C6.50195 -0.0744563 6.06575 -0.060835 5.80675 0.225422L0.899484 5.54164C0.776802 5.67795 0.708646 5.86879 0.722277 6.046Z"/></svg>
                  </div>
                  <div class="content-carousel__next">
                    <svg width="7" height="12" viewBox="0 0 7 12" fill="#ffffff" xmlns="http://www.w3.org/2000/svg" class="ico-svg"><path d="M6.27772 5.954C6.26409 5.79043 6.20957 5.64049 6.10052 5.53144L1.19325 0.21523C0.934255 -0.0573958 0.511685 -0.0710255 0.225428 0.174338C-0.0471984 0.433333 -0.0608297 0.855899 0.184534 1.14216L4.6556 5.9949L0.184534 10.8476C-0.074461 11.1203 -0.0608297 11.5565 0.225428 11.8155C0.498054 12.0745 0.934255 12.0608 1.19325 11.7746L6.10052 6.45836C6.2232 6.32205 6.29135 6.13121 6.27772 5.954Z"/></svg>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <h3>Заголовок третьего уровня 📃</h3>
          <p>Чистая правда, куда бы вы не написали, оставили заявку  или позвонили – вам моментально ответит именно ваш личный менеджер. Каждого из нас поистине профессионал в области одноразовой упаковки. Бюрократии – бой, мы всегда сможем договориться, смело задавайте неудобные вопросы</p>
          <p>Офисные таблички или таблички для офиса – очень широкое определение, включающее в себя множество вариантов и видов этого изделия. Безусловно, все из них вы можете заказать в нашей фирме. Изготовление офисных табличек – один из приоритетных видов нашей деятельности.</p>

          <h4>Заголовок четвёртого уровня</h4>
          <p>🎹 Чистая правда, куда бы вы не написали, оставили заявку  или позвонили – вам моментально ответит именно ваш личный менеджер. Каждого из нас поистине профессионал в области одноразовой упаковки. Бюрократии – бой, мы всегда сможем договориться, смело задавайте неудобные вопросы</p>

          <blockquote>
            Чистая правда, куда бы вы не написали, оставили заявку  или позвонили – вам моментально ответит именно ваш личный менеджер. Каждого из нас поистине профессионал в области одноразовой упаковки. Бюрократии – бой, мы всегда сможем договориться, смело задавайте неудобные вопросы 🎉
          </blockquote>

          <h5>Заголовок пятого уровня</h5>
          <p>Чистая правда, куда бы вы не написали, оставили заявку  или позвонили – вам моментально ответит именно ваш личный менеджер. Каждого из нас поистине профессионал в области одноразовой упаковки. Бюрократии – бой, мы всегда сможем договориться, смело задавайте неудобные вопросы</p>

          <h6>Заголовок шестого уровня</h6>
          <ol>
            <li>Чистая правда, куда бы вы не написали, оставили заявку  или позвонили</li>
            <li>Бюрократии – бой, мы всегда сможем договориться, смело задавайте неудобные вопросы.</li>
            <li>Каждого из нас поистине профессионал</li>
            <li>Куда бы вы не написали, оставили заявку  или позвонили – вам моментально ответит именно ваш личный менеджер. </li>
          </ol>





          <div class="table-wrapper">
            <table>
              <thead>
                <tr>
                  <th>Наименование 1</th>
                  <th>Наименование 2</th>
                  <th>Наименование 3</th>
                  <th>Наименование 4</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Стакан двухслойный крафт 400 мл</td>
                  <td>Картон</td>
                  <td>Сертифицированный пластик</td>
                  <td>80 ₽</td>
                </tr>
                <tr>
                  <td>Крышка белая для стакана кофе 80 мм с питейником</td>
                  <td>Ламинация</td>
                  <td>Картон</td>
                  <td>120 ₽</td>
                </tr>
                <tr>
                  <td>Белая крышка для стакана 90 мм с питейником</td>
                  <td>Картон</td>
                  <td>Экологичные чернила</td>
                  <td>1160 ₽</td>
                </tr>
                <tr>
                  <td>Уголок бумажный белый 150x160мм</td>
                  <td>Сертифицированный пластик</td>
                  <td>Ламинация</td>
                  <td>700 ₽</td>
                </tr>
              </tbody>
            </table>
          </div>
          <p>Чистая правда, куда бы вы не написали, оставили заявку  или позвонили – вам моментально ответит именно ваш личный менеджер. Каждого из нас поистине профессионал в области одноразовой упаковки. Бюрократии – бой, мы всегда сможем договориться, смело задавайте неудобные вопросы</p>
        </div> <!-- Content -->
      </div> <!-- end section-twin-main -->

    </div> <!-- end section-twin -->
  </div>
</div>