/*_______ content _______*/
/* #region */
.content-section {
  // position: relative;
  // margin-top: 50px;
  margin-bottom: 110px;
}
.content-section .section-twin {
  margin-top: 50px;
}

.content img {
  width: 100%;
  padding-top: 16px;
  margin-bottom: 2px;
  object-fit: cover;
}
.content img + p {
  width: 100%;
  max-width: 540px;
  margin: 0;
  padding: 0 0 16px;
  font-size: 14px;
  color: @grey;
  line-height: 1.2;
}
.content a {
  color: @red;
  &:hover {
    color: @red;
    text-decoration: underline;
  }
}
.content hr {
  margin-top: 40px;
  color: @stroke_dark;
  opacity: 0.21;
}

.content-carousel {
  position: relative;
  padding-top: 16px;
  padding-bottom: 24px;
}
.content-carousel__title {
  width: 100%;
  max-width: 520px;
  font-size: 14px;
  line-height: 1.2;
  color: @grey;
}
.content-carousel__img {
  width: 100%;
  height: 400px;
  margin-bottom: 2px;
  object-fit: cover;
}
.content-carousel__sum {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  height: 64px;
  padding: 18px;
  color: @white;
  background-color: @light_red;
  z-index: 1;
}
.content-carousel__total {
  width: auto;
  margin-right: 24px;
  margin-bottom: -2px;
  font-size: 16px;
}
.content-carousel__total .swiper-pagination-current {
  margin-right: -3px;
}
.content-carousel__total .swiper-pagination-total {
  margin-left: -2px;
  opacity: 0.2;
}
.content-carousel__nav {
  display: flex;
  align-items: center;
}
.content-carousel__prev {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-right: 24px;
  // background-color: #585165;
  opacity: 0.2;
  cursor: pointer;
  outline: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.content-carousel__prev .ico-svg {
  width: 16px;
  height: 26px;
}
.content-carousel__prev:hover {
  opacity: 1;
}
.content-carousel__next {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex-shrink: 0;
  outline: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.content-carousel__next .ico-svg {
  width: 16px;
  height: 26px;
}
/* #endregion */

@media (max-width: 1030px) {
  .content-carousel__img {
    height: 360px;
  }
  .content-carousel__sum {
    height: 48px;
    padding: 14px;
  }
  .content-carousel__prev .ico-svg {
    width: 14px;
    height: 22px;
  }
  .content-carousel__next .ico-svg {
    width: 14px;
    height: 22px;
  }
}

@media (max-width: 860px) {
  .content-section {
    margin-bottom: 90px;
  }
  // .content-section .section-twin__side {
  //   margin-bottom: 40px;
  // }
  .sidebar {
    display: none;
  }
  .content-carousel__img {
    height: 320px;
  }
  .content-carousel__total {
    display: none;
  }
}

// @media (max-width: 780px) {
//   .content-carousel {
//     padding-top: 16px;
//     padding-bottom: 24px;
//   }
// }

@media (max-width: 560px) {
  .content-carousel__img {
    height: 260px;
  }
  // .content-carousel__sum {
  //   height: 54px;
  // }
  .content-carousel__prev {
    margin-right: 20px;
  }
  .content-carousel__prev .ico-svg {
    width: 12px;
    height: 20px;
  }
  .content-carousel__next .ico-svg {
    width: 12px;
    height: 20px;
  }
}

@media (max-width: 480px) {
  .content-carousel__img {
    margin-bottom: 6px;
  }
}

@media (max-width: 420px) {
  .content-carousel__img {
    height: 220px;
  }
}

@media (max-width: 360px) {
  .content-carousel__img {
    height: 200px;
  }
}
