<div id="modalOrder" class="modal">
  <div class="modal-overlay">
    <div class="modal-content">
      <div class="modal-wrap">
        <div class="modal-close js-modalClose">
          <img src="assets/cuptrade/img/ico/ico-cross.svg" alt="" class="modal-close__ico">
        </div>
        <div class="modal-form__image">
          <img src="assets/cuptrade/img/modal_form_img.jpg" alt="" class="modal-form__img">
        </div>
        <form method="post" class="modal-form js-validateForm_Policy">
          <div class="modal-form__title">Оформить заказ</div>
          <div class="modal-form__subtitle">Оставьте ваши данные для получения расчёта заказа и наш менеджер свяжется с вами</div>
          <div class="form-field">
            <input type="text" name="name" id="formModalOrder_name" class="form-input modal-form__input" placeholder="Ваше имя" data-req>
            <div class="form-field__prompt">Заполните поле</div>
          </div>
          <div class="form-fields-2x">
            <div class="form-field">
              <input type="tel" name="phone" id="formModalOrder_phone" class="form-input modal-form__input" placeholder="+7 ___ ___ __ __" data-req data-req-or="email">
              <div class="form-field__prompt">Заполните поле</div>
            </div>
            <div class="form-field">
              <input type="email" name="email" id="formModalOrder_email" class="form-input modal-form__input" placeholder="Почта" data-req data-req-or="phone">
              <div class="form-field__prompt">Заполните поле</div>
            </div>
          </div>
          <div class="form-field">
            <textarea name="comment" id="formModalOrder_comment" rows="10" placeholder="Комментарии" class="form-input form-input__textarea modal-form__textarea"></textarea>
          </div>
          <div class="form-policy">
            <input type="checkbox" name="policy_check" id="formModalOrder_policy" class="form-policy__checkbox" data-req>
            <label for="formModalOrder_policy" class="form-policy__checkbox-label">
              Я согласен с <a href="https://www.cuptrade.ru/politika-konfidencialnosti/" class="form-policy__link">обработкой персональных данных</a>
            </label>
          </div>
          <input type="hidden" name="formModalOrder_hidden" class="form-input--hide">
          <input type="submit" name="frm_modalorderservice_submit" class="button button-primary modal-form__submit" value="Отправить заявку">
        </form>
      </div>
    </div>
  </div>
</div>

<div id="modalCallback" class="modal">
  <div class="modal-overlay">
    <div class="modal-content">
      <div class="modal-wrap">
        <div class="modal-close js-modalClose">
          <img src="assets/cuptrade/img/ico/ico-cross.svg" alt="" class="modal-close__ico">
        </div>
        <div class="modal-form__image">
          <img src="assets/cuptrade/img/modal_form_img.jpg" alt="" class="modal-form__img">
        </div>
        <form method="post" class="modal-form js-validateForm_Policy">
          <div class="modal-form__title">Обратный звонок</div>
          <div class="modal-form__subtitle">Оставьте ваши данные и наш менеджер свяжется с вами</div>
          <div class="form-field">
            <input type="text" name="name" id="formModalCallback_name" class="form-input modal-form__input" placeholder="Ваше имя" data-req>
            <div class="form-field__prompt">Заполните поле</div>
          </div>
          <div class="form-field">
            <input type="tel" name="phone" id="formModalCallback_phone" class="form-input modal-form__input" placeholder="+7 ___ ___ __ __" data-req>
            <div class="form-field__prompt">Заполните поле</div>
          </div>
          <div class="form-policy">
            <input type="checkbox" name="policy_check" id="formModalCallback_policy" class="form-policy__checkbox" data-req>
            <label for="formModalCallback_policy" class="form-policy__checkbox-label">
              Я согласен с <a href="https://www.cuptrade.ru/politika-konfidencialnosti/" class="form-policy__link">обработкой персональных данных</a>
            </label>
          </div>
          <input type="hidden" name="formModalCallback_hidden" class="form-input--hide">
          <input type="submit" name="frm_modalcallback_submit" class="button button-primary modal-form__submit" value="Перезвоните мне">
        </form>
      </div>
    </div>
  </div>
</div>

<div id="modalGetExample" class="modal">
  <div class="modal-overlay">
    <div class="modal-content">
      <div class="modal-wrap">
        <div class="modal-close js-modalClose">
          <img src="assets/cuptrade/img/ico/ico-cross.svg" alt="" class="modal-close__ico">
        </div>
        <div class="modal-form__image">
          <img src="assets/cuptrade/img/modal_form_img.jpg" alt="" class="modal-form__img">
        </div>
        <form method="post" class="modal-form js-validateForm_Policy">
          <div class="modal-form__title">Получить образцы</div>
          <div class="modal-form__subtitle">Оставьте ваши данные и наш менеджер свяжется с вами</div>
          <div class="form-field">
            <input type="text" name="name" id="formModalGetExample_name" class="form-input modal-form__input" placeholder="Ваше имя" data-req>
            <div class="form-field__prompt">Заполните поле</div>
          </div>
          <div class="form-field">
            <input type="tel" name="phone" id="formModalGetExample_phone" class="form-input modal-form__input" placeholder="+7 ___ ___ __ __" data-req>
            <div class="form-field__prompt">Заполните поле</div>
          </div>
          <div class="form-policy">
            <input type="checkbox" name="policy_check" id="formModalGetExample_policy" class="form-policy__checkbox" data-req>
            <label for="formModalGetExample_policy" class="form-policy__checkbox-label">
              Я согласен с <a href="https://www.cuptrade.ru/politika-konfidencialnosti/" class="form-policy__link">обработкой персональных данных</a>
            </label>
          </div>
          <input type="hidden" name="formModalGetExample_hidden" class="form-input--hide">
          <input type="submit" name="frm_modalgetexample_submit" class="button button-primary modal-form__submit" value="Получить образцы">
        </form>
      </div>
    </div>
  </div>
</div>

<div id="modalGetOptprice" class="modal">
  <div class="modal-overlay">
    <div class="modal-content">
      <div class="modal-wrap">
        <div class="modal-close js-modalClose">
          <img src="assets/cuptrade/img/ico/ico-cross.svg" alt="" class="modal-close__ico">
        </div>
        <div class="modal-form__image">
          <img src="assets/cuptrade/img/modal_form_img.jpg" alt="" class="modal-form__img">
        </div>
        <form method="post" class="modal-form js-validateForm_Policy">
          <div class="modal-form__title">Получить оптовый прайс-лист</div>
          <div class="modal-form__subtitle">Оставьте ваши данные и наш менеджер свяжется с вами</div>
          <div class="form-field">
            <input type="text" name="name" id="formModalGetOptprice_name" class="form-input modal-form__input" placeholder="Ваше имя" data-req>
            <div class="form-field__prompt">Заполните поле</div>
          </div>
          <div class="form-field">
            <input type="tel" name="phone" id="formModalGetOptprice_phone" class="form-input modal-form__input" placeholder="+7 ___ ___ __ __" data-req>
            <div class="form-field__prompt">Заполните поле</div>
          </div>
          <div class="form-policy">
            <input type="checkbox" name="policy_check" id="formModalGetOptprice_policy" class="form-policy__checkbox" data-req>
            <label for="formModalGetOptprice_policy" class="form-policy__checkbox-label">
              Я согласен с <a href="https://www.cuptrade.ru/politika-konfidencialnosti/" class="form-policy__link">обработкой персональных данных</a>
            </label>
          </div>
          <input type="hidden" name="formModalGetOptprice_hidden" class="form-input--hide">
          <input type="submit" name="frm_modalgetoptprice_submit" class="button button-primary modal-form__submit" value="Отправить заявку">
        </form>
      </div>
    </div>
  </div>
</div>