/*_______ modals _______*/
/* #region */
.modal {
  display: none;
  // position: absolute;
  position: fixed;
  top: 0;
  // right: 0;
  bottom: 0;
  // left: 0;
  width: 100%;
  // height: 100%;
  background-color: fadeout(@black, 40%);
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  z-index: 10;
}
.modal-overlay {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
}
.modal-content {
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
  max-width: 800px;
  width: 93%;
  z-index: 20;
}
.modal-close {
  position: absolute;
  top: -25px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: @very_light_red;
  cursor: pointer;
}
.modal-close__ico {
  width: 14px;
  height: 14px;
}

.modal-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  // align-items: stretch;
  // max-width: 800px;
  // width: 93%;
  // margin-right: auto;
  // margin-left: auto;
}
.modal-form__image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 100%;
  height: 220px;
}
.modal-form__img {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.modal-form {
  width: 100%;
  // padding: 54px 100px 80px;
  padding: 40px 100px 70px;
  background-color: @white;
}
.modal-form__title {
  margin-bottom: 14px;
  font-weight: @fw-bold;
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: @black;
}
.modal-form__subtitle {
  // margin-bottom: 36px;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 1.2;
  color: @black;
}
.modal-form__input {
  padding: 14px 24px;
  font-size: 16px;
}
.modal-form .form-fields-2x {
  display: flex;
  .form-field:first-child {
    margin-right: 10px;
  }
}
.modal-form .form-field__prompt {
  bottom: 21px;
  left: 24px;
  font-size: 10px;
}
.modal-form .form-policy {
  // padding-top: 24px;
  padding-top: 4px;
}
.modal-form__submit {
  width: 100%;
  // margin-top: 30px;
  margin-top: 36px;
}
/* #endregion */

@media (max-width: 860px) {
  .modal-form .form-fields-2x {
    display: flex;
    flex-direction: column;
    .form-field:first-child {
      margin-right: 0;
    }
  }
// .modal-form {
//   padding: 54px 60px 80px;
// }
// .modal-form__title {
//   font-size: 40px;
// }
// .modal-form .form-policy {
//   padding-top: 16px;
// }
}

@media (max-width: 560px) {
  .modal-close {
    top: -20px;
    right: 10px;
    width: 40px;
    height: 40px;
  }
  .modal-close__ico {
    width: 10px;
    height: 10px;
  }
  .modal-form {
    padding: 36px 40px 40px;
  }
  .modal-form__title {
    margin-bottom: 8px;
    font-size: 28px;
  }
  .modal-form__subtitle {
    margin-bottom: 24px;
    font-size: 16px;
  }
  .modal-form .form-field__prompt {
    bottom: 18px;
    left: 20px;
    font-size: 10px;
  }
}

@media (max-width: 480px) {
  .modal-form {
    padding: 30px 20px 32px;
  }
  .modal-form__title {
    margin-bottom: 4px;
    font-size: 24px;
  }
  .modal-form__subtitle {
    font-size: 14px;
  }
  .modal-form .form-field {
    padding-bottom: 16px;
  }
}
