/*_______ Thanks page _______*/
/* #region */
.cart-empty {
  padding-top: 60px;
  padding-bottom: 120px;
}
.cart-empty-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
}
.cart-empty__img {
  max-height: 380px;
  margin-bottom: 34px;
}
.cart-empty__title {
  margin-bottom: 16px;
  font-weight: @fw-bold;
  font-size: 40px;
  line-height: 1.2;
  text-align: center;
  color: @black;
}
.cart-empty__text {
  font-size: 18px;
  line-height: 1.3;
  text-align: center;
  color: @black;
}
.cart-empty__button {
  margin-top: 30px;
}
/* #endregion */

@media (max-width: 860px) {
  .cart-empty {
    padding-top: 40px;
    padding-bottom: 80px;
  }
  .cart-empty__title {
    margin-bottom: 10px;
    font-size: 32px;
  }
}

@media (max-width: 480px) {
  .cart-empty__img {
    margin-bottom: 14px;
  }
  .cart-empty__title {
    font-size: 28px;
  }
  .cart-empty__text {
    font-size: 16px;
  }
}
