<div class="cart-empty section">
  <div class="cart-empty-wrapper">
    <img src="assets/cuptrade/img/cups.png" alt="" class="cart-empty__img">
    <div class="cart-empty__title">В корзине пока ничего нет</div>
    <div class="cart-empty__text">Вы можете найти товары на главной, либо воспользоваться поиском, если ищете что-то конкретное.</div>
    <a href="catalog.html" class="button button-primary cart-empty__button">Выбрать товары</a>
  </div>
</div>
