<div class="cart-section section">
  <div class="section-wrapper">
    <div class="section-heading">
      <a href="catalog.html" class="shopward-link"><span class="shopward-link__ico"><svg width="6" height="11" viewBox="0 0 8 12" fill="#989798" xmlns="http://www.w3.org/2000/svg" class="ico-svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M6.079 11.693l1.442-1.386L3.386 6l4.135-4.307L6.08.307.614 6l5.465 5.693z"/></svg></span>Продолжить покупки</a>
      <h1 class="section-heading__title">Корзина</h1>
    </div>
    <div class="section-twin">
      <div class="section-twin__main">
        <div class="cart-set">
          <div class="cart-head">
            <div class="cart-head__title cart-head__title-good">Товар</div>
            <div class="cart-head__title cart-head__title-pack">Упаковок</div>
            <div class="cart-head__title cart-head__title-logo">Логотип</div>
            <div class="cart-head__title cart-head__title-number">Единиц</div>
            <div class="cart-head__title cart-head__title-price">Цена за шт. (₽)</div>
            <div class="cart-head__title cart-head__title-summary">Сумма (₽)</div>
          </div>
          <div class="cart-position">
            <div class="cart-position__image">
              <img src="assets/cuptrade/img/products/product_preview2.jpg" alt="" class="cart-position__img">
            </div>
            <div class="cart-position__content">
              <div class="cart-position__info cart-position__col">
                <div class="cart-position__name">Стакан двухслойный крафт 400 мл</div>
                <div class="cart-position__desc">Полный объем – 130 мл</div>
                <div class="cart-position__property">Артикул: <span class="cart-position__property-value">OS180</span></div>
                <div class="cart-position__property">Тип: <span class="cart-position__property-value">однослойные стаканы</span></div>
                <div class="cart-position__property">Упаковка: <span class="cart-position__property-value">80 шт.</span></div>
              </div>
              <div class="cart-position__counter cart-position__col" data-product-counter>
                <div class="cart-position__title">Упаковок</div>
                <div class="product-count">
                  <div class="product-count__control product-count__minus js-productCount" onselectstart="return false;"><span class="product-count__control-sign">&ndash;</span></div>
                  <input type="number" value="1" min="1" max="999" step="1" onkeypress="return checkingNumberFormat(event);" class="product-count__number js-productCount_Number">
                  <div class="product-count__control product-count__plus js-productCount" onselectstart="return false;"><span class="product-count__control-sign">+</span></div>
                </div>
              </div>
              <div class="cart-position__logo cart-position__col">
                <div class="cart-position__title">Логотип</div>
                <div class="cart-position__logo-control">
                  <input type="checkbox" name="cart_logo_add" id="cartProductLogo_add_11" class="cart-position__checkbox">
                  <label for="cartProductLogo_add_11" class="cart-position__checkbox-label">Добавить логотип 1 цвет от 1.8 ₽ за стакан</label>
                </div>
                <div class="cart-position__logo-control">
                  <input type="checkbox" name="cart_logo_add" id="cartProductLogo_add_12" class="cart-position__checkbox">
                  <label for="cartProductLogo_add_12" class="cart-position__checkbox-label">Добавить логотип 2 цвета от 2.16 ₽ за стакан</label>
                </div>
              </div>
              <div class="cart-position__amount cart-position__col">
                <div class="cart-position__title">Единиц</div>
                80
              </div>
              <div class="cart-position__singlecost cart-position__col">
                <div class="cart-position__title">Цена за шт. (₽)</div>
                6,65
              </div>
              <div class="cart-position__price-wrap cart-position__col" data-product-price-wrap>
                <div class="cart-position__title">Сумма (₽)</div>
                <div class="cart-position__price" data-product-price="1200"><span data-product-cost>1 200</span></div>
              </div>
              <div class="cart-position__delete">
                <!-- <img src="assets/cuptrade/img/ico/ico-cross-grey.svg" alt="" class="cart-position__delete-img"> -->
                <svg width="14" height="14" viewBox="0 0 14 14" fill="#989798" xmlns="http://www.w3.org/2000/svg" class="ico-svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M12.646 13.353l-12-12 .707-.707 12 12-.707.707z"/><path fill-rule="evenodd" clip-rule="evenodd" d="M.647 12.646l12-12 .707.707-12 12-.707-.707z"/></svg>
              </div>
            </div>
          </div>
          <div class="cart-position">
            <div class="cart-position__image">
              <img src="assets/cuptrade/img/products/product_preview2.jpg" alt="" class="cart-position__img">
            </div>
            <div class="cart-position__content">
              <div class="cart-position__info cart-position__col">
                <div class="cart-position__name">Черная крышка для стакана 90 мм с клапаном</div>
                <div class="cart-position__desc">Внутренний диаметр – 80 мм</div>
                <div class="cart-position__property">Артикул: <span class="cart-position__property-value">OS180</span></div>
                <div class="cart-position__property">Тип: <span class="cart-position__property-value">однослойные стаканы</span></div>
                <div class="cart-position__property">Упаковка: <span class="cart-position__property-value">80 шт.</span></div>
              </div>
              <div class="cart-position__counter cart-position__col" data-product-counter>
                <div class="cart-position__title">Упаковок</div>
                <div class="product-count">
                  <div class="product-count__control product-count__minus js-productCount" onselectstart="return false;"><span class="product-count__control-sign">&ndash;</span></div>
                  <input type="number" value="1" min="1" max="999" step="1" onkeypress="return checkingNumberFormat(event);" class="product-count__number js-productCount_Number">
                  <div class="product-count__control product-count__plus js-productCount" onselectstart="return false;"><span class="product-count__control-sign">+</span></div>
                </div>
              </div>
              <div class="cart-position__logo cart-position__col">
                <div class="cart-position__title">Логотип</div>
                <div class="cart-position__logo-control">
                  <input type="checkbox" name="cart_logo_add" id="cartProductLogo_add_21" class="cart-position__checkbox">
                  <label for="cartProductLogo_add_21" class="cart-position__checkbox-label">Добавить логотип 1 цвет от 1.8 ₽ за стакан</label>
                </div>
                <div class="cart-position__logo-control">
                  <input type="checkbox" name="cart_logo_add" id="cartProductLogo_add_22" class="cart-position__checkbox">
                  <label for="cartProductLogo_add_22" class="cart-position__checkbox-label">Добавить логотип 2 цвета от 2.16 ₽ за стакан</label>
                </div>
              </div>
              <div class="cart-position__amount cart-position__col">
                <div class="cart-position__title">Единиц</div>
                80
              </div>
              <div class="cart-position__singlecost cart-position__col">
                <div class="cart-position__title">Цена за шт. (₽)</div>
                6,65
              </div>
              <div class="cart-position__price-wrap cart-position__col" data-product-price-wrap>
                <div class="cart-position__title">Сумма (₽)</div>
                <div class="cart-position__price" data-product-price="1200"><span data-product-cost>1 200</span></div>
              </div>
              <div class="cart-position__delete">
                <!-- <img src="assets/cuptrade/img/ico/ico-cross-grey.svg" alt="" class="cart-position__delete-img"> -->
                <svg width="14" height="14" viewBox="0 0 14 14" fill="#989798" xmlns="http://www.w3.org/2000/svg" class="ico-svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M12.646 13.353l-12-12 .707-.707 12 12-.707.707z"/><path fill-rule="evenodd" clip-rule="evenodd" d="M.647 12.646l12-12 .707.707-12 12-.707-.707z"/></svg>
              </div>
            </div>
          </div>
          <div class="cart-position">
            <div class="cart-position__image">
              <img src="assets/cuptrade/img/products/product_preview2.jpg" alt="" class="cart-position__img">
            </div>
            <div class="cart-position__content">
              <div class="cart-position__info cart-position__col">
                <div class="cart-position__name">Черная крышка для стакана 90 мм с клапаном</div>
                <div class="cart-position__desc">Внутренний диаметр – 80 мм</div>
                <div class="cart-position__property">Артикул: <span class="cart-position__property-value">OS180</span></div>
                <div class="cart-position__property">Тип: <span class="cart-position__property-value">однослойные стаканы</span></div>
                <div class="cart-position__property">Упаковка: <span class="cart-position__property-value">80 шт.</span></div>
              </div>
              <div class="cart-position__counter cart-position__col" data-product-counter>
                <div class="cart-position__title">Упаковок</div>
                <div class="product-count">
                  <div class="product-count__control product-count__minus js-productCount" onselectstart="return false;"><span class="product-count__control-sign">&ndash;</span></div>
                  <input type="number" value="1" min="1" max="999" step="1" onkeypress="return checkingNumberFormat(event);" class="product-count__number js-productCount_Number">
                  <div class="product-count__control product-count__plus js-productCount" onselectstart="return false;"><span class="product-count__control-sign">+</span></div>
                </div>
              </div>
              <div class="cart-position__logo cart-position__col">
                <div class="cart-position__title">Логотип</div>
                <div class="cart-position__logo-control">
                  <input type="checkbox" name="cart_logo_add" id="cartProductLogo_add_31" class="cart-position__checkbox">
                  <label for="cartProductLogo_add_31" class="cart-position__checkbox-label">Добавить логотип 1 цвет от 1.8 ₽ за стакан</label>
                </div>
                <div class="cart-position__logo-control">
                  <input type="checkbox" name="cart_logo_add" id="cartProductLogo_add_32" class="cart-position__checkbox">
                  <label for="cartProductLogo_add_32" class="cart-position__checkbox-label">Добавить логотип 2 цвета от 2.16 ₽ за стакан</label>
                </div>
              </div>
              <div class="cart-position__amount cart-position__col">
                <div class="cart-position__title">Единиц</div>
                80
              </div>
              <div class="cart-position__singlecost cart-position__col">
                <div class="cart-position__title">Цена за шт. (₽)</div>
                6,65
              </div>
              <div class="cart-position__price-wrap cart-position__col" data-product-price-wrap>
                <div class="cart-position__title">Сумма (₽)</div>
                <div class="cart-position__price" data-product-price="1200"><span data-product-cost>1 200</span></div>
              </div>
              <div class="cart-position__delete">
                <!-- <img src="assets/cuptrade/img/ico/ico-cross-grey.svg" alt="" class="cart-position__delete-img"> -->
                <svg width="14" height="14" viewBox="0 0 14 14" fill="#989798" xmlns="http://www.w3.org/2000/svg" class="ico-svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M12.646 13.353l-12-12 .707-.707 12 12-.707.707z"/><path fill-rule="evenodd" clip-rule="evenodd" d="M.647 12.646l12-12 .707.707-12 12-.707-.707z"/></svg>
              </div>
            </div>
          </div>


          <div class="cart-position__cancel">
            <span class="cart-position__cancel-head">Вы удалили</span>
            <span class="cart-position__cancel-info">Стакан двухслойный крафт 400 мл</span>
            <div class="cart-position__cancel-action">Отменить<div class="cart-position__cancel-img"><img src="assets/cuptrade/img/ico/ico-cross-white.svg" alt="" class="cart-position__cancel-ico"></div></div>
          </div>
          <div class="cart-position__cancel">
            <span class="cart-position__cancel-head">Вы удалили</span>
            <span class="cart-position__cancel-info">Черная крышка для стакана 90 мм с клапаном</span>
            <div class="cart-position__cancel-action">Отменить<div class="cart-position__cancel-img"><img src="assets/cuptrade/img/ico/ico-cross-white.svg" alt="" class="cart-position__cancel-ico"></div></div>
          </div>
        </div>
      </div>

      <div class="section-twin__side">
        @@include('./blocks/modules/cart/cart-purchase.html')
      </div>

    </div> <!-- end section-twin -->

  </div>
</div>
