<div class="cart-purchase">
  <div class="cart-purchase__header">
    <div class="cart-purchase__title">Итого</div>
    <div class="cart-purchase__note">Получите скидку более 15% при сумме заказа от 5000&nbsp;₽</div>
  </div>
  <div class="cart-purchase__position">
    <div class="cart-purchase__position-name">Товары</div>
    <div class="cart-purchase__position-price">1280 ₽</div>
  </div>
  <div class="cart-purchase__position">
    <div class="cart-purchase__position-name">Скидка</div>
    <div class="cart-purchase__position-price">280 ₽</div>
  </div>
  <div class="cart-purchase__summary">
    <div class="cart-purchase__summary-name">Всего</div>
    <div class="cart-purchase__summary-price">1 560 ₽</div>
  </div>
  <a href="order.html" class="button button-primary cart-purchase__button">Оформить заказ</a>
</div>