/*_______ basket _______*/
/* #region */
.shopward-link {
  position: absolute;
  bottom: 20px;
  left: 0;
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  line-height: 1;
  color: @grey;
}
.shopward-link__ico {
  margin-right: 6px;
  margin-bottom: -1px;
}
.shopward-link:hover .ico-svg {
  fill: @red;
}

.cart-section {
  padding-top: 82px;
  padding-bottom: 100px;
}
.cart-section .section-heading {
  margin-bottom: 64px;
}

.cart-head {
  display: flex;
  align-items: center;
  padding-bottom: 16px;
}
.cart-head__title {
  font-weight: @fw-semibold;
  font-size: 14px;
  line-height: 1.2;
}
.cart-head__title-good {
  width: 300px;
}
.cart-head__title-pack {
  width: 180px;
}
.cart-head__title-logo {
  width: 93px;
}
.cart-head__title-number {
  width: 86px;
}
.cart-head__title-price {
  width: 118px;
}

.cart-position {
  position: relative;
  display: flex;
  align-items: flex-start;
  margin-bottom: -1px;
  border-top: 1px solid @stroke_dark;
  border-bottom: 1px solid @stroke_dark;
}
.cart-position__title {
  display: none;
}
// .cart-position--last {
//   margin-bottom: 16px;
// }
.cart-position__image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 63px;
  height: 63px;
  margin-top: 14px;
  // margin-right: 10px;
  // padding: 14px 0;
  border-radius: 50%;
  border: 1px solid @stroke_light;
  overflow: hidden;
}
.cart-position__img {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  object-fit: cover;
}
.cart-position__content {
  display: flex;
  width: 100%;
}
.cart-position__col {
  padding: 27px 16px 14px;
  border-right: 1px solid @stroke_dark;
}
.cart-position__info {
  width: 224px;
  // max-width: 370px;
  border-left: none;
}
.cart-position__name {
  // max-width: 360px;
  margin-top: -10px;
  margin-bottom: 10px;
  padding-right: 8px;
  font-weight: @fw-semibold;
  font-size: 16px;
  line-height: 1.2;
  color: @black;
}
.cart-position__desc {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.2;
  color: @black;
}
.cart-position__property {
  display: flex;
  align-items: baseline;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.2;
  color: @grey;
}
.cart-position__property-value {
  margin-left: 4px;
}
.cart-position__counter {
  width: 180px;
}
.cart-position__counter .product-count {
  justify-content: center;
  // width: 120px;
}
.cart-position__counter .product-count__number {
  width: 120px;
}
.cart-position__logo {
  width: 96px;
}
// .cart-position__logo .product-form__checkbox-label {
//   font-size: 14px;
//   line-height: 1.2;
//   text-align: center;
//   color: @grey;
// }

// .cart-position__checkboxer .cart-position__checkbox-label {
//   padding-top: 2px;
// }
.cart-position__logo-control {
  margin-bottom: 16px;
}
.cart-position__checkbox:checked,
.cart-position__checkbox:not(:checked) {
  position: absolute;
  left: -9999px;
}
.cart-position__checkbox:checked + .cart-position__checkbox-label,
.cart-position__checkbox:not(:checked) + .cart-position__checkbox-label {
  position: relative;
  // display: inline-flex;
  display: flex;
  // flex-direction: column;
  align-items: center;
  padding-top: 30px;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  color: @grey;
  cursor: pointer;
}
.cart-position__checkbox:checked + .cart-position__checkbox-label::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  left: calc(50% - 12px);
  top: 0;
  background-color: transparent;
  border: 1px solid @stroke_dark;
  border-radius: 4px;
}
.cart-position__checkbox:checked + .cart-position__checkbox-label::after {
  content: url("../img/ico/ico-check-red.svg");
  position: absolute;
  width: 11px;
  height: 8px;
  // opacity: 0.5;
  left: calc(50% - 5px);
  top: 5px;
}
.cart-position__checkbox:not(:checked)
  + .cart-position__checkbox-label::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  left: calc(50% - 12px);
  top: 0;
  background-color: transparent;
  border: 1px solid @stroke_dark;
  border-radius: 4px;
}
.cart-position__checkbox:not(:checked) + .cart-position__checkbox-label::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  opacity: 0;
  left: calc(50% - 5px);
  top: 5px;
}

.cart-position__amount {
  width: 88px;
  font-weight: @fw-semibold;
  font-size: 20px;
  line-height: 1;
  text-align: right;
  color: @black;
}
.cart-position__singlecost {
  width: 120px;
  font-weight: @fw-semibold;
  font-size: 20px;
  line-height: 1;
  text-align: right;
  color: @black;
}
.cart-position__price-wrap {
  // display: flex;
  // flex-direction: column;
  // align-items: flex-end;
  // flex-shrink: 0;
  width: 120px;
  // max-width: 100px;
  // margin-right: 20px;
  font-weight: @fw-semibold;
  font-size: 20px;
  line-height: 1;
  color: @black;
}
.cart-position__price-wrap.cart-position__col {
  border-right: none;
}
.cart-position__price {
  // flex-shrink: 0;
  // margin-bottom: 6px;
  text-align: right;
}
.cart-position__delete {
  align-self: flex-start;
  flex-shrink: 0;
  margin-top: 22px;
  // margin-left: 14px;
  cursor: pointer;
}
.cart-position__delete:hover .ico-svg {
  fill: @light_red;
}
.cart-position__cancel {
  display: flex;
  align-items: flex-start;
  padding-top: 16px;
  padding-bottom: 10px;
  // border-bottom: 1px solid @light_red;
  font-size: 16px;
  line-height: 1.2;
  color: @black;
}
.cart-position__cancel-head {
  flex-shrink: 0;
  margin-right: 20px;
  font-weight: @fw-semibold;
}
.cart-position__cancel-info {
  width: 380px;
}
.cart-position__cancel-action {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  // margin-left: 20px;
  // margin-left: auto;
  color: @red;
  cursor: pointer;
}
.cart-position__cancel-img {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  margin-bottom: -2px;
  margin-left: 10px;
  border-radius: 50%;
  background-color: @light_red;
}
.cart-position__cancel-ico {
  flex-shrink: 0;
  width: 10px;
}

.cart-purchase {
  margin-top: 33px;
  margin-left: 30px;
  padding: 24px 20px 30px;
  background-color: @very_light_red;
}
.cart-purchase__header {
  margin-bottom: 24px;
  padding-bottom: 22px;
  border-bottom: 1px solid @stroke_dark;
}
.cart-purchase__title {
  margin-bottom: 6px;
  font-weight: @fw-bold;
  font-size: 22px;
}
.cart-purchase__note {
  font-size: 14px;
  line-height: 1.2;
  color: @grey;
}
.cart-purchase__position {
  display: flex;
  align-items: baseline;
  padding-bottom: 20px;
  font-weight: @fw-semibold;
  font-size: 14px;
  color: @black;
  line-height: 1.2;
}
.cart-purchase__position-name {
}
.cart-purchase__position-price {
  margin-left: auto;
}
.cart-purchase__summary {
  display: flex;
  align-items: baseline;
  margin-top: 5px;
  margin-bottom: 28px;
  padding-top: 20px;
  border-top: 1px solid @stroke_dark;
  font-weight: @fw-semibold;
  line-height: 1.2;
}
.cart-purchase__summary-name {
  font-size: 14px;
  color: @black;
}
.cart-purchase__summary-price {
  margin-left: auto;
  font-size: 20px;
  color: @red;
}
.cart-purchase__button {
  width: 100%;
}
/* #endregion */

@media (max-width: 1260px) {
  .cart-head__title-good {
    width: 31.5%;
  }
  .cart-head__title-pack {
    width: 20%;
  }
  .cart-head__title-logo {
    width: 11%;
  }
  .cart-head__title-number {
    width: 9.3%;
  }
  .cart-head__title-price {
    width: 12.8%;
  }

  .cart-position__col {
    padding-right: 10px;
    padding-left: 10px;
  }
  .cart-position__image {
    width: 50px;
    height: 50px;
  }
  .cart-position__info {
    width: 28%;
  }
  .cart-position__counter {
    width: 22%;
  }
  .cart-position__logo {
    width: 12%;
  }
  .cart-position__amount {
    width: 10%;
  }
  .cart-position__singlecost {
    width: 14%;
  }
  .cart-position__price-wrap {
    width: 14%;
  }
}

@media (max-width: 1100px) {
  .cart-head {
    padding-bottom: 12px;
  }
  .cart-head__title {
    font-size: 12px;
  }
}

@media (max-width: 1030px) {
  .cart-head__title {
    font-size: 10px;
  }
  .cart-head__title-good {
    width: 35.5%;
  }
  .cart-head__title-number {
    width: 8%;
  }

  .cart-position__col {
    padding: 16px 10px;
  }
  .cart-position__info {
    width: 32%;
  }
  .cart-position__name {
    margin-top: 0;
  }
  .cart-position__counter .product-count__number {
    width: 100%;
  }
  .cart-position__counter .product-count__control {
    position: absolute;
    top: 50px;
  }
  .cart-position__counter .product-count__minus {
    left: 0;
  }
  .cart-position__counter .product-count__plus {
    right: 0;
  }
  .cart-position__logo {
    width: 13%;
  }
  .cart-position__amount {
    width: 9%;
    font-size: 16px;
  }
  .cart-position__singlecost {
    width: 12%;
    font-size: 16px;
  }
  .cart-position__price-wrap {
    width: 12%;
    font-size: 16px;
  }
  .cart-position__delete {
    margin-top: 10px;
  }

  .cart-purchase {
    margin-top: 24px;
    margin-left: 24px;
  }
  .cart-purchase__button {
    padding-right: 20px;
    padding-left: 20px;
    font-size: 14px;
  }
}

@media (max-width: 860px) {
  .shopward-link {
    bottom: 16px;
  }
  .cart-section {
    padding-top: 54px;
    padding-bottom: 80px;
  }
  .cart-section .section-heading {
    margin-bottom: 88px;
  }

  .cart-set {
    margin-bottom: 30px;
  }
  .cart-head__title {
    font-size: 10px;
  }
  .cart-head__title-pack {
    width: 18%;
  }
  .cart-head__title-number {
    width: 11.5%;
  }
  .cart-head__title-price {
    width: 11%;
  }

  .cart-position__col {
    padding: 16px 10px;
  }
  .cart-position__image {
    width: 40px;
    height: 40px;
  }
  .cart-position__info {
    width: 33%;
  }
  .cart-position__counter {
    width: 19%;
  }
  .cart-position__counter .product-count__number {
    font-size: 16px;
  }
  .cart-position__logo {
    width: 12%;
  }
  .cart-position__amount {
    width: 12%;
  }

  .cart-purchase {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
  .cart-purchase__header {
    margin-bottom: 22px;
    padding-bottom: 28px;
  }
  .cart-purchase__title {
    text-align: center;
  }
  .cart-purchase__note {
    padding-right: 48px;
    padding-left: 48px;
    text-align: center;
  }
  .cart-purchase__summary {
    margin-bottom: 32px;
  }
}

@media (max-width: 720px) {
  .cart-position__image {
    width: 30px;
    height: 30px;
  }
  .cart-position__name {
    margin-bottom: 8px;
    font-size: 14px;
  }
  .cart-position__desc {
    margin-bottom: 8px;
  }
  .cart-position__property {
    font-size: 10px;
  }

  .cart-position__checkbox:checked + .cart-position__checkbox-label,
  .cart-position__checkbox:not(:checked) + .cart-position__checkbox-label {
    font-size: 12px;
  }
}

@media (max-width: 640px) {
  .cart-head {
    display: none;
  }
  .cart-position {
    padding-top: 8px;
    padding-bottom: 18px;
  }
  .cart-position__content {
    flex-direction: column;
  }
  .cart-position__col {
    width: calc(100% - 38px);
    padding: 12px 0;
    border-right: none;
    border-bottom: 1px solid #e8e8e8;
  }
  .cart-position__title {
    display: inline-flex;
    margin-right: auto;
    font-weight: @fw-semibold;
  }
  .cart-position__image {
    margin-right: 14px;
  }
  .cart-position__info {
    // width: 100%;
    // padding-right: 30px;
  }
  .cart-position__name {
    padding-top: 8px;
    font-size: 16px;
  }
  .cart-position__counter {
    display: flex;
    // flex-direction: column;
    align-items: center;
    // width: 100%;
  }
  .cart-position__counter .product-count {
    width: 100%;
    max-width: 240px;
    // margin-right: auto;
    // margin-left: auto;
  }
  .cart-position__counter .product-count__control {
    position: relative;
    top: 0;
  }
  .cart-position__logo {
    display: flex;
    flex-direction: column;
    // align-items: center;
    // width: 100%;
    padding-top: 16px;
    padding-bottom: 18px;
  }
  .cart-position__logo-control {
    display: flex;
    align-items: center;
  }
  .cart-position__checkbox:checked + .cart-position__checkbox-label,
  .cart-position__checkbox:not(:checked) + .cart-position__checkbox-label {
    padding-top: 4px;
    padding-left: 36px;
    font-size: 14px;
    text-align: left;
  }
  .cart-position__checkbox:checked + .cart-position__checkbox-label::before {
    left: 0;
    top: calc(50% - 11px);
  }
  .cart-position__checkbox:checked + .cart-position__checkbox-label::after {
    left: 7px;
    top: calc(50% - 7px);
  }
  .cart-position__checkbox:not(:checked)
    + .cart-position__checkbox-label::before {
    left: 0;
    top: calc(50% - 11px);
  }
  .cart-position__checkbox:not(:checked)
    + .cart-position__checkbox-label::after {
    left: 7px;
    top: calc(50% - 7px);
  }
  .cart-position__amount {
    display: flex;
    align-items: baseline;
    // width: 100%;
  }
  .cart-position__singlecost {
    display: flex;
    align-items: baseline;
    // width: 100%;
  }
  .cart-position__price-wrap {
    display: flex;
    align-items: baseline;
    // width: 100%;
    border-bottom: none;
  }
  .cart-position__delete {
    margin-top: 14px;
  }
  .cart-position__delete {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    margin-left: 0;
    border-radius: 50%;
    border: 1px solid #f5f5f5;
  }
  .cart-position__delete .ico-svg {
    width: 10px;
    height: 10px;
  }
  .cart-position__cancel-info {
    width: auto;
  }
  .cart-position__cancel-action {
    margin-left: auto;
  }
}

@media (max-width: 560px) {
  .shopward-link {
    position: relative;
    bottom: 0;
    margin-bottom: 50px;
  }
  .cart-section {
    padding-top: 24px;
  }

  .cart-section .section-heading {
    margin-bottom: 56px;
  }

  .cart-position__cancel {
    // padding-top: 16px;
    padding-bottom: 4px;
    font-size: 14px;
  }
  .cart-position__cancel-head {
    width: 100px;
    margin-right: 0;
  }
  .cart-position__cancel-info {
    // width: calc(100% - 100px);
    padding-right: 10px;
  }
  // .cart-position__cancel-action {
  //   margin-left: 0;
  //   width: 100%;
  //   margin-top: 4px;
  // }
  // .cart-position__cancel-img {
  //   margin-left: 8px;
  //   margin-bottom: -2px;
  // }
}

@media (max-width: 480px) {
  .cart-position__counter {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 6px;
    padding-bottom: 14px;
  }
  .cart-position__counter .cart-position__title {
    margin-bottom: 6px;
  }
  .cart-position__logo {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 6px;
    padding-bottom: 20px;
  }
  .cart-position__logo .cart-position__title {
    margin-bottom: 8px;
  }
}

@media (max-width: 420px) {
  .cart-purchase__header {
    padding-bottom: 26px;
  }
  .cart-purchase__title {
    text-align: left;
  }
  .cart-purchase__note {
    padding-right: 0;
    padding-left: 0;
    text-align: left;
  }
  .cart-purchase__summary {
    margin-top: 3px;
  }
}

@media (max-width: 320px) {
  .cart-position__col {
    font-size: 14px;
  }
  .cart-position__title {
    font-size: 12px;
  }
  .cart-position__name {
    font-size: 14px;
  }
}
