/*_______ Catalog nav _______*/
/* #region */
.sidebar-mob-section {
  display: none;
}
.sidebar-mob-select {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 16px 30px;
  font-size: 20px;
  line-height: 1.2;
  color: @black;
  background-color: @very_light_red;
  cursor: pointer;
}
.sidebar-mob-select__ico {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
  margin-left: auto;
}

.sidebar-mob {
  display: none;
}
.sidebar-mob--active {
  color: @red;
}
.sidebar-mob--active .sidebar-mob-select__ico {
  transform: rotate(180deg);
  fill: @red;
}
.sidebar-mob__items {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-right: 1px solid @stroke_light;
  border-left: 1px solid @stroke_light;
  background-color: @white;
}
.sidebar-mob__item {
  padding: 14px 30px;
  border-bottom: 1px solid @stroke_light;
  font-size: 20px;
  line-height: 1.2;
  color: @black;
}
/* #endregion */

@media (max-width: 860px) {
  .sidebar-mob-section {
    display: block;
    margin-bottom: 40px;
  }
}

@media (max-width: 560px) {
  .sidebar-mob-section {
    margin-bottom: 30px;
  }
  .sidebar-mob-select {
    padding: 14px 20px;
    font-size: 16px;
  }
  .sidebar-mob-select__ico {
    width: 14px;
    height: 7px;
  }
  .sidebar-mob__item {
    padding: 12px 20px;
    font-size: 16px;
  }
}
