<div class="sidebar-mob-section">
  <div class="sidebar-mob-select js-sidebarMob_Call">
    <span class="sidebar-mob-select__text">Материалы и компоненты</span>
    <svg width="16" height="9" viewBox="0 0 12 8" fill="#000100" xmlns="http://www.w3.org/2000/svg" class="ico-svg sidebar-mob-select__ico"><path fill-rule="evenodd" clip-rule="evenodd" d="M.04 1.989L1.425.546l4.307 4.135L10.04.546l1.385 1.443-5.693 5.465L.04 1.989z"/></svg>
  </div>
  <div class="sidebar-mob">
    <div class="sidebar-mob__items">
      <a href="" class="sidebar-mob__item">Картон</a>
      <a href="" class="sidebar-mob__item">Ламинация</a>
      <a href="" class="sidebar-mob__item">Экологичные чернила</a>
      <a href="" class="sidebar-mob__item">Сертифицированный пластик</a>
      <a href="" class="sidebar-mob__item">Картон</a>
      <a href="" class="sidebar-mob__item">Ламинация</a>
      <a href="" class="sidebar-mob__item">Экологичные чернила</a>
      <a href="" class="sidebar-mob__item">Сертифицированный пластик</a>
      <a href="" class="sidebar-mob__item">Картон</a>
      <a href="" class="sidebar-mob__item">Ламинация</a>
      <a href="" class="sidebar-mob__item">Экологичные чернила</a>
      <a href="" class="sidebar-mob__item">Сертифицированный пластик</a>
    </div>
  </div>
</div>

