/*_______ Catalog nav _______*/
/* #region */
.sidebar-mob-select-section {
  display: none;
}
.sidebar-mob-select {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 16px 30px;
  font-size: 20px;
  line-height: 1.2;
  color: @black;
  background-color: @very_light_red;
  cursor: pointer;
}
.sidebar-mob-select__ico {
  width: 16px;
  height: 9px;
  margin-top: 2px;
  margin-left: auto;
  // opacity: 0.8;
}

.sidebar-mob {
  // visibility: visible;
  visibility: hidden;
  position: absolute;
  top: 22px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  padding: 0 20px 40px;
  border-radius: 10px 10px 0 0;
  background-color: @white;
  z-index: 10;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
}
.sidebar-mob--active {
  // height: 100%;
  visibility: visible;
}
.sidebar-mob-overlay {
  display: none;
  position: absolute;
  top: 0;
  // bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: fadeout(@black, 40%);
  z-index: 2;
}
.sidebar-mob__hide {
  margin-bottom: 16px;
  padding-top: 14px;
  padding-bottom: 10px;
  cursor: pointer;
}
.sidebar-mob__close {
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 110px;
  // margin: 0 auto;
  font-size: 14px;
  line-height: 1;
  color: @black;
}
.sidebar-mob__close-ico {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 10px;
  margin-top: 2px;
  margin-left: 8px;
}
.sidebar-mob__wrapper {
  // display: flex;
  // flex-direction: column;
  height: 100%;
  margin-top: -12px;
  margin-right: -8px;
  padding-right: 10px;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
}
.sidebar-mob__module {
  display: flex;
  flex-direction: column;
}
.sidebar-mob__module-nested {
  padding-left: 20px;
}
.sidebar-mob__section {
  display: flex;
  align-items: center;
  // margin: 3px 0;
  // padding: 4px 0;
  margin: 6px 0 0;
  padding: 7px 0 11px;
  border-bottom: 1px solid @very_light_red;
  font-size: 16px;
  font-weight: normal;
  line-height: 1;
  text-decoration: none;
  color: @black;
  cursor: pointer;
  &:hover {
    text-decoration: none;
    color: @black;
  }
}
.sidebar-mob__section-ico {
  height: 14px;
  margin-left: auto;
}

.sidebar-mob__submodule {
  display: none;
}
.sidebar-mob__submodule--active {
  position: absolute;
  top: 38px;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 20px 50px;
  background-color: @white;
  // z-index: 5;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
}
.sidebar-mob__submodule-nested {
  display: none;
}
.sidebar-mob__submodule-nested--active {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 20px 50px;
  background-color: @white;
  // z-index: 5;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
}
.sidebar-mob__subsection {
  display: flex;
  align-items: center;
  // margin: 3px 0;
  // padding: 4px 0;
  margin: 6px 0 0;
  padding: 7px 0 11px;
  border-bottom: 1px solid @very_light_red;
  font-size: 16px;
  font-weight: normal;
  line-height: 1;
  text-decoration: none;
  color: @black;
  cursor: pointer;
  &:hover {
    text-decoration: none;
    color: @black;
  }
}
.sidebar-mob__subsection-ico {
  height: 14px;
  margin-right: 8px;
}
.sidebar-mob__subitem {
  display: flex;
  align-items: center;
  margin-top: 6px;
  padding: 7px 0 11px 20px;
  border-bottom: 1px solid @very_light_red;
  font-size: 16px;
  font-weight: normal;
  line-height: 1;
  text-decoration: none;
  color: @black;
  &:hover {
    text-decoration: none;
    color: @black;
  }
}
.sidebar-mob__subitem--last {
  padding-bottom: 40px;
  border-bottom: none;
}
/* #endregion */

@media (max-width: 860px) {
  .sidebar-mob-select-section {
    display: block;
    margin-bottom: 40px;
  }
  // .content .sidebar-mob-select-section {
  //   margin-right: -20px;
  //   margin-left: -20px;
  // }
}

@media (max-width: 560px) {
  .sidebar-mob-select {
    padding: 14px 20px;
    font-size: 16px;
  }
  .sidebar-mob-select__ico {
    width: 14px;
    height: 7px;
  }
}
