/*_________ Buttons _________*/
/* #region */
button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: 0;
  font-family: @font;
}
.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 12px 30px;
  border-radius: 130px;
  font-family: @font;
  font-weight: @fw-semibold;
  font-size: 16px;
  text-align: center;
  line-height: 1.2;
  text-decoration: none;
  cursor: pointer;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  .transition;
  &:hover {
    .shadow_red_buttons();
    text-decoration: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
}
.button-primary {
  border: 1px solid @red;
  color: @white;
  background-color: @red;
  &:hover {
    border: 1px solid @light_red;
    color: @white;
    background-color: @light_red;
  }
}
.button-green {
  border: 1px solid #4ca375;
  color: @white;
  background-color: #4ca375;
  &:hover {
    box-shadow: 0px 4px 18px rgb(92 179 133 / 35%);
    border: 1px solid #5cb385;
    color: @white;
    background-color: #5cb385;
  }
}
.button-secondary {
  border: 1px solid @very_light_red;
  color: @black;
  background-color: @very_light_red;
  &:hover {
    border: 1px solid @light_red;
    color: @white;
    background-color: @light_red;
  }
}
.button-outlined {
  border: 1px solid @stroke_dark;
  color: @black;
  background-color: @white;
  &:hover {
    border: 1px solid @light_red;
    color: @white;
    background-color: @light_red;
  }
}
/* #endregion */
