<div class="about-promo-section section">
  <img src="assets/cuptrade/img/bg_lines_square_white.svg" alt="" class="about-promo__shape">
  <img src="assets/cuptrade/img/bg_lines_square_white.svg" alt="" class="about-promo__shape2">
  <div class="breadcrumbs breadcrumbs--white section">
    <div class="section-wrapper">
      <a href="" class="breadcrumbs__item">Каталог<img src="assets/cuptrade/img/ico/ico-chevron_small-white.svg" alt="" class="breadcrumbs__pointer"></a>
      <span class="breadcrumbs__item breadcrumbs__item--current">О нас</span>
    </div>
  </div>
  <div class="section-wrapper">
    <div class="about-promo">
      <h1 class="title promo-title">Cuptrade</h1>
      <div class="promo-subtitle">Наш принцип — это качество, современные технологии и развитие.</div>
    </div>
  </div>
</div>

<div class="about-components-section section">
  <img src="assets/cuptrade/img/bg_linnes_red_about.svg" alt="" class="about-components__shape">
  <div class="section-wrapper">
    <div class="section-info">
      <div class="title section-info__title">Производим и продаем одноразовую посуду</div>
      <p>Чистая правда, куда бы вы не написали, оставили заявку  или позвонили – вам моментально ответит именно ваш личный менеджер. Каждого из нас поистине профессионал в области одноразовой упаковки. Бюрократии – бой, мы всегда сможем договориться, смело задавайте неудобные вопросы.</p>
      <p>Чистая правда, куда бы вы не написали, оставили заявку  или позвонили – вам моментально ответит именно ваш личный менеджер. Каждого из нас поистине профессионал в области одноразовой упаковки. Бюрократии – бой, мы всегда сможем договориться, смело задавайте неудобные вопросы.</p>
    </div>
    <div class="about-components">
      <div class="about-component">
        <div class="about-component__number">250</div>
        <div class="about-component__title">профессионалов в команде</div>
      </div>
      <div class="about-component">
        <div class="about-component__number">14</div>
        <div class="about-component__title">лет на рынке</div>
      </div>
      <div class="about-component">
        <div class="about-component__number">3</div>
        <div class="about-component__title">офиса и склада</div>
      </div>
      <div class="about-component">
        <div class="about-component__number">3000</div>
        <div class="about-component__title">компаний в списке довольных клиентов</div>
      </div>
      <div class="about-component">
        <div class="about-component__number">10000</div>
        <div class="about-component__title">м²&nbsp;производственных и складских помещений</div>
      </div>
      <div class="about-component">
        <div class="about-component__number">400+</div>
        <div class="about-component__title">разновидностей продуктов в каталоге</div>
      </div>
    </div>
  </div>
</div>

<div class="about-today-section section">
  <img src="assets/cuptrade/img/bg_lines_phase.svg" alt="" class="about-today__shape">
  <div class="section-wrapper">
    <div class="section-info">
      <div class="title section-info__title">Cuptrade сегодня</div>
      <p>Чистая правда, куда бы вы не написали, оставили заявку  или позвонили – вам моментально ответит именно ваш личный менеджер. Каждого из нас поистине профессионал в области одноразовой упаковки. Бюрократии – бой, мы всегда сможем договориться, смело задавайте неудобные вопросы.</p>
      <p>Чистая правда, куда бы вы не написали, оставили заявку  или позвонили – вам моментально ответит именно ваш личный менеджер. Каждого из нас поистине профессионал в области одноразовой упаковки. Бюрократии – бой, мы всегда сможем договориться, смело задавайте неудобные вопросы.</p>
    </div>
  </div>
</div>

<div class="about-carousel-section section">
  <div class="section-wrapper">
    <div class="about-carousel">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="about-carousel__slide swiper-slide">
            <img src="assets/cuptrade/img/content_01.jpg" alt="" class="about-carousel__img">
          </div>
          <div class="about-carousel__slide swiper-slide">
            <img src="assets/cuptrade/img/content_02.jpg" alt="" class="about-carousel__img">
          </div>
          <div class="about-carousel__slide swiper-slide">
            <img src="assets/cuptrade/img/content_01.jpg" alt="" class="about-carousel__img">
          </div>
          <div class="about-carousel__slide swiper-slide">
            <img src="assets/cuptrade/img/content_02.jpg" alt="" class="about-carousel__img">
          </div>
        </div>
        <div class="about-carousel__controls">
          <div class="about-carousel__nav about-carousel__prev">
            <svg width="8" height="12" viewBox="0 0 8 12" fill="#000100" xmlns="http://www.w3.org/2000/svg" class="ico-svg about-carousel__prev-ico"><path fill-rule="evenodd" clip-rule="evenodd" d="M6.079 11.693l1.442-1.386L3.386 6l4.135-4.307L6.08.307.614 6l5.465 5.693z"/></svg>
          </div>
          <div class="about-carousel__nav about-carousel__next">
            <svg width="8" height="12" viewBox="0 0 8 12" fill="#000100" xmlns="http://www.w3.org/2000/svg" class="ico-svg about-carousel__next-ico"><path fill-rule="evenodd" clip-rule="evenodd" d="M1.721 11.693L.28 10.307 4.414 6 .279 1.693 1.72.307 7.186 6l-5.465 5.693z"/></svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
