/*_______ manufacture _______*/
/* #region */
.about-promo-section {
  position: relative;
  background: url("../img/about_promo.jpg") 50% 50% no-repeat;
  background-size: cover;
  // overflow-y: hidden;
  z-index: 0;
}
.about-promo__shape {
  position: absolute;
  transform: rotate(315deg);
  top: 80px;
  left: -70px;
  height: 160px;
  z-index: -1;
}
.about-promo__shape2 {
  position: absolute;
  transform: rotate(315deg);
  top: -100px;
  right: 100px;
  z-index: -1;
}

.about-promo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
  padding-bottom: 150px;
  color: @white;
}

.about-components-section {
  position: relative;
  margin-top: 90px;
  margin-bottom: 100px;
  border-bottom: 1px solid @stroke_dark;
  z-index: 2;
}
.about-components__shape {
  position: absolute;
  top: -190px;
  left: 120px;
  height: 150px;
  transform: rotate(42deg);
  z-index: -1;
}
.about-components {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px 40px;
  padding-top: 40px;
}
.about-component {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(33.33% - 30px);
  margin: 0 15px 80px;
  padding: 10px 70px 30px;
  background-color: @very_light_red;
}
.about-component__number {
  margin-top: -48px;
  margin-bottom: 24px;
  font-weight: @fw-light;
  font-size: 60px;
  line-height: 1;
  color: @red;
}
.about-component__title {
  font-weight: @fw-semibold;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  color: @black;
}

.about-today-section {
  position: relative;
  z-index: 1;
}
.about-today__shape {
  position: absolute;
  bottom: 40px;
  left: 0;
  z-index: 0;
}

.about-carousel-section {
  margin-bottom: 100px;
}
.about-carousel {
  position: relative;
}
.about-carousel .swiper-slide-active {
  display: flex;
  justify-content: flex-end;
  height: 520px;
}
.about-carousel .swiper-slide {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
  margin-bottom: auto;
}
.about-carousel .swiper-slide-prev .carousel__img,
.about-carousel .swiper-slide-next .carousel__img {
  height: 270px;
}
.about-carousel__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-carousel__nav {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  // top: calc(50% - 30px);
  bottom: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: @very_light_red;
  z-index: 1;
  .transition();
  cursor: pointer;
  outline: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.about-carousel__nav:hover {
  background-color: @light_red;
  .shadow_red_buttons();
}
.about-carousel__prev {
  left: calc(20% - 30px);
}
.about-carousel__next {
  right: calc(20% - 30px);
}
.about-carousel__prev-ico,
.about-carousel__next-ico {
  .transition();
}
.about-carousel__prev-ico {
  margin-right: 4px;
}
.about-carousel__next-ico {
  margin-left: 4px;
}
.about-carousel__nav:hover .about-carousel__prev-ico,
.about-carousel__nav:hover .about-carousel__next-ico {
  fill: @white;
}
/* #endregion */

@media (max-width: 1030px) {
  .about-components-section {
    margin-top: 70px;
    margin-bottom: 70px;
  }

  // .about-today__shape {
  //   top: -160px;
  //   right: 0;
  //   bottom: initial;
  //   left: initial;
  //   transform: rotate(180deg);
  // }
  .about-today__shape {
    display: none;
  }

  .about-carousel .swiper-slide-active {
    height: 460px;
  }
}

@media (max-width: 860px) {
  .about-promo__shape2 {
    right: -110px;
  }

  .about-components {
    margin: 0 -12px 30px;
    // padding-top: 20px;
  }
  .about-component {
    width: calc(50% - 24px);
    margin: 0 12px 70px;
  }

  .about-today__shape {
    height: 210px;
  }

  .about-carousel-section {
    margin-bottom: 80px;
  }
  .about-carousel .swiper-slide-active {
    // justify-content: stretch;
    justify-content: inherit;
    height: auto;
  }
  .about-carousel .swiper-slide {
    // justify-content: stretch;
    justify-content: inherit;
    margin-top: 0;
    margin-bottom: 0;
  }
  .about-carousel .swiper-slide-prev .carousel__img,
  .about-carousel .swiper-slide-next .carousel__img {
    height: auto;
  }
  .about-carousel__controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
  }
  .about-carousel__nav {
    position: relative;
    width: 50px;
    height: 50px;
  }
  .about-carousel__prev {
    left: 0;
  }
  .about-carousel__next {
    right: 0;
    margin-left: 22px;
  }

  .about-carousel__prev-ico {
    margin-right: 3px;
  }
  .about-carousel__next-ico {
    margin-left: 3px;
  }
}

@media (max-width: 640px) {
  .about-components-section {
    margin-top: 80px;
    margin-bottom: 50px;
  }
  .about-components {
    margin: 0 -12px 16px;
    padding-top: 20px;
  }
  .about-component {
    padding: 10px 40px 24px;
  }
  .about-component__number {
    margin-top: -40px;
    margin-bottom: 12px;
    font-size: 48px;
  }
  .about-component__title {
    font-size: 16px;
  }

  .about-carousel-section {
    margin-bottom: 70px;
  }
  .about-carousel__controls {
    margin-top: 20px;
  }
}

@media (max-width: 560px) {
  .about-promo__shape {
    display: none;
  }
  .about-promo__shape2 {
    top: -120px;
    right: -140px;
  }

  .about-components__shape {
    top: -160px;
    left: -50px;
    height: 130px;
  }
  .about-component__title {
    font-size: 14px;
  }

  .about-today__shape {
    top: -110px;
    height: 180px;
  }
}

@media (max-width: 480px) {
  .about-today__shape {
    top: -180px;
  }
}

@media (max-width: 420px) {
  .about-components-section {
    margin-top: 40px;
  }
  .about-component {
    margin: 0 12px 50px;
    padding: 10px 8px 20px;
  }

  .about-component__number {
    margin-top: -34px;
    margin-bottom: 12px;
    font-size: 40px;
  }

  .about-carousel .swiper-wrapper {
    height: 240px;
  }
}

@media (max-width: 360px) {
  .about-components {
    margin: 0 -10px 32px;
    padding-top: 20px;
  }
  .about-component {
    width: calc(50% - 20px);
    margin: 0 10px 50px;
  }
  .about-component__title {
    font-size: 12px;
  }
}
