<div class="main-gallery-section section">
  <div class="section-wrapper">
    <div class="section-heading">
      <div class="section-heading__title">Немного кейсов</div>
    </div>
    <div class="gallery">
      <a href="assets/cuptrade/img/gallery/gallery_01.jpg" rel="nofollow" data-fancybox="gallery-content" class="gallery-preview">
        <img src="assets/cuptrade/img/gallery/gallery_01-thumb.jpg" alt="" class="gallery-preview__img">
      </a>
      <a href="assets/cuptrade/img/gallery/gallery_02.jpg" rel="nofollow" data-fancybox="gallery-content" class="gallery-preview">
        <img src="assets/cuptrade/img/gallery/gallery_02-thumb.jpg" alt="" class="gallery-preview__img">
      </a>
      <a href="assets/cuptrade/img/gallery/gallery_03.jpg" rel="nofollow" data-fancybox="gallery-content" class="gallery-preview">
        <img src="assets/cuptrade/img/gallery/gallery_03-thumb.jpg" alt="" class="gallery-preview__img">
      </a>
      <a href="assets/cuptrade/img/gallery/gallery_04.jpg" rel="nofollow" data-fancybox="gallery-content" class="gallery-preview">
        <img src="assets/cuptrade/img/gallery/gallery_04-thumb.jpg" alt="" class="gallery-preview__img">
      </a>
      <a href="assets/cuptrade/img/gallery/gallery_05.jpg" rel="nofollow" data-fancybox="gallery-content" class="gallery-preview">
        <img src="assets/cuptrade/img/gallery/gallery_05-thumb.jpg" alt="" class="gallery-preview__img">
      </a>
      <a href="assets/cuptrade/img/gallery/gallery_06.jpg" rel="nofollow" data-fancybox="gallery-content" class="gallery-preview">
        <img src="assets/cuptrade/img/gallery/gallery_06-thumb.jpg" alt="" class="gallery-preview__img">
      </a>
      <a href="assets/cuptrade/img/gallery/gallery_07.jpg" rel="nofollow" data-fancybox="gallery-content" class="gallery-preview gallery-preview--hidetablet">
        <img src="assets/cuptrade/img/gallery/gallery_07-thumb.jpg" alt="" class="gallery-preview__img">
      </a>
      <a href="assets/cuptrade/img/gallery/gallery_08.jpg" rel="nofollow" data-fancybox="gallery-content" class="gallery-preview gallery-preview--hidetablet">
        <img src="assets/cuptrade/img/gallery/gallery_08-thumb.jpg" alt="" class="gallery-preview__img">
      </a>
    </div>
  </div>
</div>
