<div class="main-novelty-section section">
  <div class="section-wrapper">
    <div class="section-heading-compound">
      <div class="section-heading__title">Новинки</div>
      <a href="catalog.html" class="main-novelty__more">Все новинки в каталоге<img src="assets/cuptrade/img/ico/ico-chevron_right.svg" alt="" class="main-novelty__more-ico"></a>
      <a href="catalog.html" class="main-novelty__more-mob">Весь каталог<img src="assets/cuptrade/img/ico/ico-chevron_right.svg" alt="" class="main-novelty__more-ico"></a>
    </div>
    <div class="main-novelty">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <a href="product.html" class="catalog-card swiper-slide">
            <div class="catalog-card__image">
              <img src="assets/cuptrade/img/products/prv-stakanchik_dvuhsloynyy_chernyy_250ml_d03cc.png" alt="" class="catalog-card__img">
            </div>
            <div class="catalog-card__available"><span class="catalog-card__available-text">На складе</span></div>
            <h3 class="catalog-card__title">Черный бумажный стакан 250 мл</h3>
            <div class="catalog-card__text">Собственная логистика, бесплатно* возим по Москве и до терминалов ТК</div>
            <div class="catalog-card__footer">
              <div class="catalog-card__price">от 1,82 ₽</div>
              <div class="catalog-card__forward">Купить <svg width="8" height="12" viewBox="0 0 8 12" fill="#000100" xmlns="http://www.w3.org/2000/svg" class="ico-svg catalog-card__forward-ico"><path fill-rule="evenodd" clip-rule="evenodd" d="M1.721 11.693L.28 10.307 4.414 6 .279 1.693 1.72.307 7.186 6l-5.465 5.693z"/></svg></div>
            </div>
          </a>
          <a href="product.html" class="catalog-card swiper-slide">
            <div class="catalog-card__image">
              <div class="catalog-card__image-label">хит</div>
              <img src="assets/cuptrade/img/products/prv-stakanchik_dvuhsloynyy_chernyy_300ml_111ad.png" alt="" class="catalog-card__img">
            </div>
            <div class="catalog-card__available"><span class="catalog-card__available-text">На складе</span></div>
            <h3 class="catalog-card__title">Черный бумажный стакан 300 мл</h3>
            <div class="catalog-card__text">Собственная логистика, бесплатно* возим по Москве и до терминалов ТК</div>
            <div class="catalog-card__footer">
              <div class="catalog-card__price">от 5,80 ₽</div>
              <div class="catalog-card__forward">Купить <svg width="8" height="12" viewBox="0 0 8 12" fill="#000100" xmlns="http://www.w3.org/2000/svg" class="ico-svg catalog-card__forward-ico"><path fill-rule="evenodd" clip-rule="evenodd" d="M1.721 11.693L.28 10.307 4.414 6 .279 1.693 1.72.307 7.186 6l-5.465 5.693z"/></svg></div>
            </div>
          </a>
          <a href="product.html" title="Стакан двухслойный &laquo;Париж&raquo; 400 мл" class="catalog-card swiper-slide">
            <div class="catalog-card__image catalog-card__carousel">
              <div class="catalog-card__image-label">new</div>
              <div class="swiper-container">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <img data-src="assets/cuptrade/img/products/prv-stakanchik_dvuhsloynyy_chernyy_300ml_111ad.png"
                      src="assets/cuptrade/img/logo-cuptrade.svg" alt=""
                      class="catalog-card__img lazy">
                  </div>
                  <div class="swiper-slide">
                    <img data-src="assets/cuptrade/img/products/prv-stakanchik_dvuhsloynyy_chernyy_300ml_111ad.png"
                      src="assets/cuptrade/img/logo-cuptrade.svg" alt=""
                      class="catalog-card__img lazy">
                  </div>
                </div>
                <div class="catalog-card__carousel-pagination"></div>
              </div>
            </div>
            <div class="catalog-card__available">
              <span class="catalog-card__available-text">На складе</span>
              <span class="catalog-card__available-line"></span>
            </div>
            <h3 class="catalog-card__title">Стакан двухслойный «Париж» 400 мл</h3>
            <div class="catalog-card__text">Полный объем – 500 мл</div>
            <div class="catalog-card__footer">
              <div class="catalog-card__price"><span class="js-price">7.35</span> ₽</div>
              <div class="catalog-card__forward">Купить <svg width="8" height="12" viewBox="0 0 8 12" fill="#000100"
                  xmlns="http://www.w3.org/2000/svg" class="ico-svg catalog-card__forward-ico">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M1.721 11.693L.28 10.307 4.414 6 .279 1.693 1.72.307 7.186 6l-5.465 5.693z" />
                </svg></div>
            </div>
          </a>
          <a href="product.html" class="catalog-card swiper-slide">
            <div class="catalog-card__image">
              <img src="assets/cuptrade/img/products/prv-stakanchik_dvuhsloynyy_kraft_250ml_3e2f0.png" alt="" class="catalog-card__img">
            </div>
            <div class="catalog-card__available"><span class="catalog-card__available-text">На складе</span></div>
            <h3 class="catalog-card__title">Бумажный крафт стакан 250 мл</h3>
            <div class="catalog-card__text">Собственная логистика, бесплатно* возим </div>
            <div class="catalog-card__footer">
              <div class="catalog-card__price">от 4,30 ₽</div>
              <div class="catalog-card__forward">Купить <svg width="8" height="12" viewBox="0 0 8 12" fill="#000100" xmlns="http://www.w3.org/2000/svg" class="ico-svg catalog-card__forward-ico"><path fill-rule="evenodd" clip-rule="evenodd" d="M1.721 11.693L.28 10.307 4.414 6 .279 1.693 1.72.307 7.186 6l-5.465 5.693z"/></svg></div>
            </div>
          </a>
          <a href="product.html" class="catalog-card swiper-slide">
            <div class="catalog-card__image">
              <img src="assets/cuptrade/img/products/prv-stakanchik_dvuhsloynyy_kraft_250ml_3e2f0.png" alt="" class="catalog-card__img">
            </div>
            <div class="catalog-card__available"><span class="catalog-card__available-text">На складе</span></div>
            <h3 class="catalog-card__title">Бумажный крафт стакан 250 мл</h3>
            <div class="catalog-card__text">Собственная логистика, бесплатно* возим </div>
            <div class="catalog-card__footer">
              <div class="catalog-card__price">от 4,30 ₽</div>
              <div class="catalog-card__forward">Купить <svg width="8" height="12" viewBox="0 0 8 12" fill="#000100" xmlns="http://www.w3.org/2000/svg" class="ico-svg catalog-card__forward-ico"><path fill-rule="evenodd" clip-rule="evenodd" d="M1.721 11.693L.28 10.307 4.414 6 .279 1.693 1.72.307 7.186 6l-5.465 5.693z"/></svg></div>
            </div>
          </a>
          <a href="product.html" class="catalog-card swiper-slide">
            <div class="catalog-card__image">
              <img src="assets/cuptrade/img/products/prv-stakanchik_dvuhsloynyy_kraft_250ml_3e2f0.png" alt="" class="catalog-card__img">
            </div>
            <div class="catalog-card__available"><span class="catalog-card__available-text">На складе</span></div>
            <h3 class="catalog-card__title">Бумажный крафт стакан 250 мл</h3>
            <div class="catalog-card__text">Собственная логистика, бесплатно* возим </div>
            <div class="catalog-card__footer">
              <div class="catalog-card__price">от 4,30 ₽</div>
              <div class="catalog-card__forward">Купить <svg width="8" height="12" viewBox="0 0 8 12" fill="#000100" xmlns="http://www.w3.org/2000/svg" class="ico-svg catalog-card__forward-ico"><path fill-rule="evenodd" clip-rule="evenodd" d="M1.721 11.693L.28 10.307 4.414 6 .279 1.693 1.72.307 7.186 6l-5.465 5.693z"/></svg></div>
            </div>
          </a>
          <a href="product.html" class="catalog-card swiper-slide">
            <div class="catalog-card__image">
              <img src="assets/cuptrade/img/products/prv-stakanchik_dvuhsloynyy_kraft_250ml_3e2f0.png" alt="" class="catalog-card__img">
            </div>
            <div class="catalog-card__available"><span class="catalog-card__available-text">На складе</span></div>
            <h3 class="catalog-card__title">Бумажный крафт стакан 250 мл</h3>
            <div class="catalog-card__text">Собственная логистика, бесплатно* возим </div>
            <div class="catalog-card__footer">
              <div class="catalog-card__price">от 4,30 ₽</div>
              <div class="catalog-card__forward">Купить <svg width="8" height="12" viewBox="0 0 8 12" fill="#000100" xmlns="http://www.w3.org/2000/svg" class="ico-svg catalog-card__forward-ico"><path fill-rule="evenodd" clip-rule="evenodd" d="M1.721 11.693L.28 10.307 4.414 6 .279 1.693 1.72.307 7.186 6l-5.465 5.693z"/></svg></div>
            </div>
          </a>
          <a href="product.html" class="catalog-card swiper-slide">
            <div class="catalog-card__image">
              <img src="assets/cuptrade/img/products/prv-stakanchik_dvuhsloynyy_kraft_250ml_3e2f0.png" alt="" class="catalog-card__img">
            </div>
            <div class="catalog-card__available"><span class="catalog-card__available-text">На складе</span></div>
            <h3 class="catalog-card__title">Бумажный крафт стакан 250 мл</h3>
            <div class="catalog-card__text">Собственная логистика, бесплатно* возим </div>
            <div class="catalog-card__footer">
              <div class="catalog-card__price">от 4,30 ₽</div>
              <div class="catalog-card__forward">Купить <svg width="8" height="12" viewBox="0 0 8 12" fill="#000100" xmlns="http://www.w3.org/2000/svg" class="ico-svg catalog-card__forward-ico"><path fill-rule="evenodd" clip-rule="evenodd" d="M1.721 11.693L.28 10.307 4.414 6 .279 1.693 1.72.307 7.186 6l-5.465 5.693z"/></svg></div>
            </div>
          </a>
          <a href="product.html" class="catalog-card swiper-slide">
            <div class="catalog-card__image">
              <img src="assets/cuptrade/img/products/prv-stakanchik_dvuhsloynyy_kraft_250ml_3e2f0.png" alt="" class="catalog-card__img">
            </div>
            <div class="catalog-card__available"><span class="catalog-card__available-text">На складе</span></div>
            <h3 class="catalog-card__title">Бумажный крафт стакан 250 мл</h3>
            <div class="catalog-card__text">Собственная логистика, бесплатно* возим </div>
            <div class="catalog-card__footer">
              <div class="catalog-card__price">от 4,30 ₽</div>
              <div class="catalog-card__forward">Купить <svg width="8" height="12" viewBox="0 0 8 12" fill="#000100" xmlns="http://www.w3.org/2000/svg" class="ico-svg catalog-card__forward-ico"><path fill-rule="evenodd" clip-rule="evenodd" d="M1.721 11.693L.28 10.307 4.414 6 .279 1.693 1.72.307 7.186 6l-5.465 5.693z"/></svg></div>
            </div>
          </a>
        </div>
      </div>
      <div class="main-novelty__controls">
        <div class="main-novelty__nav main-novelty__prev">
          <!-- <img src="assets/cuptrade/img/ico/ico-chevron_left.svg" alt="" class="main-novelty__prev-ico"> -->
          <svg width="8" height="12" viewBox="0 0 8 12" fill="#000100" xmlns="http://www.w3.org/2000/svg" class="ico-svg main-novelty__prev-ico"><path fill-rule="evenodd" clip-rule="evenodd" d="M6.079 11.693l1.442-1.386L3.386 6l4.135-4.307L6.08.307.614 6l5.465 5.693z"/></svg>
        </div>
        <div class="main-novelty__nav main-novelty__next">
          <!-- <img src="assets/cuptrade/img/ico/ico-chevron_right.svg" alt="" class="main-novelty__next-ico"> -->
          <svg width="8" height="12" viewBox="0 0 8 12" fill="#000100" xmlns="http://www.w3.org/2000/svg" class="ico-svg main-novelty__next-ico"><path fill-rule="evenodd" clip-rule="evenodd" d="M1.721 11.693L.28 10.307 4.414 6 .279 1.693 1.72.307 7.186 6l-5.465 5.693z"/></svg>
        </div>
      </div>
    </div>
  </div>
</div>
