<div class="main-about-section section">
  <img src="assets/cuptrade/img/bg_lines_circle.svg" alt="" class="main-about__shape">
  <div class="section-wrapper">
    <div class="section-heading">
      <div class="section-heading__title">Это про нас</div>
    </div>
    <div class="main-about">
      <div class="main-about__item">
        <div class="main-about__item-fade">
          <div class="main-about__item-fade__number">01</div>
          <div class="main-about__item-fade__text">Мы ответим вам быстрее, чем вы нам напишете!</div>
        </div>
        <div class="main-about__item-number">01</div>
        <div class="main-about__item-title">Молниеносная реакция</div>
        <div class="main-about__item-text">Мы ответим вам быстрее, чем вы нам напишете!</div>
        <div class="main-about__item-ico">+</div>
      </div>
      <div class="main-about__item main-about__item--accent main-about__item--even">
        <div class="main-about__item-fade">
          <div class="main-about__item-fade__number">02</div>
          <div class="main-about__item-fade__text">Чистая правда, куда бы вы не написали, оставили заявку или позвонили – вам моментально ответит именно ваш личный менеджер</div>
        </div>
        <div class="main-about__item-number">02</div>
        <div class="main-about__item-title">Личный менеджер</div>
        <div class="main-about__item-text">Чистая правда, куда бы вы не написали, оставили заявку или позвонили – вам моментально ответит именно ваш личный менеджер</div>
        <div class="main-about__item-ico">+</div>
      </div>
      <div class="main-about__item main-about__item--accent">
        <div class="main-about__item-fade">
          <div class="main-about__item-fade__number">03</div>
          <div class="main-about__item-fade__text">Всегда готовы решать срочные вопросы в нерабочее время</div>
        </div>
        <div class="main-about__item-number">03</div>
        <div class="main-about__item-title">Мы онлайн</div>
        <div class="main-about__item-text">Всегда готовы решать срочные вопросы в нерабочее время</div>
        <div class="main-about__item-ico">+</div>
      </div>
      <div class="main-about__item main-about__item--even">
        <div class="main-about__item-fade">
          <div class="main-about__item-fade__number">04</div>
          <div class="main-about__item-fade__text">Бюрократии – бой, мы всегда сможем договориться, смело задавайте неудобные вопросы</div>
        </div>
        <div class="main-about__item-number">04</div>
        <div class="main-about__item-title">Мы лояльны</div>
        <div class="main-about__item-text">Бюрократии – бой, мы всегда сможем договориться, смело задавайте неудобные вопросы</div>
        <div class="main-about__item-ico">+</div>
      </div>
      <div class="main-about__item">
        <div class="main-about__item-fade">
          <div class="main-about__item-fade__number">05</div>
          <div class="main-about__item-fade__text">Каждого из нас поистине профессионал в области
            одноразовой упаковки</div>
        </div>
        <div class="main-about__item-number">05</div>
        <div class="main-about__item-title">Мы в теме</div>
        <div class="main-about__item-text">Каждого из нас поистине профессионал в области
          одноразовой упаковки</div>
        <div class="main-about__item-ico">+</div>
      </div>
      <div class="main-about__item main-about__item--accent main-about__item--even">
        <div class="main-about__item-fade">
          <div class="main-about__item-fade__number">06</div>
          <div class="main-about__item-fade__text">Мы и правда делаем хороший продукт, закажите бесплатные образцы прямо сейчас</div>
        </div>
        <div class="main-about__item-number">06</div>
        <div class="main-about__item-title">Высокое качество</div>
        <div class="main-about__item-text">Мы и правда делаем хороший продукт, закажите бесплатные образцы прямо сейчас</div>
        <div class="main-about__item-ico">+</div>
      </div>
      <div class="main-about__item main-about__item--accent">
        <div class="main-about__item-fade">
          <div class="main-about__item-fade__number">07</div>
          <div class="main-about__item-fade__text">Не срываем сроки, т.к. сами выполняем весь цикл производства</div>
        </div>
        <div class="main-about__item-number">07</div>
        <div class="main-about__item-title">Делаем быстро</div>
        <div class="main-about__item-text">Не срываем сроки, т.к. сами выполняем весь цикл производства</div>
        <div class="main-about__item-ico">+</div>
      </div>
      <div class="main-about__item main-about__item--even">
        <div class="main-about__item-fade">
          <div class="main-about__item-fade__number">08</div>
          <div class="main-about__item-fade__text">Собственная логистика, не зависим от недобросовестных курьеров</div>
        </div>
        <div class="main-about__item-number">08</div>
        <div class="main-about__item-title">Привозим вовремя</div>
        <div class="main-about__item-text">Собственная логистика, не зависим от недобросовестных курьеров</div>
        <div class="main-about__item-ico">+</div>
      </div>
    </div>
  </div>
</div>
