<div class="main-cups-section section">
  <div class="section-wrapper">

    <div class="main-cups__heading">
      <div class="main-cups__heading-title">
        <div class="title main-cups__title">Наши стаканы</div>
        <div class="main-cups__subtitle">Оставьте свои данные и мы оперативно свяжемся с вами удобным для вас способом.</div>
      </div>
      <div class="main-cups__image-mob">
        <img src="assets/cuptrade/img/cups.png" alt="" class="main-cups__img-mob">
      </div>
    </div>

    <div class="main-cups-wrap">
      <div class="main-cups__col">
        <div class="main-cups__image">
          <img src="assets/cuptrade/img/cups.png" alt="" class="main-cups__img">
        </div>
      </div>
      <div class="main-cups__col">
        <div class="main-cups">
          <div class="main-cups__item">
            <img src="assets/cuptrade/img/ico-concept/ico-check_ribbon.svg" class="main-cups__item-ico">
            <div class="main-cups__item-title">Качественны и надежны</div>
            <div class="main-cups__item-text">Крутим из высококачественного европейского картона высокой плотности, без деформации и протечек</div>
          </div>
          <div class="main-cups__item">
            <img src="assets/cuptrade/img/ico-concept/ico-leafs.svg" class="main-cups__item-ico">
            <div class="main-cups__item-title">Экологичны</div>
            <div class="main-cups__item-text">Используемое сырье и пищевые краски абсолютно безвредны для человека и окружающей среды</div>
          </div>
          <div class="main-cups__item">
            <img src="assets/cuptrade/img/ico-concept/ico-shine.svg" class="main-cups__item-ico">
            <div class="main-cups__item-title">Яркие и запоминающиеся</div>
            <div class="main-cups__item-text">Мы печатаем офсетом, каждый раз добиваясь яркого и насыщенного изображения</div>
          </div>
          <div class="main-cups__item">
            <img src="assets/cuptrade/img/ico-concept/ico-cups.svg" class="main-cups__item-ico">
            <div class="main-cups__item-title">Большой ассортимент</div>
            <div class="main-cups__item-text">Всегда в наличии на складе в Москве</div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
