/*_______ Main _______*/
/* #region */
.main-nav-section {
  margin-top: 44px;
  margin-bottom: 110px;
  padding-bottom: 90px;
  border-bottom: 1px solid @stroke_dark;
}
.main-nav-wrap {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.main-nav-wrap__order0 {
  order: 0
}
.main-nav-wrap__order1 {
  order: 1
}
.main-nav-wrap__order2w {
  order: 2
}
.main-nav-wrap__order2 {
  order: 3
}
.main-nav-wrap__order3 {
  order: 4
}
.main-nav-wrap__order4 {
  order: 5
}
.main-nav-wrap__order5 {
  order: 5
}
@media (min-width: 721px) and (max-width: 1030px) {
  .main-nav-wrap__order2 {
    order: 2
  }
  .main-nav-wrap__order2w {
    order: 3
  }
}

.main-nav-wide {
  position: relative;
  display: flex;
  align-items: flex-start;
  width: calc(50% - 30px);
  margin: 0 15px 30px;
  background-color: @very_light_red;
  overflow: hidden;
  z-index: 0;
}
.main-nav-wide__title {
  margin-bottom: 24px;
  font-weight: @fw-semibold;
  font-size: 24px;
  line-height: 1.2;
  color: @black;
}
.main-nav-wide__links {
  padding: 40px 4px 30px 30px;
}
.main-nav-wide__link {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  margin-bottom: 10px;
  padding-bottom: 6px;
  font-size: 18px;
  line-height: 1.2;
  color: @black;
}
.main-nav-wide__link-marker {
  margin-top: -1px;
  margin-right: 16px;
  line-height: 1;
  color: #e1e1e1;
  .transition();
}
.main-nav-wide__link:hover .main-nav-wide__link-marker {
  color: @red;
}
.main-nav-wide__images {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  margin-left: auto;
}
.main-nav-wide__image-main {
  display: none;
  max-width: 280px;
  margin-left: auto;
  transform: rotate(325deg);
}
.main-nav-wide__image {
  display: none;
  max-height: 290px;
  margin-left: auto;
  transform: rotate(345deg);
}
.main-nav-wide__image--active {
  display: block;
  position: absolute;
}

.main-nav-flip {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: calc(25% - 30px);
  margin: 0 15px 30px;
  padding: 36px 30px 160px;
  color: @white;
  overflow: hidden;
  z-index: 1;
}
.main-nav-flip--red {
  background-color: @red;
}
.main-nav-flip--dark {
  background-color: @dark_grey;
}
.main-nav {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: calc(25% - 30px);
  margin: 0 15px 30px;
  padding: 225px 30px 30px;
  color: @white;
  overflow: hidden;
  z-index: 1;
}
.main-nav__title {
  margin-bottom: 14px;
  font-weight: @fw-semibold;
  font-size: 24px;
  line-height: 1.2;
}
.main-nav__text {
  font-size: 16px;
  line-height: 1.5;
}
.main-nav .main-nav__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  .transition();
  z-index: -1;
}
.main-nav-flip .main-nav__bg {
  position: absolute;
  right: 0;
  bottom: 0;
  .transition();
  z-index: -1;
}
.main-nav-flip:hover {
  color: @white;
}
.main-nav-flip:hover .main-nav__bg {
  transform: scale(1.1);
}
.main-nav:hover {
  color: @white;
}
.main-nav:hover .main-nav__bg {
  transform: scale(1.1);
}

.main-cups-section {
  margin-bottom: 120px;
}
.main-cups-wrap {
  position: relative;
  display: flex;
  align-items: flex-start;
}
.main-cups__heading {
  margin-bottom: 80px;
}
.main-cups__heading-title {
  display: flex;
  align-items: center;
}
.main-cups__title {
  width: 50%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.main-cups__subtitle {
  width: 50%;
  // margin: 10px 0 90px 32px;
  padding-left: 32px;
  font-size: 18px;
  line-height: 1.4;
  color: @black;
}
.main-cups__image-mob {
  display: none;
}
.main-cups__col {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.main-cups__image {
  position: absolute;
  top: 80px;
  left: -200px;
}
.main-cups {
  display: flex;
  flex-wrap: wrap;
}
.main-cups__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  padding: 0 32px 40px;
}
.main-cups__item:first-child {
  border-right: 1px solid @stroke_dark;
}
.main-cups__item:nth-child(3) {
  padding-top: 40px;
  border-top: 1px solid @stroke_dark;
  border-right: 1px solid @stroke_dark;
}
.main-cups__item:nth-child(4) {
  padding-top: 40px;
  border-top: 1px solid @stroke_dark;
}
.main-cups__item-ico {
  margin-bottom: 24px;
}
.main-cups__item-title {
  margin-bottom: 18px;
  font-weight: @fw-semibold;
  font-size: 24px;
  line-height: 1.2;
}
.main-cups__item-text {
  font-size: 16px;
  line-height: 1.5;
  color: @grey;
}

.main-novelty-section {
  margin-bottom: 110px;
  padding-top: 110px;
  padding-bottom: 110px;
  background-color: @very_light_red;
}
.main-novelty__more {
  display: flex;
  align-items: center;
  margin-left: auto;
  font-size: 16px;
  line-height: 1.2;
  color: @black;
  &:hover {
    color: @red;
  }
}
.main-novelty__more-ico {
  margin-bottom: -1px;
  margin-left: 10px;
}
.main-novelty__more-mob {
  display: none;
}
.main-novelty .swiper-slide {
  height: auto;
}
.main-novelty .catalog-card {
  width: auto;
  margin: 0;
  background-color: @white;
  .catalog-card__available-text {
    background-color: @white;
  }
}
.main-novelty__controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  @media (min-width: 1025px) {
    display: none;
  }
}
.main-novelty__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: @white;
  cursor: pointer;
  .transition();
  outline: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.main-novelty__nav:hover {
  background-color: @light_red;
  .shadow_red_buttons();
}
.main-novelty__prev-ico,
.main-novelty__next-ico {
  .transition();
}
.main-novelty__prev-ico {
  margin-right: 2px;
}
.main-novelty__next-ico {
  margin-left: 2px;
}
.main-novelty__nav:hover .main-novelty__prev-ico,
.main-novelty__nav:hover .main-novelty__next-ico {
  fill: @white;
}
.main-novelty__prev {
  margin-right: 22px;
}

.main-about-section {
  position: relative;
  margin-bottom: 110px;
  padding-bottom: 90px;
  border-bottom: 1px solid @stroke_dark;
  z-index: 1;
}
.main-about__shape {
  position: absolute;
  top: -60px;
  left: -100px;
}
.main-about {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.main-about__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: calc(25% - 30px);
  margin: 0 15px 30px;
  padding: 26px 30px;
  background-color: @very_light_red;
  cursor: pointer;
  transition: all 0.3s ease-out;
  z-index: 1;
}
.main-about__item-fade {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 26px 30px;
  background-color: @red;
  // transition: all 0.3s ease-out;
  z-index: 2;
}
.main-about__item-fade__number {
  margin-bottom: 10px;
  font-weight: @fw-semibold;
  font-size: 16px;
  line-height: 1.2;
  color: @white;
}
.main-about__item-fade__text {
  font-size: 16px;
  line-height: 1.4;
  color: @white;
}
.main-about__item-number {
  margin-bottom: 10px;
  font-weight: @fw-semibold;
  font-size: 16px;
  line-height: 1.2;
  color: @red;
}
.main-about__item-title {
  margin-bottom: 54px;
  font-weight: @fw-semibold;
  font-size: 24px;
  line-height: 1.2;
  color: @black;
}
.main-about__item-text {
  display: none;
}
.main-about__item-ico {
  margin-top: auto;
  font-weight: @fw-light;
  font-size: 24px;
  line-height: 1;
  color: @black;
}
.main-about__item:hover .main-about__item-fade {
  display: block;
  transition: all 0.3s ease-out;
}

.main-gallery-section {
  position: relative;
  margin-bottom: 100px;
  z-index: 2;
}

.main-callback-section {
  position: relative;
  margin-bottom: 120px;
  padding-bottom: 100px;
  z-index: 1;
}
.main-callback__shape {
  position: absolute;
  top: 0;
  left: -120px;
  z-index: 0;
}
.main-callback__bg {
  position: absolute;
  top: -240px;
  bottom: 0;
  left: 0;
  width: 100%;
  // height: 100%;
  background-color: @very_light_red;
  z-index: -1;
}
.main-callback__title {
  margin-bottom: 40px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
}
.main-callback__subtitle {
  width: 100%;
  max-width: 480px;
  margin: 0 auto 40px;
  font-size: 18px;
  line-height: 1.4;
  text-align: center;
}
.main-callback-wrap {
  display: flex;
  max-width: 1010px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  border-top: 1px solid @stroke_dark;
}
.main-callback-director {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 40px;
  padding-bottom: 48px;
  border-right: 1px solid @stroke_dark;
  text-align: center;
}
.main-callback-director__image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 196px;
  height: 196px;
  margin-bottom: 24px;
  border-radius: 50%;
  overflow: hidden;
}
.main-callback-director__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-callback-director__name {
  margin-bottom: 10px;
  font-weight: @fw-semibold;
  font-size: 24px;
  line-height: 1.2;
  color: @black;
}
.main-callback-director__post {
  font-size: 16px;
  line-height: 1;
  color: @grey;
}
.main-callback-form {
  padding-top: 36px;
  padding-left: 60px;
  width: 65%;
}
.main-callback-form__switchers {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  margin: 0 -15px 24px;
}
.main-callback-form__switcher {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 15px;
  margin-left: 15px;
  padding-right: 40px;
  padding-bottom: 10px;
  border-bottom: 2px solid @stroke_dark;
  font-size: 18px;
  line-height: 1;
  color: @black;
  cursor: pointer;
}
.main-callback-form__switcher-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}
.main-callback-form__switcher:hover {
  color: @red;
  border-bottom: 2px solid @red;
}
.main-callback-form__switcher:hover .ico-svg {
  fill: @red;
}
.main-callback-form__switcher--active {
  color: @red;
  border-bottom: 2px solid @red;
}
.main-callback-form__switcher--active .ico-svg {
  fill: @red;
}
.main-callback-form__switchers-note {
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 1.2;
  color: @grey;
}
.main-callback-form__field--hidden {
  display: none;
}
.main-callback-form__input {
  background-color: transparent;
}
.main-callback-form__submit {
  margin-top: 32px;
}
/* #endregion */

@media (max-width: 1200px) {
  .main-nav-wrap {
    margin-right: -12px;
    margin-left: -12px;
  }
  .main-nav-wide {
    width: calc(50% - 24px);
    margin: 0 12px 24px;
  }
  .main-nav-flip {
    width: calc(25% - 24px);
    margin: 0 12px 24px;
  }
  .main-nav {
    width: calc(25% - 24px);
    margin: 0 12px 24px;
  }
  .main-nav-wide__links {
    padding-left: 20px;
  }
  .main-nav-wide__link {
    font-size: 16px;
  }
  .main-nav__title {
    font-size: 20px;
  }
  .main-nav__text {
    font-size: 14px;
  }

  .main-callback__shape {
    top: -15%;
    left: -15%;
  }
}

@media (max-width: 1030px) {
  .main-nav-wide {
    width: calc(66.66% - 24px);
  }
  .main-nav-flip {
    width: calc(33.33% - 24px);
  }
  .main-nav {
    width: calc(33.33% - 24px);
  }

  .main-cups__image {
    left: -290px;
  }

  .main-about__item {
    width: calc(50% - 30px);
    cursor: default;
  }
  .main-about__item-title {
    margin-bottom: 12px;
  }
  .main-about__item-text {
    display: block;
    font-size: 16px;
    line-height: 1.4;
    color: @black;
  }
  .main-about__item--accent {
    color: @white;
    background-color: @red;
  }
  .main-about__item--accent .main-about__item-number {
    color: @black;
  }
  .main-about__item--accent .main-about__item-title {
    color: @white;
  }
  .main-about__item--accent .main-about__item-text {
    color: @white;
  }
  .main-about__item-ico {
    display: none;
  }
  .main-about__item:hover .main-about__item-fade {
    display: none;
  }
}

// @media (max-width: 960px) {
//   .main-nav-wide {
//     width: 100%;
//     margin: 0 12px 24px;
//   }
//   .main-nav-flip {
//     width: calc(50% - 24px);
//     margin: 0 12px 24px;
//   }
//   .main-nav {
//     width: calc(50% - 24px);
//     margin: 0 12px 24px;
//   }
//   .main-nav-wide__links {
//     padding-left: 30px;
//   }
// }

@media (max-width: 860px) {
  .main-nav-section {
    margin-bottom: 20px;
  }
  .main-nav-wide {
    width: calc(100% - 24px);
  }
  .main-nav-wide__links {
    padding-left: 30px;
  }
  .main-nav-wide__link {
    font-size: 18px;
  }

  .main-cups-section {
    margin-bottom: 70px;
  }
  .main-cups-wrap {
    flex-direction: column;
  }
  .main-cups__heading {
    display: flex;
    margin-bottom: 30px;
  }
  .main-cups__heading-title {
    flex-direction: column;
    justify-content: center;
    width: 50%;
  }
  .main-cups__title {
    width: 100%;
    margin-bottom: 36px;
    font-size: 40px;
  }
  .main-cups__subtitle {
    width: 100%;
    padding-left: 0;
  }
  .main-cups__image-mob {
    display: block;
    width: 50%;
  }
  .main-cups__img-mob {
    position: relative;
    // top: 0;
    right: -80px;
    bottom: -20px;
  }
  .main-cups__image {
    display: none;
  }
  .main-cups__image {
    display: none;
  }
  .main-cups__col {
    flex-direction: row;
    width: 100%;
  }
  .main-cups__item:nth-child(1) {
    padding-left: 0;
  }
  .main-cups__item:nth-child(3) {
    padding-left: 0;
  }
  .main-cups__item:nth-child(2) {
    padding-right: 0;
    padding-left: 38px;
  }
  .main-cups__item:nth-child(4) {
    padding-right: 0;
    padding-left: 38px;
  }

  .main-novelty-section {
    margin-bottom: 90px;
    padding-top: 90px;
    padding-bottom: 90px;
  }

  .main-about__shape {
    top: -30px;
    height: 240px;
  }
  .main-about-section {
    margin-bottom: 70px;
    padding-bottom: 70px;
  }
  .main-about {
    margin-right: -12px;
    margin-left: -12px;
  }
  .main-about__item {
    width: calc(50% - 24px);
    margin: 0 12px 24px;
  }

  .main-gallery-section {
    margin-bottom: 100px;
  }

  .main-callback-section {
    margin-bottom: 90px;
    padding-bottom: 90px;
  }
  .main-callback__shape {
    height: 230px;
  }
  .main-callback__title {
    margin-bottom: 16px;
    font-size: 40px;
  }

  .main-callback-director {
    width: 26%;
    padding-bottom: 74px;
  }
  .main-callback-director__image {
    width: 160px;
    height: 160px;
    margin-bottom: 16px;
  }
  .main-callback-director__name {
    font-size: 20px;
  }
  .main-callback-director__post {
    font-size: 14px;
  }
  .main-callback-form {
    padding-left: 40px;
    width: 74%;
  }
  .main-callback-form__switcher {
    font-size: 16px;
  }
}

@media (max-width: 720px) {
  .main-nav-section {
    padding-bottom: 70px;
  }
  .main-nav-flip {
    width: calc(50% - 24px);
  }
  .main-nav {
    width: calc(50% - 24px);
  }

  .main-callback-section {
    margin-bottom: 80px;
    padding-bottom: 80px;
  }
  .main-callback__shape {
    top: -30%;
    left: -20%;
  }

  .main-callback__subtitle {
    font-size: 16px;
  }
  .main-callback-wrap {
    border-top: none;
    flex-direction: column;
  }
  .main-callback-director {
    flex-direction: row;
    width: 100%;
    padding-bottom: 30px;
    border-right: none;
    border-bottom: 1px solid @stroke_dark;
  }
  .main-callback-director__image {
    width: 140px;
    height: 140px;
    margin-bottom: 0;
    margin-right: 20px;
  }
  .main-callback-form {
    width: 100%;
    padding-top: 30px;
    padding-left: 0;
  }
}

@media (max-width: 640px) {
  .main-cups__title {
    margin-bottom: 24px;
    font-size: 34px;
  }
  .main-cups__img-mob {
    right: -50px;
  }
  .main-cups__item {
    padding-bottom: 24px;
  }
  .main-cups__item-ico {
    margin-bottom: 10px;
    width: 50px;
    height: 50px;
  }
  .main-cups__item-title {
    margin-bottom: 6px;
    font-size: 20px;
  }
  .main-cups__item-text {
    font-size: 14px;
  }
  .main-cups__item:nth-child(2) {
    padding-left: 24px;
  }
  .main-cups__item:nth-child(4) {
    padding-left: 24px;
  }

  .main-about__shape {
    left: -160px;
  }
  .main-about {
    margin-right: -10px;
    margin-left: -10px;
  }
  .main-about__item {
    width: calc(50% - 20px);
    margin: 0 10px 20px;
  }
  .main-about__item-title {
    font-size: 20px;
  }
  .main-about__item-text {
    font-size: 14px;
  }
}

@media (max-width: 560px) {
  .main-nav-section {
    margin-top: 30px;
    margin-bottom: 60px;
    padding-bottom: 60px;
  }
  .main-nav-wrap {
    margin-right: -10px;
    margin-left: -10px;
  }
  .main-nav-wide {
    flex-direction: column;
    width: calc(100% - 20px);
    margin: 0 10px 20px;
    padding-bottom: 30px;
  }
  .main-nav-wide__links {
    padding: 0 0 0 20px;
    width: 100%;
    order: 2;
  }
  .main-nav-wide__title {
    margin-bottom: 18px;
    font-size: 20px;
  }
  .main-nav-wide__link {
    margin-bottom: 8px;
    padding-bottom: 4px;
    font-size: 16px;
  }
  .main-nav-wide__images {
    width: 100%;
    height: 260px;
    order: 1;
    margin-bottom: 20px;
  }
  .main-nav-wide__image-main {
    max-width: auto;
    height: 230px;
  }
  .main-nav-wide__image {
    max-height: 230px;
  }
  .main-nav-flip {
    width: calc(50% - 20px);
    margin: 0 10px 20px;
    padding: 26px 20px 160px;
  }
  .main-nav {
    width: calc(50% - 20px);
    margin: 0 10px 20px;
    padding: 180px 20px 30px;
  }

  .main-cups-section {
    margin-bottom: 40px;
  }
  .main-cups__heading {
    margin-bottom: 10px;
    flex-direction: column;
  }
  .main-cups__heading-title {
    width: 100%;
    margin-bottom: 30px;
  }
  .main-cups__title {
    margin-bottom: 20px;
    font-size: 28px;
  }
  .main-cups__subtitle {
    font-size: 16px;
  }
  .main-cups__image-mob {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .main-cups__img-mob {
    right: 0;
    bottom: 0;
    height: 320px;
  }

  .main-cups {
    flex-direction: column;
  }
  .main-cups__item:nth-child(1) {
    border-right: none;
  }
  .main-cups__item:nth-child(2) {
    padding-left: 0;
  }
  .main-cups__item:nth-child(3) {
    padding-top: 0;
    border-top: none;
    border-right: none;
  }
  .main-cups__item:nth-child(4) {
    padding-top: 0;
    padding-left: 0;
    border-top: none;
  }
  .main-cups__item {
    width: 100%;
    border-bottom: 1px solid @stroke_dark;
    margin-bottom: 28px;
  }

  .main-novelty-section {
    margin-bottom: 70px;
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .main-novelty__more {
    display: none;
  }
  .main-novelty__more-mob {
    display: flex;
    align-items: center;
    margin-left: auto;
    font-size: 14px;
    line-height: 1.2;
    color: @black;
    &:hover {
      color: @red;
    }
  }
  .main-novelty__more-ico {
    height: 10px;
    margin-bottom: -2px;
    margin-left: 6px;
  }
  .main-novelty__controls {
    margin-top: 30px;
  }

  .main-about {
    flex-direction: column;
    margin-right: 0;
    margin-left: 0;
  }
  .main-about__item {
    width: 100%;
    margin: 0 0 20px;
    padding: 20px 20px 24px 50px;
  }
  .main-about__item-number {
    position: absolute;
    left: 20px;
    top: 25px;
    font-size: 14px;
  }
  .main-about__item-title {
    font-size: 20px;
  }
  .main-about__item-text {
    font-size: 14px;
  }
  .main-about__item--even {
    background-color: @red;
  }
  .main-about__item--even .main-about__item-number {
    color: @white;
  }
  .main-about__item--even .main-about__item-title {
    color: @white;
  }
  .main-about__item--even .main-about__item-text {
    color: @white;
  }

  .main-callback__shape {
    top: -38%;
    left: -140px;
  }
  .main-callback__title {
    font-size: 32px;
  }
  .main-callback-director {
    padding-top: 0;
    padding-bottom: 20px;
    text-align: left;
  }
  .main-callback__subtitle {
    margin-bottom: 32px;
  }
  .main-callback-director__image {
    width: 120px;
    height: 120px;
  }
  .main-callback-director__name {
    margin-bottom: 8px;
    font-size: 18px;
  }
  .main-callback-form {
    padding-top: 27px;
  }
  .main-callback-form__switchers {
    margin: 0 -10px 20px;
  }
  .main-callback-form__switcher {
    margin-right: 10px;
    margin-left: 10px;
    padding-right: 8px;
    font-size: 14px;
  }
  .main-callback-form__switchers-note {
    margin-bottom: 12px;
  }
  .main-callback-form__submit {
    margin-top: 24px;
  }
}

@media (max-width: 480px) {
  .main-nav-wrap {
    margin-right: -6px;
    margin-left: -6px;
  }
  .main-nav-wide {
    padding-bottom: 20px;
  }
  .main-nav-wide__images {
    height: 220px;
    margin-bottom: 10px;
  }
  .main-nav-wide__image-main {
    height: 180px;
  }
  .main-nav-wide__image {
    max-height: 180px;
  }
  .main-nav-flip {
    width: calc(50% - 12px);
    margin: 0 6px 20px;
  }
  .main-nav {
    width: calc(50% - 12px);
    margin: 0 6px 20px;
  }

  .main-about__shape {
    display: none;
  }

  .main-callback__title {
    font-size: 28px;
  }
}

@media (max-width: 420px) {
  .main-nav-wrap {
    margin-right: 0;
    margin-left: 0;
  }
  .main-nav-wide {
    width: 100%;
    margin: 0 0 14px;
  }
  .main-nav-flip {
    width: 100%;
    margin: 0 0 14px;
  }
  .main-nav {
    width: 100%;
    margin: 0 0 14px;
  }

  .main-cups__img-mob {
    height: 260px;
  }

  .main-about__item {
    margin-bottom: 10px;
  }

  .main-callback-director__image {
    width: 100px;
    height: 100px;
  }
  .main-callback-form__submit {
    width: 100%;
  }
}

@media (max-width: 360px) {
  .main-nav-wide__link {
    font-size: 14px;
  }
}
