<div class="main-nav-section section">
  <div class="section-wrapper">
    <div class="main-nav-wrap">
      <div class="main-nav-wide">
        <div class="main-nav-wide__links">
          <div class="main-nav-wide__title">Продаем в розницу</div>
          <a href="" class="main-nav-wide__link" data-mainnav-img="mainNavImg_1slcup"><span class="main-nav-wide__link-marker">•</span>Однослойные стаканы</a>
          <a href="" class="main-nav-wide__link" data-mainnav-img="mainNavImg_2slcup"><span class="main-nav-wide__link-marker">•</span> Двухслойные бумажные</a>
          <a href="" class="main-nav-wide__link" data-mainnav-img="mainNavImg_covers"><span class="main-nav-wide__link-marker">•</span> Крышки для стаканов</a>
          <a href="" class="main-nav-wide__link" data-mainnav-img="mainNavImg_soput"><span class="main-nav-wide__link-marker">•</span> Сопутствующие товары</a>
          <a href="" class="main-nav-wide__link" data-mainnav-img="mainNavImg_plastcup"><span class="main-nav-wide__link-marker">•</span> Пластиковые стаканы и крышки</a>
          <a href="" class="main-nav-wide__link" data-mainnav-img="mainNavImg_pack"><span class="main-nav-wide__link-marker">•</span> Упаковка из бумаги</a>
        </div>
        <div class="main-nav-wide__images">
          <img src="assets/cuptrade/img/cups.png" alt="" class="main-nav-wide__image-main main-nav-wide__image--active">
          <img src="assets/cuptrade/img/catalog/odnosloynye_stakany_bd90c.png" alt="" id="mainNavImg_1slcup" class="main-nav-wide__image animated fast">
          <img src="assets/cuptrade/img/catalog/dvuhsloynye_stakany_aeb53.png" alt="" id="mainNavImg_2slcup" class="main-nav-wide__image animated fast">
          <img src="assets/cuptrade/img/catalog/kryshki_dlya_stakanov_6c51e.png" alt="" id="mainNavImg_covers" class="main-nav-wide__image animated fast">
          <img src="assets/cuptrade/img/catalog/soputstvuyuschie_tovary_64d4a.png" alt="" id="mainNavImg_soput" class="main-nav-wide__image animated fast">
          <img src="assets/cuptrade/img/catalog/plastikovye_stakany_c5e7a.png" alt="" id="mainNavImg_plastcup" class="main-nav-wide__image animated fast">
          <img src="assets/cuptrade/img/catalog/upakovka_iz_bumagi_22bee.png" alt="" id="mainNavImg_pack" class="main-nav-wide__image animated fast">
        </div>
      </div>
      <a href="" class="main-nav-flip main-nav-flip--red">
        <div class="main-nav__title">Стаканы с вашим дизайном</div>
        <div class="main-nav__text">Сами печатаем, крутим и доставляем, от 1000 шт.</div>
        <img src="assets/cuptrade/img/main_nav_design.jpg" alt="" class="main-nav__bg">
      </a>
      <a href="" class="main-nav-flip main-nav-flip--dark">
        <div class="main-nav__title">Стаканы с вашим логотипом</div>
        <div class="main-nav__text">Нанесем ваш логотип на любой стакан, от 300 шт.,
          от 24 часов</div>
        <img src="assets/cuptrade/img/main_nav_logo.jpg" alt="" class="main-nav__bg">
      </a>

      <a href="manufacture.html" class="main-nav">
        <div class="main-nav__title">Наше производство</div>
        <div class="main-nav__text">Производим до 300 тысяч стаканов в сутки</div>
        <img src="assets/cuptrade/img/site_manufacture.jpg" alt="" class="main-nav__bg">
      </a>
      <a href="delivery.html" class="main-nav">
        <div class="main-nav__title">Доставляем сами</div>
        <div class="main-nav__text">Собственная логистика, бесплатно* возим по Москве и до терминалов ТК</div>
        <img src="assets/cuptrade/img/site_delivery.jpg" alt="" class="main-nav__bg">
      </a>
      <a href="delivery.html" class="main-nav">
        <div class="main-nav__title">Оплата</div>
        <div class="main-nav__text">Платите как угодно: картой, наличными или безналичным расчетом</div>
        <img src="assets/cuptrade/img/site_payment.jpg" alt="" class="main-nav__bg">
      </a>
      <a href="contacts.html" class="main-nav">
        <div class="main-nav__title">Приезжайте в гости</div>
        <div class="main-nav__text">Офис, шоу-рум, склад и производство в одном</div>
        <img src="assets/cuptrade/img/site_office.jpg" alt="" class="main-nav__bg">
      </a>
    </div>
  </div>
</div>