<div
  class="offer-top-section section">
  <div
    class="section-wrapper">
    <div
      class="offer-top">
      <div
        class="offer-top__info">
        <div
          class="offer-top__text">
          Бесплатная доставка при заказе от 10 000 шт
        </div>
        <a
          href=""
          class="button button-outlined offer-top__button">
          Подробнее
        </a>
      </div>
      <img
        src="assets/cuptrade/img/offer_top_cups.png"
        alt=""
        class="offer-top__img">
      <img
        src="assets/cuptrade/img/ico/ico-cross-white.svg"
        alt=""
        class="offer-top__close js-offerTop_Close">
    </div>
  </div>
</div>
