/*_______ Offer Top _______*/
/* #region */
.offer-top-section {
  position: relative;
  background-color: @black;
  z-index: 1;
}
.offer-top {
  display: flex;
  align-items: center;
}
.offer-top__info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 18px;
  padding-bottom: 18px;
}
.offer-top__text {
  margin-right: 40px;
  font-size: 16px;
  line-height: 1.2;
  color: @white;
}
.offer-top__button {
  padding: 8px 30px 10px;
}
.offer-top__img {
  align-self: stretch;
  // margin-right: 150px;
  margin-left: auto;
  // height: 100%;
  object-fit: fill;
}
.offer-top__close {
  margin-left: auto;
  cursor: pointer;
}
/* #endregion */

@media (max-width: 1030px) {
  .offer-top__info {
    margin-right: 50px;
  }
  .offer-top__text {
    width: 160px;
    font-size: 14px;
  }
  .offer-top__img {
    margin-left: 0;
    // margin-right: 0;
  }
}

@media (max-width: 860px) {
  .offer-top__info {
    margin-right: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .offer-top__text {
    margin-right: 20px;
  }
  .offer-top__img {
    height: 63px;
  }
}

@media (max-width: 720px) {
  .offer-top__info {
    margin-right: 20px;
  }
  .offer-top__text {
    width: auto;
  }
  .offer-top__img {
    display: none;
  }
}

@media (max-width: 420px) {
  .offer-top__button {
    padding: 8px 20px;
    font-size: 14px;
  }
}
