<div class="footer-section section">
  <div class="section-wrapper">
    <div class="footer">
      <div class="footer-col footer-nav footer-nav-first">
        <a href="https://www.cuptrade.ru/katalog/" class="footer-nav__heading">
          Каталог
        </a>
        <a href="https://www.cuptrade.ru/katalog/odnosloynye-stakany/" class="footer-nav__item">
          Однослойные стаканы
        </a>
        <a href="https://www.cuptrade.ru/katalog/dvuhsloynye-stakany/" class="footer-nav__item">
          Двухслойные стаканы
        </a>
        <a href="https://www.cuptrade.ru/katalog/kryshki-dlya-stakanov/" class="footer-nav__item">
          Крышки
        </a>
        <a href="https://www.cuptrade.ru/katalog/soputstvuyuschie-tovary/" class="footer-nav__item">
          Сопутствующие товары
        </a>
        <a href="https://www.cuptrade.ru/katalog/plastikovye-stakany-i-kryshki/" class="footer-nav__item">
          Пластиковые стаканы и крышки
        </a>
        <a href="https://www.cuptrade.ru/katalog/upakovka-iz-bumagi/" class="footer-nav__item">
          Упаковка из бумаги
        </a>
        <a href="https://www.cuptrade.ru/nanesenie-logotipa/" class="footer-nav__item">
          Нанесение логотипа
        </a>
        <a href="https://www.cuptrade.ru/individualnyy-dizayn/" class="footer-nav__item">
          Индивидуальный дизайн
        </a>
      </div>
      <div class="footer-col footer-nav footer-nav-second">
        <a href="https://www.cuptrade.ru/o-nas/" class="footer-nav__heading">
          О нас
        </a>
        <a href="https://www.cuptrade.ru/o-nas/" class="footer-nav__item">
          О компании
        </a>
        <a href="https://www.cuptrade.ru/dostavka-i-oplata/" class="footer-nav__item">
          Доставка и оплата
        </a>
        <a href="https://www.cuptrade.ru/kontakty/" class="footer-nav__item">
          Контакты
        </a>
        <div class="footer-nav__sections">
          <a href="https://www.cuptrade.ru/individualnyy-dizayn/" class="footer-nav__section">
            Ваш дизайн
          </a>
          <a href="https://www.cuptrade.ru/nanesenie-logotipa/" class="footer-nav__section">
            Ваш логотип
          </a>
          <a href="https://www.cuptrade.ru/proizvodstvo/" class="footer-nav__section">
            Производство
          </a>
        </div>
      </div>
      <div class="footer-col footer-contacts">
        <a href="" class="footer-nav__heading">
          Контакты
        </a>
        <div class="footer-contact footer-address">
          г. Москва, ул. Свободы 35, с10
        </div>
        <a href="tel:+74951289542" class="footer-contact footer-phone">
          +7 (495) 128-95-42
        </a>
        <a href="mailto:hey@cuptrade.ru" class="footer-contact footer-mail">
          hey@cuptrade.ru
        </a>
        <button class="button button-primary js-modalCall" data-modal-called="modalCallback">
          Заказать звонок
        </button>

        <div class="footer-socnet">
          <a href="" class="footer-socnet__item">
            <img src="assets/cuptrade/img/ico/ico-inst-gradient.svg" alt="" class="footer-socnet__ico">
          </a>
          <a href="" class="footer-socnet__item">
            <img src="assets/cuptrade/img/ico/ico-whatsapp-green.svg" alt="" class="footer-socnet__ico">
          </a>
          <a href="" class="footer-socnet__item">
            <img src="assets/cuptrade/img/ico/ico-telegram-color.svg" alt="" class="footer-socnet__ico">
          </a>
        </div>
      </div>
      <div class="footer-col footer-connect">
        <div class="footer-connect__item footer-connect__item-first js-modalCall" data-modal-called="modalGetExample">
          <span class="footer-connect__ico">
            <svg width="19" height="20" viewbox="0 0 19 20" fill="#000100" xmlns="http://www.w3.org/2000/svg" class="ico-svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M.333 3.42A3 3 0 013.303 0h12.391a3 3 0 012.97 3.424l-.174 1.217-1.98-.282.174-1.218A1 1 0 0015.694 2H3.304a1 1 0 00-.99 1.14l1.983 14a1 1 0 00.99.86h8.496a1 1 0 00.984-.82l.25-1.36 1.967.36-.25 1.361A3 3 0 0113.784 20H5.286a3 3 0 01-2.97-2.58l-1.984-14z" /><path fill-rule="evenodd" clip-rule="evenodd" d="M15 13V7h2v6h-2z" /> <path fill-rule="evenodd" clip-rule="evenodd" d="M13 9h6v2h-6V9z" /></svg>
          </span>
          <span class="footer-connect__item-text">
            Получить образцы
          </span>
        </div>
        <div class="footer-connect__item js-modalCall" data-modal-called="modalGetOptprice">
          <span class="footer-connect__ico">
            <svg width="20" height="14" viewbox="0 0 20 14" fill="#000100" xmlns="http://www.w3.org/2000/svg" class="ico-svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M2 6.8v4a1 1 0 001 1h14a1 1 0 001-1v-4h2v4a3 3 0 01-3 3H3a3 3 0 01-3-3v-4h2z" /><path fill-rule="evenodd" clip-rule="evenodd" d="M4.307 1.721L5.693.28 10 4.414 14.307.279l1.386 1.442L10 7.186 4.307 1.721z" /></svg>
          </span>
          <span class="footer-connect__item-text">
            Оптовый прайс-лист
          </span>
        </div>
        <br>
        <div class="footer-yaorg-rate">
          <img src="assets/cuptrade/img/yandex_rate.jpg" alt="">
          <!-- <iframe src="https://yandex.ru/sprav/widget/rating-badge/20968097212" width="150" height="50" class="footer-yaorg-rate"></iframe> -->
        </div>
      </div>


      <div class="footer-site">
        <a href="https://www.cuptrade.ru/" class="footer-logo footer-site__col">
          <img src="assets/cuptrade/img/logo-cuptrade.svg" alt="" class="footer-logo__img">
          <div class="footer-logo__text">
            <span>
              Одноразовая посуда
            </span>
            <span>
              из эко-материалов
            </span>
          </div>
        </a>
        <div class="footer-owner footer-site__col">
          © 2017–2021 «CupTrade» — одноразовая посуда и сопутствующие товары
        </div>
        <div class="footer-infolaw footer-site__col">
          <div class="footer-infolaw__item">
            ООО «Каптрейд Лимитед»
          </div>
          <div class="footer-infolaw__item">
            ИНН: 123456789123
          </div>
          <div class="footer-infolaw__item">
            ОГРН: 123456789123
          </div>
        </div>
        <a href="https://ne-prosto.ru" class="footer-developer footer-site__col">
          Разработка сайта – Непросто
        </a>
      </div>

    </div>
  </div>
</div>