/*_______ Footer _______*/
/* #region */
.footer {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid @stroke_dark;
}
.footer-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  // width: calc(25% - 30px);
  width: 25%;
  padding-top: 44px;
  padding-bottom: 32px;
}
.footer-nav-first {
  padding-right: 30px;
}
.footer-nav-second {
  padding-right: 30px;
  padding-left: 30px;
  border-left: 1px solid @stroke_dark;
}
.footer-nav__heading {
  margin-bottom: 14px;
  font-weight: @fw-semibold;
  font-size: 18px;
  line-height: 1.2;
  color: @grey;
  &:hover {
    color: @black;
  }
}
.footer-nav__item {
  margin-bottom: 4px;
  padding: 4px 0;
  font-size: 16px;
  line-height: 1.2;
  color: @black;
  // &:hover {
  //   color: @grey;
  // }
}
.footer-nav__sections {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 32px;
}
.footer-nav__section {
  margin-bottom: 6px;
  font-weight: @fw-semibold;
  font-size: 18px;
  line-height: 1.5;
  color: @black;
  // &:hover {
  //   color: @grey;
  // }
}
.footer-contacts {
  padding-right: 30px;
  padding-left: 30px;
  border-left: 1px solid @stroke_dark;
  font-size: 16px;
  line-height: 1.5;
}
.footer-contact {
  margin-bottom: 14px;
  font-size: 16px;
  line-height: 1.5;
  color: @black;
}
.footer-address {
}
.footer-phone {
}
.footer-mail {
  margin-bottom: 24px;
}
.footer-socnet {
  display: flex;
  align-items: center;
  margin: 28px -12px 0;
}
.footer-socnet__item {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-right: 12px;
  margin-left: 12px;
  &:last-child {
    margin-right: 0;
  }
  // &:hover {
  //   opacity: 0.5;
  // }
}
.footer-connect {
  padding-left: 30px;
  border-left: 1px solid @stroke_dark;
}
.footer-connect__item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1;
  color: @black;
  cursor: pointer;
}
.footer-connect__ico {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  margin-right: 14px;
  border-radius: 50%;
  background-color: @very_light_red;
  // .transition();
}
.footer-connect__item:hover .footer-connect__ico {
  background-color: @red;
  .shadow_red_buttons();
}
.footer-connect__item:hover .ico-svg {
  fill: @white;
}
.footer-yaorg-rate {
  padding-top: 20px;
}

.footer-site {
  display: flex;
  align-items: flex-start;
  width: 100%;
  border-top: 1px solid @stroke_dark;
  padding-top: 36px;
  padding-bottom: 36px;
  line-height: 1.2;
  color: @grey;
}
.footer-site__col {
  width: 25%;
  font-size: 14px;
  line-height: 1.2;
}
.footer-logo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-shrink: 0;
  &:hover {
    opacity: 0.6;
  }
}
.footer-logo__img {
  margin-right: 16px;
}
.footer-logo__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: @fw-semibold;
  font-size: 11px;
  line-height: 1;
  color: @grey;
}
.footer-owner {
  padding-right: 30px;
  padding-left: 30px;
}
.footer-infolaw {
  padding-right: 30px;
  padding-left: 30px;
}
.footer-infolaw__item {
  margin-bottom: 14px;
}
.footer-developer {
  padding-left: 30px;
  font-size: 14px;
  line-height: 1.2;
  color: @grey;
}
/* #endregion */

@media (max-width: 1030px) {
  .footer-col {
    width: 50%;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .footer-nav__sections {
    padding-top: 20px;
  }
  .footer-contacts {
    padding-left: 0;
    border-top: 1px solid @stroke_dark;
    border-left: none;
  }
  .footer-connect {
    border-top: 1px solid @stroke_dark;
  }

  .footer-site__col {
    font-size: 12px;
  }
  .footer-logo__img {
    margin-right: 0;
    margin-bottom: 8px;
  }
  .footer-logo__text {
    margin-left: 30px;
    font-size: 10px;
  }
  .footer-owner {
    padding-right: 10px;
    padding-left: 10px;
  }
  .footer-infolaw {
    padding-right: 10px;
    padding-left: 10px;
  }
  .footer-infolaw__item {
    margin-bottom: 8px;
  }
  .footer-developer {
    padding-left: 10px;
    font-size: 12px;
  }
}

@media (max-width: 640px) {
  .footer-site {
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .footer-site__col {
    width: 100%;
  }
  .footer-logo {
    order: 1;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 24px;
  }
  .footer-logo__img {
    margin-right: 16px;
    margin-bottom: 0;
  }
  .footer-logo__text {
    margin-left: 0;
    font-size: 11px;
  }
  .footer-owner {
    order: 3;
    margin-bottom: 18px;
    padding-top: 16px;
    border-top: 1px solid @stroke_dark;
    text-align: center;
  }
  .footer-infolaw {
    order: 2;
    margin-bottom: 16px;
    font-size: 14px;
    text-align: center;
  }
  .footer-infolaw__item {
    margin-bottom: 14px;
  }
  .footer-developer {
    order: 4;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .footer-col {
    padding-top: 26px;
    padding-bottom: 24px;
  }
  .footer-nav-first {
    padding-right: 10px;
  }
  .footer-nav-second {
    padding-right: 0;
    padding-left: 10px;
    border-left: 1px solid @stroke_dark;
  }
  .footer-nav__heading {
    font-size: 14px;
  }
  .footer-nav__item {
    margin-bottom: 6px;
    padding: 5px 0;
    font-size: 14px;
    line-height: 1.3;
  }
  .footer-nav__sections {
    width: calc(100% + 10px);
    margin-top: 16px;
    margin-left: -10px;
    padding-top: 26px;
    padding-left: 10px;
    border-top: 1px solid @stroke_dark;
  }
  .footer-nav__section {
    margin-bottom: 18px;
    font-size: 14px;
    line-height: 1.3;
  }
  .footer-contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-right: 0;
    padding-bottom: 30px;
  }
  .footer-contact {
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 1.3;
    color: @black;
  }
  .footer-mail {
    margin-bottom: 20px;
  }
  .footer-socnet {
    justify-content: center;
    margin-top: 32px;
  }
  .footer-connect {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 0;
    padding-left: 0;
    border-left: none;
  }
  .footer-connect__item {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-bottom: 0;
    padding-top: 20px;
    font-size: 14px;
    line-height: 1.3;
  }
  .footer-connect__item-first {
    border-right: 1px solid @stroke_dark;
  }
  .footer-connect__ico {
    margin-right: 0;
    margin-bottom: 12px;
  }
  .footer-connect__item-text {
    display: inline-flex;
    width: 84px;
    padding-bottom: 20px;
    text-align: center;
  }
  .footer-yaorg-rate {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 24px;
    border-top: 1px solid @stroke_dark;
  }
}
