/*_______ Notfound 404 page _______*/
/* #region */
.notfound {
  padding-top: 110px;
  padding-bottom: 400px;
  background: url("../img/404.png") 50% 50% no-repeat;
  background-size: cover;
}
.notfound-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.notfound__title {
  width: 430px;
  margin-bottom: 40px;
  font-weight: @fw-semibold;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  color: @black;
}
.notfound-button__ico {
  height: 11px;
  margin-right: 14px;
  margin-bottom: -1px;
}
/* #endregion */

@media (max-width: 860px) {
  .notfound {
    padding-top: 132px;
    padding-bottom: 440px;
  }
  .notfound__title {
    margin-bottom: 36px;
  }
}

@media (max-width: 560px) {
  .notfound {
    padding-top: 50px;
    padding-bottom: 360px;
    background: url("../img/404_2.png") 50% 50% no-repeat;
    background-size: cover;
  }
  .notfound__title {
    width: 235px;
    margin-bottom: 24px;
    font-size: 20px;
  }
}
