<div class="notfound section">
  <div class="notfound-wrapper">
    <div class="notfound__title">К сожалению, страница не найдена.</div>
    <a href="/" class="button button-primary notfound-button">
      <img src="assets/cuptrade/img/ico/ico-chevron_left-white.svg" class="notfound-button__ico">
      Вернуться на главную
    </a>
  </div>
</div>