/*_______ contacts _______*/
/* #region */
.contacts-section {
  margin-bottom: 120px;
}
.contacts__content {
}
.contacts {
  margin-bottom: 52px;
  border-top: 1px solid @stroke_dark;
}
.contacts-modules {
  display: flex;
  margin: 0 -30px;
}
.contacts-module {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 33.33%;
  padding: 40px 30px 0;
}
.contacts-module--1 {
  border-right: 1px solid @stroke_dark;
}
.contacts-module--2 {
  border-right: 1px solid @stroke_dark;
}
.contacts-module--3 {
  border-right: 1px solid @stroke_dark;
}
.contacts__title {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.2;
  color: @grey;
}
.contacts__text {
  font-weight: @fw-semibold;
  font-size: 24px;
  line-height: 1.5;
  text-decoration: none;
  color: @black;
  &:hover {
    text-decoration: none;
  }
}
.contacts__map {
  width: 100%;
  height: 390px;
  // border: 1px solid @red;
}
/*#map [class*="-ground-pane"] {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}*/

.contacts-section .section-heading {
  margin-top: 48px;
  margin-bottom: 70px;
}
.contacts-page-title {
  margin-top: 48px;
  margin-bottom: 40px;
}
.contacts-form-section {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 120px;
  // z-index: 1;
}
.contacts-form__bg {
  position: absolute;
  top: -43%;
  left: 0;
  width: 100%;
  height: 780px;
  background-color: @very_light_red;
  z-index: -1;
}
.contacts-form__shape {
  position: absolute;
  bottom: 140px;
  left: -120px;
  z-index: 1;
}
.contacts-form__title {
  margin-bottom: 40px;
  text-align: center;
}
.contacts-form__subtitle {
  width: 100%;
  max-width: 480px;
  margin: 0 auto 52px;
  font-size: 18px;
  line-height: 1.4;
  text-align: center;
}
.contacts-form {
  width: 100%;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  padding: 80px 100px 70px;
  background-color: @white;
  .shadow_white_card();
}
.contacts-form__switchers {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  margin: 0 -15px 30px;
}
.contacts-form__switcher {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 15px;
  margin-left: 15px;
  padding-right: 42px;
  padding-bottom: 10px;
  border-bottom: 2px solid @stroke_dark;
  font-size: 18px;
  line-height: 1;
  color: @black;
  cursor: pointer;
}
.contacts-form__switcher-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}
// .contacts-form__switcher-text {
// }
.contacts-form__switcher:hover {
  color: @red;
  border-bottom: 2px solid @red;
}
.contacts-form__switcher:hover .ico-svg {
  fill: @red;
}
.contacts-form__switcher--active {
  color: @red;
  border-bottom: 2px solid @red;
}
.contacts-form__switcher--active .ico-svg {
  fill: @red;
}
.contacts-form__switchers-note {
  margin-bottom: 14px;
  font-size: 14px;
  color: @grey;
}
.contacts-form__field--hidden {
  display: none;
}
.contacts-form__submit {
  width: 100%;
  margin-top: 48px;
}
/* #endregion */

@media (max-width: 1030px) {
  .contacts {
    margin-bottom: 40px;
  }
  .contacts-modules {
    flex-wrap: wrap;
    margin-right: 0;
    margin-left: 0;
  }
  .contacts-module {
    align-items: center;
    padding: 26px 20px 30px;
    width: 50%;
    text-align: center;
  }
  .contacts-module--1 {
    border-right: 1px solid @stroke_dark;
    border-bottom: 1px solid @stroke_dark;
  }
  .contacts-module--2 {
    border-right: none;
    border-bottom: 1px solid @stroke_dark;
  }
  .contacts__title {
    margin-bottom: 10px;
  }
}

@media (max-width: 860px) {
  .contacts-section {
    margin-bottom: 100px;
  }

  .contacts-section .section-heading {
    margin-top: 50px;
    margin-bottom: 64px;
  }
  .contacts-form-section {
    margin-bottom: 100px;
  }
  .contacts-form__bg {
    height: 740px;
  }
  .contacts-form__shape {
    bottom: 120px;
    left: -190px;
  }
  .contacts-form__title {
    margin-bottom: 24px;
    font-size: 40px;
  }
  .contacts-form {
    padding: 80px 60px 70px;
  }
}

@media (max-width: 640px) {
  .contacts-section {
    margin-bottom: 50px;
  }
  .contacts__title {
    margin-bottom: 8px;
    font-size: 14px;
  }
  .contacts__text {
    font-size: 20px;
  }
  .contacts__map {
    height: 360px;
  }

  .contacts-form__title {
    margin-bottom: 20px;
    font-size: 32px;
  }
  .contacts-form__subtitle {
    margin-bottom: 40px;
    font-size: 16px;
  }

  .contacts-form__switchers {
    margin: 0 -10px 16px;
  }
  .contacts-form__switcher {
    margin-right: 10px;
    margin-left: 10px;
    padding-right: 20px;
    padding-bottom: 8px;
    font-size: 16px;
  }
  .contacts-form__switchers-note {
    margin-bottom: 10px;
  }

  .contacts-form {
    padding: 60px 40px 50px;
  }
  .contacts-form__submit {
    margin-top: 36px;
  }
}

@media (max-width: 560px) {
  .contacts-section {
    margin-bottom: 60px;
  }
  .contacts-section .section-heading {
    margin-top: 70px;
    margin-bottom: 83px;
  }
  .contacts-module {
    padding: 18px 10px 20px;
  }
  .contacts__title {
    margin-bottom: 6px;
    // font-size: 14px;
  }
  .contacts__text {
    font-size: 18px;
  }
  .contacts__map {
    height: 320px;
  }

  .contacts-form__bg {
    height: 640px;
  }
  .contacts-form__shape {
    display: none;
  }
  .contacts-form {
    padding: 50px 30px 50px;
  }
}

@media (max-width: 480px) {
  .contacts-section {
    margin-bottom: 60px;
  }
  .contacts-module {
    padding-right: 0;
    padding-left: 0;
  }
  .contacts__title {
    font-size: 12px;
  }
  .contacts__text {
    font-size: 16px;
  }
  .contacts__map {
    height: 280px;
  }

  .contacts-form-section {
    margin-bottom: 80px;
  }
  .contacts-form__title {
    font-size: 28px;
  }
  .contacts-form__subtitle {
    margin-bottom: 40px;
    font-size: 14px;
  }
  .contacts-form {
    padding: 40px 20px 40px;
  }
  .contacts-form__submit {
    margin-top: 22px;
  }
}

@media (max-width: 420px) {
  .contacts__map {
    height: 260px;
  }

  .contacts-form__switchers {
    margin-right: -8px;
    margin-left: -8px;
  }
  .contacts-form__switcher {
    margin-right: 8px;
    margin-left: 8px;
    padding-right: 6px;
    padding-bottom: 6px;
    font-size: 14px;
  }
}

@media (max-width: 380px) {
  .contacts__text {
    font-size: 14px;
  }

  .contacts-form__switchers {
    margin-right: -4px;
    margin-left: -4px;
  }
  .contacts-form__switcher {
    margin-right: 4px;
    margin-left: 4px;
    padding-right: 4px;
    font-size: 12px;
  }

  .contacts-form__switchers-note {
    font-size: 12px;
  }
}
