<div class="contacts-section section">
  <div class="section-wrapper">
    <div class="contacts">
      <div class="contacts-modules">
        <div class="contacts-module contacts-module--1">
          <div class="contacts__title">Склад, шоу-рум, офис</div>
          <div class="contacts__text">г. Москва,<br>ул. Свободы 35, с 10</div>
        </div>
        <div class="contacts-module contacts-module--2">
          <div class="contacts__title">Отдел продаж</div>
          <a href="tel:+75242572578" class="contacts__text">+7 (524) 257-25-78</a>
        </div>
        <div class="contacts-module contacts-module--3">
          <div class="contacts__title">Почта</div>
          <a href="mailto:hey@cuptrade.ru" class="contacts__text">hey@cuptrade.ru</a>
        </div>
        <div class="contacts-module contacts-module--4">
          <div class="contacts__title">Работаем в будние дни</div>
          <div class="contacts__text">с 9:00 до 19:00</div>
        </div>
      </div>
    </div>
    <div id="map" class="contacts__map"></div>
  </div>
</div>